﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header" >
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
            <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
            <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper" >
            <div class="container-fluid" ng-controller="manageapmcCtrl">

                <div class="white-box">
                <div class="row">
                    <div class="pull-left">
                        <h3>APMC</h3>
                    </div>
                    <div class="pull-right" ng-if="isCustomer">
                        <a ng-if="isUserEntitled(360364)" title="View Questionnaire Details" ng-click="goToAPMCEdit(0)" class="btn btn-info pull-right add-new-btn top-half-buffer">Add New APMC</a>
                        <!--<a title="View Questionnaire Details" ng-click="goToAPMCEdit(0)" class="btn btn-info pull-right add-new-btn">Add New APMC</a>-->
                    </div>

                </div>
                </div>
                
                <div class="white-box">
                    <div class="row">

                        <table class="table table-hover table-responsive z-depth-1 clear-both">
                            <thead>
                                <tr style="font-weight: bold">
                                    <td style="width:14%">APMC Name</td>
                                    <td style="width:25%">APMC Description</td>
                                    <td style="width:15%; text-align:center">Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="apmc in apmcList">
                                    <td ng-click="goToEditQuestionaire(questionnaire)" style="cursor:pointer;color:blue;">
                                        {{apmc.apmcName}}
                                    </td>
                                    <td>
                                        {{apmc.apmcDescription}}
                                    </td>
                                    <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                        <a class="fa fa-edit" role="button" ng-click="goToAPMCEdit(apmc.apmcID)"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

            </div>

        </div>
    </div>

        <footer id="footer" data-ng-include="'template/footer.html'"></footer>
