﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">








                <div class="card" ng-controller="macCtrl">
                    <div class="card-body card-padding">

                        <div class="row">
                            <div class="col-md-6">
                                <h4> PO Form</h4>
                            </div>
                            <!--<div class="col-md-6">
                                <a target="_blank " class="pull-right" ng-if="po.listPOItems[0].poLink > 0" href="FileDownload.aspx?attachid={{po.listPOItems[0].poLink}}&sessionid={{sessionID}}"><strong>Download PO</strong></a>
                            </div>-->

                        </div>

                        <div class="row">

                            <div class="top-buffer form-group fg-float col-md-2 m-b-30">
                                <div class="fg-line fg-toggled">
                                    <input name="purchaseID" id="purchaseID" class="form-control" ng-change="autoUpdateForAllItems();CheckUniqueIfExists(purchaseID,'PURCHASE_ID')" placeholder="" ng-model="purchaseID">
                                    <label class="fg-label">Po Number <label ng-if="isExists" class="text-danger">( PO Number already exists )</label></label>
                                </div>

                            </div>

                            <div class="top-buffer form-group fg-float col-md-2 m-b-30">
                                <div class="fg-line fg-toggled">
                                    <!--<input ng-disabled="!isCustomer" name="indentID" id="indentID" class="form-control" ng-change="autoUpdateForAllItems();" placeholder="" ng-model="indentID">-->
                                    <select data-placeholder="Select a Vendor"
                                            ng-model="vendorID"
                                            ng-options="vend.vendorID as vend.vendorName for vend in requirement.reqVendors"
                                            class="form-control" ng-change="changeVendorsPrices(vendorID);"></select>
                                    <label class="fg-label">Select Vendors</label>
                                </div>
                            </div>

                            <div  class="top-buffer form-group fg-float col-md-3 m-b-30">
                                <div class="fg-line fg-toggled">
                                    <div moment-picker="expectedDeliveryDate" format="DD-MM-YYYY">
                                        <input name="expectedDeliveryDate" id="expectedDeliveryDate" class="form-control" placeholder="" ng-model="expectedDeliveryDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                    <label class="fg-label">Expected Delivery Date</label>
                                </div>
                            </div>

                            <div class="top-buffer form-group fg-float col-md-3 m-b-30">
                                <div class="fg-line fg-toggled">
                                    <input name="deliveryAddress" id="deliveryAddress" class="form-control" placeholder="" ng-model="deliveryAddress">
                                    <label class="fg-label">Delivery Address</label>
                                </div>
                            </div>
                            <div class="top-buffer col-md-2">
                                <button class='btn btn-info btn-sm btn-new-look' href='javascript:void(0);' ng-click="updateForAllItems()">Update for All Items</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive z-depth-1 clear-both">
                                <table class="table table-hover" style="background-color:#f5f5f5">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th>Item Name</th>
                                            <th>PO Qty</th>
                                            <th>Units</th>
                                            <th>V.U.Price</th>
                                            <th>PO.U.Price</th>
                                            <th>Total Unit Price</th>
                                            <!--th class="text-center">C-GST</th>
                                            <th class="text-center">S-GST</th>
                                            <th class="text-center">I-GST</th>
                                            <th class="text-center">V.T.Price</th>
                                            <th class="text-center">PO.T.Price</th>-->
                                            <th class="text-center">Expected Delivery Date</th>
                                            <th class="text-center">Delivery Address</th>
                                            <!--<th class="text-center">Actions</th>-->

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in requirement.reqItems">
                                            <td>{{item.productIDorName}}</td>
                                            <td>
                                                <input ng-model="item.productQuantity" class="form-control fg-input" />
                                            </td>
                                            <td>
                                                <select style="margin-left:-5px;" ng-model="item.productQuantityIn" ng-options="BC.configValue as BC.configValue for BC in companyItemUnits" class="form-control"></select>
                                            </td>
                                            <td>
                                                 <input ng-model="item.revVendorUnitPrice" class="form-control fg-input" ng-disabled="true"/>
                                            </td>
                                            <td>
                                                 <input ng-model="item.poUnitPrice" class="form-control fg-input"/>
                                            </td>
                                            <td class="text-center">
                                                <input ng-model="item.totalItemPrice" class="form-control fg-input" />
                                            </td>
                                            <!--<td class="text-center">
                                                <input ng-disabled="true" ng-if="isCustomer" ng-model="item.vendorPrice" class="form-control fg-input" />
                                                <label ng-disabled="true" ng-if="!isCustomer">{{item.vendorPrice}}</label>
                                            </td>
                                            <td class="text-center">
                                                <input ng-if="isCustomer" ng-change="taxCalculation();" ng-model="item.poPrice" class="form-control fg-input" />
                                                <label ng-if="!isCustomer" ng-change="taxCalculation();">{{item.poPrice}}</label>
                                            </td>

                                            <td class="text-center">
                                                <input ng-disabled="true" ng-if="isCustomer" ng-model="item.cGst" class="form-control fg-input" />
                                                <label ng-if="!isCustomer">{{item.cGst}}</label>
                                            </td>

                                            <td class="text-center">
                                                <input ng-disabled="true" ng-if="isCustomer" ng-model="item.sGst" class="form-control fg-input" />
                                                <label ng-if="!isCustomer">{{item.sGst}}</label>
                                            </td>

                                            <td class="text-center">
                                                <input ng-disabled="true" ng-if="isCustomer" ng-model="item.iGst" class="form-control fg-input" />
                                                <label ng-if="!isCustomer">{{item.iGst}}</label>
                                            </td>

                                            <td class="text-center">
                                                <input ng-disabled="true" ng-if="isCustomer" ng-model="item.vendorTotalPrice" class="form-control fg-input" />
                                                <label ng-disabled="true" ng-if="!isCustomer">{{item.vendorTotalPrice}}</label>
                                            </td>
                                            <td class="text-center">
                                                <input ng-disabled="true" ng-if="isCustomer" ng-model="item.poTotalPrice" class="form-control fg-input" />
                                                <label ng-if="!isCustomer">{{item.poTotalPrice}}</label>
                                            </td>-->

                                          

                                            <td class="text-center">
                                                <div class="form-group fg-float col-sm-12 m-b-30">
                                                    <div class="fg-line fg-toggled">
                                                        <div moment-picker="item.expectedDeliveryDate" format="DD-MM-YYYY">
                                                            <input name="expectedDeliveryDate" id="expectedDeliveryDate" class="form-control" placeholder="" ng-model="item.expectedDeliveryDate">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<label>{{item.expectedDeliveryDate}}</label>-->
                                            </td>

                                            <td class="text-center">
                                                <div class="form-group fg-float col-sm-12 m-b-30">
                                                    <div class="fg-line fg-toggled">
                                                        <textarea name="deliveryAddress" id="deliveryAddress" class="form-control" rows="2" style="resize: vertical;" placeholder="" ng-model="item.deliveryAddress"></textarea>
                                                    </div>
                                                </div>
                                                <!--<label>{{item.deliveryAddress}}</label>-->
                                            </td>

                                            <!--<td>
                                               
                                            </td>-->


                                        </tr>
                                        <tr>
                                            <td class="text pull-right">Grand Total :{{1234566}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="row text-center" style="padding-top:30px;" ng-if="isCustomer">
                            <h3>
                                Upload Purchase Order :  <input type="checkbox" ng-model="checked">
                            </h3>
                            <div>
                                <div ng-show="checked">
                                    <br>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-info btn-file">
                                            <span class="fileinput-new">Choose a file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" id="poFile" doctype="poFile" ng-file-select-docs="onFileSelect($files)" />
                                        </span>
                                        <span class="fileinput-filename">{{po.poFile.fileName}}</span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center">
                            <!--<h4><input type="checkbox" ng-model="po.common" value="true" /> All the Delivery Date and Address are Same</h4>-->
                            <button class="btn btn-info btn-file btn-new-look" ng-click="postRequest()">Create PO</button>
                        </div>
                    </div>
                </div>







            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
