﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">


            <!--<a class="btn btn-info waves-effect waves-light add-btn visible-xs"><span>Create Requirment</span> <i class="fa fa-plus-circle m-l-5"></i></a>-->
            <div class="container-fluid">
                <div class="white-box" ng-controller="evaluationCtrl as pctrl">                    
                    <div class="table-responsive z-depth-2">
                        <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                            <tr ng-repeat="vendor in vendorsList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                <td data-title="'COMPANY NAME'">
                                    <a role="button" class="prmellipsis1" title="{{vendor.companyName}}" ng-click="goToVendorDetails(vendor.userID)">{{vendor.companyName}}</a>
                                </td>
                                <td data-title="'Location'" sortable="'Name'">
                                    <span class="prmellipsis1">{{vendor.firstName + ' ' + vendor.lastName}}</span>
                                </td>

                                <td data-title="'Vew'">
                                    <span class="prmellipsis1">{{ vendor.phoneNum}}</span>
                                </td>
                                <td data-title="'Score'">
                                    <span class="prmellipsis1"> {{ vendor.email}} </span>
                                </td>
                                <td data-title="'Status'">
                                    <a role="button" ng-click="activatecompanyvendor(vendor.userID, 0)"><i class="fas fa-trash-alt fa-2x"></i></a>
                                </td>
                                <td data-title="'Comments'">
                                    <a role="button" ng-click="activatecompanyvendor(vendor.userID, 0)"><i class="fas fa-trash-alt fa-2x"></i></a>
                                </td>
                            </tr>
                        </table>
                        <ul uib-pagination total-items="totalVendors" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                    </div>
                </div>
            </div>


            

        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>