﻿<header id="header" data-ng-include="'template/header.html'"></header>
<div id="wrapper">
    <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <div id="page-wrapper">
        
                <div class="row ">
                    &nbsp; &nbsp; &nbsp; &nbsp;
                </div>
                <div class="white-box" ng-controller="consalidatedReportCtrl">

                    <div class="box-title row">
                        
                        <div class="col-md-2 form-group top-half-buffer pull-left">
                            <label class="col-md-12 m-b-20"></label>
                            <h4>Consolidated Report</h4>

                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-12">From date</label>
                                <div class="col-md-12" moment-picker="reportFromDate" format="YYYY-MM-DD">
                                    <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                    <input class="form-control" placeholder="Select a date" ng-model="reportFromDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-12">To date</label>
                                <div class="col-md-12" moment-picker="reportToDate" format="YYYY-MM-DD">
                                    <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                    <input class="form-control" placeholder="Select a date" ng-model="reportToDate">
                                </div>
                            </div>
                        </div>

                        <!--<div class="col-md-2" style="margin-top: 26px;">
                            <select ng-model="reqStatus" ng-change="getStatusFilter(reqStatus)" class="form-control">
                                <option selected value="ALL">ALL STATUS</option>
                                <option value='UNCONFIRMED'>{{prmStatus(isCustomer,'UNCONFIRMED')}}</option>
                                <option value='STARTED'>{{prmStatus(isCustomer,'STARTED')}}</option>
                                <option value='NOTSTARTED'>{{prmStatus(isCustomer,'NOTSTARTED')}}</option>
                                <option value='Negotiation Ended'>{{prmStatus(isCustomer,'Negotiation Ended')}}</option>
                                <option value='DELETED'>{{prmStatus(isCustomer,'DELETED')}}</option>
                                <option value='IN_REVIEW_WITH_MYNTRA'>{{prmStatus(isCustomer,'IN_REVIEW_WITH_MYNTRA')}}</option>
                                <option value='Saved_As_Draft'>{{prmStatus(isCustomer,'Saved_As_Draft')}}</option>
                            </select>
                        </div>-->

                        <div class="col-md-1 top-buffer">
                            <label class="col-md-12 m-b-10"></label>
                            <button class="btn btn-info" ng-click="getConsalidatedReport();">Filter</button>
                        </div>


                        <div class="form-group fg-float col-md-3 m-b-30 pull-left top-buffer">
                            <label class="col-md-12 m-b-10"></label>
                            <button ng-click="GetReport()" class="pull-left btn btn-info ng-scope" href="javascript:void(0);">
                                Download Report
                            </button>
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px">
                        <div class="col-md-12 table-responsive">
                            <!--<small style="color:green"> Total Count:{{consalidatedReport.length}}</small>-->
                            <table id="testTable" class="table table-hover" style="background-color:#f5f5f5;margin-left: 20px;" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance">
                                <thead>
                                    <tr>
                                        <th>Req ID</th>
                                        <!--<th>User ID</th>-->
                                        <th>Title</th>
                                        <!--<th>Category</th>-->
                                        <th>Posted On</th>
                                        <th>Posted By</th>
                                        <th>Freeze Time</th>
                                        <th>Quotation Status</th>
                                        <th>Exp.Negotiation Start Time</th>
                                        <th>Scheduled</th>
                                        <!--<th>Savings</th>-->
                                        <th>Initial Least Price</th>
                                        <th>L1 Company Name</th>
                                        <!--<th>L1 Initial Price</th>-->
                                        <th>L1 Rev Price</th>
                                        <th>L2 Company Name</th>
                                        <!--<th>L2 Initial Price</th>-->
                                        <th>L2 Rev Price</th>
                                        <th>Savings</th>
                                        <th>Savings %</th>
                                        <th>QUANTITY</th>
                                        <th>ARTICLE_TYPE</th>
                                        <th>BRAND</th>
                                        <th>SEASON</th>
                                        <th>STATUS</th>
                                    </tr>
                                </thead>
                                 <tbody>
                                     <tr ng-repeat="consolidateReport in consalidatedReport.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">

                                         <td>
                                             {{consolidateReport.requirementID}}
                                         </td>
                                         <!--<td>
        {{consolidateReport.uID}}
    </td>-->

                                         <td>
                                             <a class="prmellipsis" title="{{consolidateReport.title}}" data-ui-sref="view-requirement({Id:consolidateReport.requirementID})">{{consolidateReport.title}}</a>
                                         </td>

                                         <!--<td>
        {{consolidateReport.reqCategory}}
    </td>-->
                                         <td>
                                             {{consolidateReport.reqPostedOn}}
                                         </td>
                                         <td>{{consolidateReport.POSTED_BY_USER}}</td>
                                         <td>
                                             {{consolidateReport.quotationFreezTime}}
                                         </td>


                                         <td>
                                             {{consolidateReport.noOfvendorsParticipated}} / {{consolidateReport.noOfVendorsInvited}}
                                         </td>
                                         <td>{{consolidateReport.expectedStartTime}}</td>
                                         <td>
                                             {{consolidateReport.ScheduledTime}}
                                         </td>


                                         <td>

                                             {{consolidateReport.IL1_vendTotalPrice}} <!--{{consolidateReport.initialL1BasePrice}}-->
                                         </td>


                                         <td>
                                             {{consolidateReport.RL1_companyName}}   <!--{{consolidateReport.L1Name}}-->
                                         </td>

                                         <!--<td>

        {{consolidateReport.RL1_initBasePrice}}  <{{consolidateReport.l1InitialBasePrice}}>
    </td>-->

                                         <td>

                                             {{consolidateReport.RL1_revVendTotalPrice}}   <!--{{consolidateReport.l1BasePrice}}-->
                                         </td>

                                         <td>

                                             {{consolidateReport.RL2_companyName}}  <!--{{consolidateReport.L2Name}}-->


                                         </td>

                                         <!--<td>

        {{consolidateReport.RL2_initBasePrice}}    <{{consolidateReport.l2InitialBasePrice}}>
    </td>-->

                                         <td>

                                             {{consolidateReport.RL2_revVendTotalPrice}}   <!--{{consolidateReport.revisedUserL2.revBasePrice}}-->
                                         </td>

                                         <td>
                                             {{consolidateReport.basePriceSavings}}
                                         </td>

                                         <td>
                                             {{consolidateReport.savingsPercentage}}
                                         </td>

                                         <td>
                                             {{consolidateReport.QUANTITY}}
                                         </td>

                                         <td>
                                             {{consolidateReport.ARTICLE_TYPE}}
                                         </td>

                                         <td>
                                             {{consolidateReport.BRAND}}
                                         </td>

                                         <td>
                                             {{consolidateReport.SEASON}}
                                         </td>


                                         <td>
                                             <!--{{prmStatus(isCustomer,consolidateReport.status) | uppercase}}-->
                                             {{consolidateReport.status | uppercase}}
                                         </td>

                                     </tr>
                                    <tr ng-show="consalidatedReport.length==0">
                                        <td colspan="14" align="center">
                                            No data available
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <ul ng-show="totalItems > itemsPerPage" uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>


                    <br />
                </div>
            </div>
        </div>
