﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div id="widget">
                    <div class="white-box" data-ng-controller="domesticQcsCtrlV2">

                        <div class="white-box">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-10 text-right">
                                        <button class="btn btn-info" ng-click="exportQcsTemplate()" value="Export to Excel"><i class="fa fa-download" aria-hidden="true">
                                                  </i> Export</button>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn btn-info btn-file m-r-10">
                                                <span class="fileinput-new">Upload Excel...</span>
                                                <span class="fileinput-exists">Edit</span>
                                                <input type="file" accept=".xlsx,.xls" id="qcsItemsAllocationBulkUpload" itemscope="" itemid="qcsItemsAllocationBulkUpload" ng-file-select-items="onFileSelect($files)" />
                                            </span>
                                            <span class="fileinput-filename" id="qcsItemsAllocationBulkUpload"></span>
                                            <a href="#" class="close fileinput-exists" style="color:#000;position:unset;padding:5px 0px 0px 5px;" data-dismiss="fileinput">&times;</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive" double-scroll-bar-horizontal>
                                    <table id="testTable" class="table" style="width:100%;">
                                        <!--<tr style="background-color:lightblue;" ng-hide="exportStart">
                                            <td colspan="{{ReqReportForExcel.reqItems[0].reqVendors.length + 12}}" style="border:1px solid black;text-align:center;">
                                                <h3><strong>Domestic QCS</strong></h3>
                                            </td>
                                        </tr>
                                        <tr style="background-color:lightblue;" ng-hide="exportStart">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 5}}" style="border:1px solid black;">
                                                <h5>RFQ ID: <strong>{{ReqReportForExcel.requirementID}}</strong></h5>
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 7}}" style="border:1px solid black;">
                                                <h5>DATE: <strong>{{ReqReportForExcel.currentDate}}</strong></h5>
                                            </td>
                                        </tr>
                                        <tr style="background-color:lightblue" ng-hide="exportStart">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 5}}" style="border:1px solid black;">
                                                <h5>TITLE: <strong>{{ReqReportForExcel.title}}</strong></h5>
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 7}}" style="border:1px solid black;">
                                                <h5>CREATED BY: <strong>{{ReqReportForExcel.postedByFirstName}} {{ReqReportForExcel.postedByLastName}}</strong></h5>
                                            </td>
                                        </tr>-->
                                        <tr>
                                            <td style="border:1px solid black;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid black;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid black;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid black;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid black;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid black;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid black;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid black;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid black;">
                                                &nbsp;
                                            </td>
                                            <td style="border:1px solid black;">
                                                &nbsp;
                                            </td>


                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color: #FFF2CC; border: 1px solid black; ">
                                                <strong> {{vendor.companyName}} </strong>
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color: #DDEBF7; border: 1px solid black; ">
                                                <strong> {{vendor.companyName}} </strong>
                                            </td>
                                            <td style="background-color: #DDEBF7; border: 1px solid black; ">
                                            </td>
                                            <td style="background-color: #FFF; border: 1px solid black; ">
                                            </td>
                                            <td style="background-color: #FFF; border: 1px solid black; ">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border:1px solid black;">
                                                Item Id
                                            </td>
                                            <td style="border:1px solid black;">
                                                Article Type
                                            </td>
                                            <td style="border:1px solid black;">
                                                Article Name
                                            </td>
                                            <td style="border:1px solid black;">
                                                Article Number
                                            </td>
                                            <td style="border:1px solid black;">
                                                Style ID
                                            </td>
                                            <td style="border:1px solid black;">
                                                Brand
                                            </td>
                                            <td style="border:1px solid black;">
                                                Gender
                                            </td>
                                            <td style="border:1px solid black;">
                                                Quantity
                                            </td>

                                            <td style="border:1px solid black;">
                                                Season
                                            </td>

                                            <td style="border:1px solid black;">
                                                Target Cost
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color: #FFF2CC; border: 1px solid black;">
                                                <strong>{{vendor.vendorName}} Price</strong>
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color: #DDEBF7; border: 1px solid black;">
                                                <strong>Final Order Placement ({{vendor.vendorID}})</strong>
                                            </td>
                                            <td style="background-color: #DDEBF7; border: 1px solid black;">
                                                Total
                                            </td>
                                            <td style="background-color: #FFF; border: 1px solid black;">
                                                Remark
                                            </td>
                                            <td style="background-color: #FFF; border: 1px solid black;">
                                                Approve/Reject
                                            </td>
                                        </tr>
                                        <tr ng-repeat="item in ReqReportForExcel.reqItems">
                                            <td style="border:1px solid black;">
                                                <strong>{{item.itemID}}</strong>
                                            </td>
                                            <td style="border:1px solid black;">
                                                <strong>{{item.articleType}}</strong>
                                            </td>
                                            <td style="border:1px solid black;">
                                                <strong>{{item.productIDorName}}</strong>
                                            </td>
                                            <td style="border:1px solid black;">
                                                <strong>{{item.productCode}}</strong>
                                            </td>
                                            <td style="border:1px solid black;">
                                                <strong>{{item.productNo}}</strong>
                                            </td>
                                            <td style="width:2%;border:1px solid black;">
                                                <strong>{{item.productBrand}}  </strong>
                                            </td>
                                            <td style="width:2%;border:1px solid black;">
                                                <strong>{{item.GENDER}} </strong>
                                            </td>
                                            <td style="width:2%;border:1px solid black;">
                                                <strong>{{item.productQuantity}}</strong>
                                            </td>

                                            <td style="width:2%;border:1px solid black;">
                                                <strong>{{item.SEASON}}</strong>
                                            </td>
                                            <td style="width:2%;border:1px solid black;">
                                                <strong>{{item.buyerTargetCost}}</strong>
                                            </td>

                                            <td ng-repeat="vendor in item.reqVendors" style="background-color: #FFF2CC; border: 1px solid black;">
                                                <strong>{{vendor.quotationPrices.revUnitPrice}}</strong>
                                            </td>
                                            <td ng-repeat="vendor in item.reqVendors" style="background-color: #DDEBF7; border: 1px solid black;">
                                                <strong>{{vendor.quotationPrices.qcsAllocatedQuantity}}</strong>
                                            </td>
                                            <td style="background-color: #DDEBF7; border: 1px solid black; color: #000">
                                                <!--<strong>=SUM({{vendorStartCell}}{{itemRowStart + $index}}:{{vendorEndCell}}{{itemRowStart + $index}})</strong>-->
                                                <strong>{{item.qcsAllocatedQuantityTotal}}</strong>
                                            </td>
                                            <td style="background-color: #FFF; border: 1px solid black;">
                                                {{item.QCS_REMARKS}}
                                            </td>
                                            <td style="background-color: #FFF; border: 1px solid black;">
                                                {{item.QCS_APPROVE_STATUS}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>