﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div id="widget">
                    <div class="white-box" data-ng-controller="importQcsCtrlV2">

                        <div class="white-box">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-info" ng-click="ExportToExcel('testTable')" value="Export to Excel"><i class="fa fa-download" aria-hidden="true"></i> Export to Excel</button>
                                    </div>
                                    <!--onclick="tableToExcel('testTable', 'Comparitives')"-->
                                </div>
                                <div class="table-responsive" double-scroll-bar-horizontal>
                                    <table id="testTable" class="table" style="width:100%;">
                                        <tr style="background-color:lightblue;">
                                            <td colspan="{{ReqReportForExcel.reqItems[0].reqVendors.length + 12}}" style="border:1px solid black;text-align:center;">
                                                <h3><strong>Domestic QCS</strong></h3>
                                            </td>
                                        </tr>
                                        <tr style="background-color:lightblue;">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 5}}" style="border:1px solid black;">
                                                <h5>RFQ ID: <strong>{{ReqReportForExcel.requirementID}}</strong></h5>
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 7}}" style="border:1px solid black;">
                                                <h5>DATE: <strong>{{ReqReportForExcel.currentDate}}</strong></h5>
                                            </td>
                                        </tr>
                                        <tr style="background-color:lightblue">
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 5}}" style="border:1px solid black;">
                                                <h5>TITLE: <strong>{{ReqReportForExcel.title}}</strong></h5>
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)/2) + 7}}" style="border:1px solid black;">
                                                <h5>CREATED BY: <strong>{{ReqReportForExcel.postedByFirstName}} {{ReqReportForExcel.postedByLastName}}</strong></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" style="border:1px solid black;">
                                                &nbsp;
                                            </td>

                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color: #FFF2CC; border: 1px solid black; ">
                                                <strong> {{vendor.companyName}} </strong>
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color: #DDEBF7; border: 1px solid black; ">
                                                <strong> {{vendor.companyName}} </strong>
                                            </td>
                                            <td  style="background-color: #DDEBF7; border: 1px solid black; ">
                                                
                                            </td>
                                            <td  style="background-color: #FFF; border: 1px solid black; ">
                                                
                                            </td>
                                            <td  style="background-color: #FFF; border: 1px solid black; ">
                                                
                                            </td>
                                            <!-- VENDOR NAME -->
                                        </tr>
                                        <tr>
                                            <td style="border:1px solid black;">
                                                Article Type
                                            </td>
                                            <td style="border:1px solid black;">
                                                Article Name
                                            </td>
                                            <td style="border:1px solid black;">
                                                Article Number
                                            </td>
                                            <td style="border:1px solid black;">
                                                Style ID
                                            </td>
                                            <td style="border:1px solid black;">
                                                Quantity / Units
                                            </td>

                                            <td style="border:1px solid black;">
                                                Season
                                            </td>

                                            <td style="border:1px solid black;">
                                                Buyer Target Cost
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color: #FFF2CC; border: 1px solid black;">
                                                <strong>{{vendor.vendorName}} Price</strong>
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color: #DDEBF7; border: 1px solid black;">
                                                <strong>Final Order Placement</strong>
                                            </td>
                                            <td style="background-color: #DDEBF7; border: 1px solid black;">
                                                Total
                                            </td>
                                            <td style="background-color: #FFF; border: 1px solid black;">
                                                Remark
                                            </td>
                                            <td style="background-color: #FFF; border: 1px solid black;">
                                                Approve/Reject
                                            </td>
                                        </tr>
                                        <tr ng-repeat="item in ReqReportForExcel.reqItems">
                                            <td style="border:1px solid black;">
                                                <strong>{{item.articleType}}</strong>
                                            </td>
                                            <td style="border:1px solid black;">
                                                <strong>{{item.productIDorName}}</strong>
                                            </td>
                                            <td style="border:1px solid black;">
                                                <strong>{{item.productCode}}</strong>
                                            </td>
                                            <td style="border:1px solid black;">
                                                <strong>{{item.productNo}}</strong>
                                            </td>
                                          
                                            <td style="width:10%;border:1px solid black;">
                                                <strong>{{item.productQuantity}}  {{item.productQuantityIn}}</strong>
                                            </td>
                                           
                                            <td style="width:10%;border:1px solid black;">
                                                <strong>{{item.SEASON}}</strong>
                                            </td>
                                            <td style="width:10%;border:1px solid black;">
                                                <strong>{{item.buyerTargetCost}}</strong>
                                            </td>
                                           
                                            <td ng-repeat="vendor in item.reqVendors" style="background-color: #FFF2CC; border: 1px solid black;">
                                                <strong>{{vendor.quotationPrices.revitemPrice}}</strong>                                           
                                            </td>
                                             <td ng-repeat="vendor in item.reqVendors" style="background-color: #DDEBF7; border: 1px solid black;">
                                                <strong></strong>
                                             </td>
                                            <td style="background-color: #DDEBF7; border: 1px solid black; color: #DDEBF7">
                                                <strong>=SUM({{vendorStartCell}}{{itemRowStart + $index}}:{{vendorEndCell}}{{itemRowStart + $index}})</strong>
                                             </td>
                                            <td style="background-color: #FFF; border: 1px solid black;">
                                                <strong></strong>
                                             </td>
                                            <td style="background-color: #FFF; border: 1px solid black;">
                                                <strong></strong>
                                             </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>