﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listQCSCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>QCS List</h4>
                        </div>
                        <div class="col-md-2 pull-right text-right">
                            <button class="btn btn-info" ng-click="goToSaveDomesticQCS(reqID, 0)">Create Domestic</button>
                        </div>
                        <div class="col-md-3 pull-right text-right">
                            <button class="btn btn-info" ng-click="goToSaveImportQCS(reqID, 0)">Create Import</button>
                        </div>
                        <div class="col-md-1 pull-left">
                            <button class="btn btn-info" ng-click="goToApprovalQCS()">Approved QCS List</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>                        
                    </div>
                    <div class="row">
                        <table class="tablesaw table-striped table table-responsive z-depth-1 clear-both">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th style="width:10%">QCS NO</th>
                                    <th style="width:10%">QCS TYPE</th>
                                    <th style="width:15%; text-align:center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="qcs in QCSList">
                                    <td>
                                        {{qcs.QCS_CODE}}
                                    </td>
                                    <td>
                                        {{qcs.QCS_TYPE}}
                                    </td>
                                    <td data-title="'Actions'" ng-if="qcs.QCS_TYPE === 'IMPORT'" sortable="'Actions'" style="text-align:center">
                                        <a class="fa fa-edit" role="button" ng-click="goToSaveImportQCS(reqID, qcs.QCS_ID)"></a>
                                    </td>
                                    <td data-title="'Actions'"  ng-if="qcs.QCS_TYPE === 'DOMESTIC'" sortable="'Actions'" style="text-align:center">
                                        <a class="fa fa-edit" role="button" ng-click="goToSaveDomesticQCS(reqID, qcs.QCS_ID)"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
