﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">


                <div ng-controller="currencyManagementCtrl">
                    <div class="white-box pmb-block">
                        <div class="row">
                            <div class="pmbb-header">
                                <div class="col-md-12 form-group">
                                    <h3>
                                        Currency Management
                                    </h3>
                                    <button ng-show="addCurrency == false" ng-click="addCurrency = true" class="pull-right btn-sm btn btn-info btn-new-look top-buffer">Add Currency</button>
                                    <button ng-show="addCurrency == true" ng-click="addCurrency = false" class="pull-right btn-sm btn btn-info btn-danger top-buffer">Cancel</button>
                                </div>
                              
                                <br />
                                <!--<div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <button ng-show="addCurrency == false" ng-click="addCurrency = true" class="pull-left btn-sm btn btn-info btn-new-look top-buffer">Add Currency</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button ng-show="addCurrency == true" ng-click="addCurrency = false" class="pull-right btn-sm btn btn-info btn-danger top-buffer">Cancle</button>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="row form-group" >



                                    <div class="col-md-12 form-group" ng-show="addCurrency == true && isEditCurrency == false">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>CURRENCY &nbsp;</label>
                                                <select data-placeholder="Select a Currency"
                                                        name="currency"
                                                        ng-model="currencyObj.currency"
                                                        ng-options="currency.currency as currency.currency for currency in currencies"
                                                        class="form-control text-right p-0"
                                                        ng-change="CurrencyDefault(currencyObj.currency)"
                                                        style="text-align-last:center;"></select>
                                            </div>
                                            <div class="col-md-2">
                                                <label>VALUE &nbsp;</label>
                                                <input type="text" class="form-control" valid-number allow-decimal="true" allow-negative="false" ng-disabled="CurrencyDefaultValidation" ng-model="currencyObj.factor" />

                                            </div>


                                            <div class="col-md-3">
                                                <div class="form-group fg-float">
                                                    <div class="fg-line input-field">
                                                        <i class="mdi-social-person-outline prefix"></i>
                                                        <label class="fg-label" for="Validity From">START TIME</label>
                                                        <div moment-picker="currencyObj.startTime" format="DD-MM-YYYY HH:mm">
                                                            <input autocomplete="off" name="startTime" id="startTime" class="form-control" ng-disabled="userValidityFromDisabled" placeholder="Select a date"
                                                                   ng-model="currencyObj.startTime" ng-model-options="{ updateOn: 'blur' };" />
                                                        </div>

                                                        <div ng-show="currencyStartValidation || startValidation">
                                                            <div class="help-block error logininput text-danger" ng-show="startValidation">Please select Start Time</div>
                                                            <div class="help-block error logininput text-danger" ng-show="currencyStartValidation">Please select valid Start Time</div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group fg-float">
                                                    <div class="fg-line input-field">
                                                        <i class="mdi-social-person-outline prefix"></i>
                                                        <label class="fg-label" for="Validity To">END TIME </label>
                                                        <div moment-picker="currencyObj.endTime" format="DD-MM-YYYY HH:mm">
                                                            <input autocomplete="off" name="endTime" id="endTime" class="form-control"
                                                                   placeholder="Select a date"
                                                                   ng-model="currencyObj.endTime" ng-model-options="{ updateOn: 'blur' };" />
                                                        </div>

                                                        <div ng-show="currencyEndValidation || endValidation">
                                                            <div class="help-block error logininput text-danger" ng-show="ToValidation">Please select End Time</div>
                                                            <div class="help-block error logininput text-danger" ng-show="userValidityToValidation">End Time should be greater than Start Time and Current Time</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-12" style="text-align:center">
                                            <label><small> &nbsp; </small></label>
                                            <button class="btn btn-info m-t-20" ng-click="SaveCurrencyRates(currencyObj)">
                                                SAVE
                                            </button>
                                        </div>
                                    </div>

                                  <div class="col-md-12">
                                            <!--<h5><strong>RATES</strong></h5>-->
                                            <table class="table table-hover " style="background-color:#FFF;">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            CURRENCY
                                                        </th>
                                                        <th>
                                                            VALUE
                                                        </th>
                                                        <th>
                                                            START DATE
                                                        </th>
                                                        <th>
                                                            END DATE
                                                        </th>
                                                        <th>
                                                            ACTIONS
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="curr in currenciesbyid" ng-if="curr.factor > 0">
                                                        <td>
                                                            {{curr.currency}}
                                                        </td>
                                                        <td>
                                                            {{curr.factor}}
                                                        </td>
                                                        <td>
                                                            {{curr.startTime}}
                                                        </td>
                                                        <td>
                                                            {{curr.endTime}}
                                                        </td>
                                                        <td>
                                                            <a ng-click="editCurrency(curr)">
                                                                <i class="fa fa-edit" aria-hidden="true"></i> 
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                  </div>
                                   
                                </div>

                                <div class="row" ng-show="isEditCurrency == true">
                                    <div class="col-md-2">
                                        <label>CURRENCY &nbsp;</label>
                                        <input type="text" class="form-control" ng-disabled="true" ng-model="currencyObj.currency" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>VALUE &nbsp;</label>
                                        <input type="text" class="form-control" valid-number allow-decimal="true" allow-negative="false" ng-model="currencyObj.factor" />

                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group fg-float">
                                            <div class="fg-line input-field">
                                                <i class="mdi-social-person-outline prefix"></i>
                                                <label class="fg-label" for="Validity From">START TIME</label>
                                                <div moment-picker="currencyObj.startTime" format="DD-MM-YYYY HH:mm">
                                                    <input autocomplete="off" name="currencyObj.startTime" id="currencyObj.startTime" class="form-control" ng-disabled="userValidityFromDisabled" placeholder="Select a date"
                                                           ng-model="currencyObj.startTime" ng-model-options="{ updateOn: 'blur' };" />
                                                </div>

                                                <div ng-show="userValidityFromValidation || FromValidation">
                                                    <div class="help-block error logininput text-danger" ng-show="FromValidation">Please select Start Time</div>
                                                    <div class="help-block error logininput text-danger" ng-show="userValidityFromValidation">Please select valid Start Time</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group fg-float">
                                            <div class="fg-line input-field">
                                                <i class="mdi-social-person-outline prefix"></i>
                                                <label class="fg-label" for="Validity To">END TIME </label>
                                                <div moment-picker="currencyObj.endTime" format="DD-MM-YYYY HH:mm">
                                                    <input autocomplete="off" name="currencyObj.endTime" id="currencyObj.endTime" class="form-control"
                                                           placeholder="Select a date"
                                                           ng-model="currencyObj.endTime" ng-model-options="{ updateOn: 'blur' };" />
                                                </div>

                                                <div ng-show="userValidityToValidation || ToValidation">
                                                    <div class="help-block error logininput text-danger" ng-show="ToValidation">Please select End Time</div>
                                                    <div class="help-block error logininput text-danger" ng-show="userValidityToValidation">End Time should be greater than Start Time and Current Time</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label><small> &nbsp; </small></label>
                                        <button class="btn btn-info m-t-20" ng-click="SaveCurrencyRates(currencyObj)">
                                            SAVE
                                        </button>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>