﻿
    <div ng-controller="currencySettingsCtrl">
        <div class="white-box" ng-show="displayCard == 1 || displayCard == 0">
            <div class="box-title">
                <div class="row">
                    <div class="form-group fg-float col-md-4 m-b-30">
                        <h3>Currency Settings</h3>
                    </div>
                    <div class="col-md-2 form-group fg-float m-b-30">
                        <!--<h5><strong>End date </strong></h5>-->
                        <div class="col-md-20" moment-picker="currencyEndDate" format="DD-MM-YYYY">
                            <input class="form-control" placeholder="Select a date" ng-model="currencyEndDate" ng-model-options="{ updateOn: 'blur' }">
                           
                        </div>
                    </div>
                    <div class="col-md-1 form-group fg-float m-b-30"><button class="btn btn-info pull-right waves-effect waves-light" ng-click="setFilters();">Apply</button></div>
                    <div class="form-group fg-float col-md-4 m-b-30">
                        <button ng-click="editCurrencyFactor(currency,0)" class="btn btn-info pull-right add-new-btn">Add New Currency</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-if="addNewCurrencyView">
                    <div class="col-md-12">
                        <div class="form-group fg-float col-md-3 m-b-30">
                            <label>Currency Name </label>
                            <select ng-if="!addNewCurrencyView && currencies && currencies.length > 0" data-placeholder="Select Type" name="currency" ng-model="currency.currencyCode" ng-disabled="currencyCodeDisabled" ng-options="currency.value as currency.value for currency in currencies" class="form-control"></select>
                            <input ng-if="!(!addNewCurrencyView && currencies && currencies.length > 0)" type="text" ng-model="currency.currencyCode" name="currencyCode" id="currencyCode" class="form-control fg-input" />
                        </div>
                        <div class="form-group fg-float col-md-3 m-b-30">
                            <label class="fg-label">Currency Factor</label>
                            <div class="fg-line" ng-class="{'fg-toggled': (currency.curFactor)}">
                                <input type="number" ng-model="currency.currencyFactor" name="currencyFactor" id="currencyFactorID" class="form-control fg-input" />

                            </div>
                        </div>
                        <div class="form-group fg-float col-md-3 m-b-30">
                            <label class="col-md-12">Start date</label>
                            <div class="col-md-12" moment-picker="currency.fromDate" format="DD-MM-YYYY">
                                <input class="form-control" placeholder="Select a date" ng-model="currency.fromDate" ng-disabled="startDateDisabled" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="form-group fg-float col-md-3 m-b-30">
                            <label class="col-md-12">End date</label>
                            <div class="col-md-12" moment-picker="currency.toDate" min-date="minDateMoment" format="DD-MM-YYYY">
                                <input class="form-control" placeholder="Select a date" ng-model="currency.toDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="SaveCurrencyFactor()">Save </button>
                            <button class="btn btn-link btn-file btn-new-look" ng-click="closeCurrencyFactor()">Cancel</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 pull-left">
                    <label>Please enter curreny w.r.t <strong>INR</strong></label>
                </div>
                <div class="col-md-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr style="font-weight: bold">
                                <th style="width:20%">Currency Name</th>
                                <th style="width:20%">Currency Factor</th>
                                <!--<td style="width:20%">Dept Admin</td>-->
                                <th style="width:20%"> Start Date</th>
                                <th style="width:20%">End Date</th>
                                <th style="width:20%; text-align:center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="currencyFactor in currencyFactors.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                <td>{{currencyFactor.currencyCode}}</td>
                                <td>{{currencyFactor.currencyFactor}}</td>
                                <td>{{currencyFactor.fromDate}}</td>
                                <td>{{currencyFactor.toDate}}</td>
                                <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                    <a title="Edit Currency" ng-if="currencyFactor.currencyCode !== 'INR'" role="button" ng-click="editCurrencyFactor(currencyFactor,1);getCurrencyFactorAudit(currencyFactor)" class="fa-edit fa" style="width:30px; height:30px"></a>
                                    <a title="View Audit" ng-if="currencyFactor.currencyCode !== 'INR'" role="button" ng-click="getCurrencyFactorAudit(currencyFactor)" class="fa-history fa" style="width:30px; height:30px"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                </div>
                <div class="col-md-12 pull-left" ng-if="currencyFactorAudits.length > 0">
                    <h3>Currency {{curr}} History</h3>
                </div>
                <div class="col-md-12 table-responsive m-t-30" id="currencyAudit" ng-if="currencyFactorAudits.length > 0">
                    <table class="table table-striped">
                        <thead>
                            <tr style="font-weight: bold">
                                <th style="width:20%">Currency Name</th>
                                <th style="width:10%">Currency Factor</th>
                                <th style="width:10%"> Start Date</th>
                                <th style="width:10%">End Date</th>
                                <th style="width:10%">Modified Date</th>
                                <th style="width:20%">Modified By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="currencyFactorAudit in currencyFactorAudits.slice(((currentPage1-1)*itemsPerPage), ((currentPage1)*itemsPerPage))">
                                <td>{{currencyFactorAudit.currencyCode}}</td>
                                <td>{{currencyFactorAudit.currencyFactor}}</td>
                                <td>{{currencyFactorAudit.fromDate}}</td>
                                <td>{{currencyFactorAudit.toDate}}</td>
                                <td>{{currencyFactorAudit.dateModified}}</td>
                                <td>{{currencyFactorAudit.modifiedUser}}</td>

                            </tr>
                        </tbody>
                    </table>
                    <ul uib-pagination total-items="totalItemAudits" ng-model="currentPage1" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                </div>
            </div>
        </div>
    </div>
