﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
            <div id="page-wrapper" ng-controller="emailLogsCtrl">
          
                <div class="col-md-12 top-buffer">
                    <div class="white-box col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>
                                    Email Logs
                                </h2>
                            </div>

                            <div class="col-md-4 pull-right top-buffer">

                                <button class="pull-right btn btn-info ng-scope" data-toggle="modal" data-target="#myModal" href="javascript:void(0);">
                                    Email Logs Report
                                </button>
                            </div>
                        </div>
                        <!--<div>
                            <u class="text-danger">Email Count</u> : {{totalItems}}

                        </div>-->
                        <!--(overall <span style="text-transform: lowercase">{{type}}</span> count)-->

                    </div>

                    <div class="white-box col-md-12">
                        <div class="row">
                            <div class="col-md-3 pull-left">
                                <div class="form-group">
                                    <label class="col-md-12">From date</label>
                                    <div class="col-md-12" moment-picker="reportFromDate" format="YYYY-MM-DD">
                                        <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                        <input class="form-control" placeholder="Select a date" ng-model="reportFromDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-12">To date</label>
                                    <div class="col-md-12" moment-picker="reportToDate" format="YYYY-MM-DD">
                                        <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                        <input class="form-control" placeholder="Select a date" ng-model="reportToDate">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <label class="col-md-12 m-b-15"></label>
                                <button class="btn btn-info" ng-click="GetEmailLogs();">Filter</button>
                            </div>
                            

                        </div>

                        <div class="row top-buffer">
                            <div class="col-md-4">
                                <strong>Req Status</strong>
                                <select ng-model="reqStatus" ng-change="getStatusFilter(reqStatus,requirement)" class="form-control" style="margin:5px">
                                    <option selected value="ALL">ALL STATUS</option>
                                    <option value='UNCONFIRMED'>{{prmStatus(isCustomer,'UNCONFIRMED')}}</option>
                                    <option value='STARTED'>{{prmStatus(isCustomer,'STARTED')}}</option>
                                    <option value='NOTSTARTED'>{{prmStatus(isCustomer,'NOTSTARTED')}}</option>
                                    <option value='Negotiation Ended'>{{prmStatus(isCustomer,'Negotiation Ended')}}</option>
                                    <option value='DELETED'>{{prmStatus(isCustomer,'DELETED')}}</option>
                                    <option value='IN_REVIEW_WITH_MYNTRA'>{{prmStatus(isCustomer,'IN_REVIEW_WITH_MYNTRA')}}</option>
                                    <!--<option value='CLOSED'>{{prmStatus(isCustomer,'CLOSED')}}</option>
                                    <option value='VENDOR_FINALISED'>{{prmStatus(isCustomer,'VENDOR_FINALISED')}}</option>-->
                                </select>
                            </div>
                            <!--<div class="col-md-4">
                                <strong>Req Type</strong>
                                <select ng-model="reqType" ng-change="getReqTypeFilter(reqType)" class="form-control" style="margin:5px">
                                    <option selected value="ALL">ALL TYPES</option>
                                    <option value=0>PRICE</option>

                                </select>
                            </div>-->
                            <div class="col-md-4">
                                <strong>Message Type</strong>
                                <select ng-model="requirement" ng-change="getStatusFilter(reqStatus,requirement)" class="form-control" style="margin:5px">
                                    <option selected value="ALL">ALL REQUIREMENTS</option>
                                    <option value='REQ_POSTING'>REQUIREMENT POSTING</option>
                                    <option value='EDIT_REQ'>REQUIREMENT EDIT</option>
                                    <option value='DELETE_REQUIREMENT'>REQUIREMENT DELETE</option>
                                    <option value='UPLOAD_QUOTATION'>UPLOAD QUOTATION</option>
                                    <!--<option value='UPLOAD_REV_QUOTATION'>UPLOAD REV QUOTATION</option>-->
                                    <option value='VENDOR_QUOTATION_APPROVED'>VENDOR QUOTATION APPROVED</option>
                                    <option value='VENDOR_QUOTATION_REJECTED'>VENDOR QUOTATION REJECTED</option>
                                    <!--<option value='NEGOTIATION_START_TIME'>NEGOTIATION START TIME</option>
        <option value='RESTART_NEGOTIATION'>RESTART NEGOTIATION</option>-->
                                    <!--<option value='USER_REMINDER'>USER REMINDER</option>-->
                                    <option value='VENDOR_REMINDER'>VENDOR REMINDER</option>
                                    <option value='VENDOR_INTRODUCTION'>VENDOR INTRODUCTION</option>
                                    <option value='COMMUNICATIONS'>COMMUNICATIONS</option>
                                    <!--<option value='CB_PRICE_UPDATED_CUSTOMER'>CB PRICE UPDATED CUSTOMER</option>-->
                                    <!--<option value='CB_PRICE_OFFERED_CUSTOMER'>CB PRICE OFFERED CUSTOMER</option>
                                    <option value='CB_PRICE_OFFERED_VENDOR'>CB PRICE OFFERED VENDOR</option>
                                    <option value='CB_UPDATE_ENDTIME'>CB UPDATE ENDTIME</option>
                                    <option value='CB_FREEZE_CUSTOMER'>CB FREEZE CUSTOMER</option>
                                    <option value='CB_FREEZE_VENDOR'>CB FREEZE VENDOR</option>
                                    <option value='CB_UNFREEZE_CUSTOMER'>CB UNFREEZE CUSTOMER</option>-->
                                    <option value='MARK_AS_COMPLETE_CUSTOMER'>MARK AS COMPLETE CUSTOMER</option>
                                    <!--<option value='MARK_AS_COMPLETE_VENDOR'>MARK AS COMPLETE VENDOR</option>-->
                                    <option value='USER_REGISTER'>USER_REGISTER</option>
                                    <option value='VENDOR_REGISTER'>VENDOR_REGISTER</option>
                                </select>
                            </div>

                            <div style="display:inline-block;margin-right:10px;" class="col-md-3 pull-right">
                                <strong>&nbsp;</strong>
                                <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" style="margin:5px" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search">
                            </div>

                            
                        </div>
                    </div>
                    
                   

                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog" style="width: 70%;height:70%">

                            <!-- Modal content-->
                            <div class="modal-content ">

                                <div class="modal-header">
                                    <div class="col-md-12 text-center">
                                        <h3 class="modal-title">Email Logs Report</h3>
                                    </div>
                                </div>
                                <div class="col-md-12 m-t-40">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-12">From date</label>
                                            <div class="col-md-12" moment-picker="reportFromDate" format="YYYY-MM-DD">
                                                <input class="form-control" placeholder="Select a date" ng-model="reportFromDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-12">To date</label>
                                            <div class="col-md-12" moment-picker="reportToDate" format="YYYY-MM-DD">
                                                <input class="form-control" placeholder="Select a date" ng-model="reportToDate">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group fg-float col-md-12 m-b-30 text-center top-buffer">
                                    <label class="col-md-12 m-b-10"></label>
                                    <button ng-click="getReport('EMAIL_LOGS_REPORT')" class="text-center btn btn-info ng-scope">
                                        Download Report
                                    </button>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info " data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="white-box col-md-12">
                        <small style="color:green"> Total Count: {{totalItems}}</small>
                        <div class="table-responsive">
                            <table class="tablesaw table-striped table-bordered table z-depth-1 clear-both">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;min-width:100px;max-width:150px"><strong>REQ ID</strong></th>
                                        <th style="text-align:center"><strong>REQ TYPE</strong></th>
                                        <th style="text-align:center"><strong>REQ STATUS</strong></th>
                                        <th style="text-align:center"><strong>MESSAGE TYPE</strong></th>
                                        <th style="text-align:center"><strong>NAME</strong></th>
                                        <th style="text-align:center"><strong>COMPANY</strong></th>
                                        <th style="text-align:center"><strong>EMAIL</strong></th>
                                        <th style="text-align:center"><strong>ALT.EMAIL</strong></th>
                                        <th style="text-align:center"><strong>SUBJECT</strong></th>
                                        <th style="text-align:center"><strong>MESSAGE</strong></th>
                                        <th style="text-align:center"><strong>MESSAGE DATE & TIME</strong></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in EmailLogs.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <!--<td>
                        {{user.reqID}}
                    </td>-->
                                        <td data-title="'Title'" sortable="'Name'">
                                            <label ng-if="user.reqID > 0">
                                                <!--<a class="prmellipsis text-center" title="{{user.reqID}}" data-ui-sref="view-requirement({Id:user.reqID})">{{user.reqID}}</a>-->
                                                {{user.reqID}}
                                            </label>
                                            <label ng-if="user.reqID == 0">
                                                --
                                            </label>
                                        </td>
                                        <td>
                                            <span ng-if="user.reqType == 0">
                                                PRICE
                                            </span>
                                            <span ng-if="user.reqType == -1">
                                                --
                                            </span>

                                        </td>
                                        <td>
                                            {{ prmStatus(isCustomer,user.reqStatus) }}
                                        </td>

                                        <td>
                                            {{user.requirement}}
                                        </td>
                                        <td>
                                            {{user.firstName}} {{user.lastName}}
                                        </td>
                                        <td>
                                            {{user.institution}}
                                        </td>
                                        <td>
                                            {{user.email}}
                                        </td>
                                        <td>
                                            {{user.altEmail}}
                                        </td>
                                        <td>
                                            {{user.subject}}
                                        </td>
                                        <td>
                                            {{user.message}}
                                        </td>
                                        <td>
                                            {{user.messageDate}}
                                        </td>


                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                        </div>

                    </div>
                </div>
            </div>
    </div>
</div>

<style>
    .table-data-fill {
        height: 225px;
        overflow: scroll;
    }
</style>