﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">

                <div data-ng-controller="auctionsCtrl">
                    <div class="row bg-title top-grid">
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12" >
                            <div ng-if="isUserEntitled(582258)">
                                 <a ng-show="showAddNewReq()" data-ui-sref="save-requirementAdv"
                               class="btn btn-info waves-effect waves-light add-btn hidden-xs">
                                <span>Create Requirement</span>
                                <i class="fa fa-plus-circle m-l-5"></i>
                            </a>
                            <!--<a ng-show="!showAddNewReq()" class="btn btn-info waves-effect waves-light add-btn hidden-xs"
                               href="FileDownload.aspx?attachid=20&sessionid={{sessionid}}">
                                <span>Download Manual</span>
                                <i class="fa fa-download m-l-5"></i>
                            </a>-->
                            </div>
                           
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 text-right">
                            <a class="visible-xs range-btn" role="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">Filter<span class="caret"></span></a>
                            <form class="form-material form-horizontal select-range-form collapse" id="collapseExample1">
                                <div class="row">

                                    <div class="col-md-2 hidden-xs">
                                        <b>Select Range</b>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-md-12">From date</label>
                                            <div class="col-md-12" moment-picker="dashboardFromDate" format="YYYY-MM-DD">
                                                <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                                <input class="form-control" placeholder="Select a date" ng-model="dashboardFromDate" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-md-12">To date</label>
                                            <div class="col-md-12" moment-picker="dashboardToDate" format="YYYY-MM-DD">
                                                <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                                <input class="form-control" placeholder="Select a date" ng-model="dashboardToDate" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"><button class="btn btn-danger pull-right m-l-20 waves-effect waves-light" ng-click="getMiniItems();">Apply</button></div>

                                </div>
                            </form>

                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12" ng-show="!isVendor">
                            <div class="form-group">
                                <div class="col-md-4 hidden-xs top-buffer">
                                    <b>Select Department</b>
                                </div>
                                <div class="col-md-8">
                                    <select chosen name="ListUserDepartmentDesignations" ng-model="SelectedDeptId"
                                            ng-options="udd.deptID as udd.deptCode for udd in ListUserDepartmentDesignations" required class="form-control-dropdown"
                                            ng-change="changeUserDepartmentDesignation();"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- Clickable dashboard-->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;" ng-click="!isVendor?goToRequirements('ALL'):''">
                            <!-- Clickable dashboard-->
                            <div class="white-box">
                                <h3 class="box-title"><small> Requirements Posted </small>  <strong> {{dashboardStats.totalAuctions}}</strong></h3>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                        <!--<h4 style="margin-top:40px;">@Posted</h4>-->
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Total</span>
                                        <h3>
                                            {{((dashboardStats.totalAuctions > 0)?dashboardStats.totalAuctions:"N/A")}}
                                        </h3>
                                    </div>
                                </div>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{dashboardStats.totalAuctions}}%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" ng-if="!isVendor">

                            <div class="white-box">
                                <div class="row">
                                    <!-- Clickable dashboard-->
                                    <div class="col-md-12" style="cursor:pointer;" ng-click="goToRequirements('Negotiation Ended')">
                                    <!-- Clickable dashboard-->
                                        <h3 class="box-title"><strong><small>Completed</small> {{dashboardStats.totalAuctionsCompleted}}</strong></h3>
                                    </div>
                                    <!--<div class="col-md-6">
                                        <h3 class="box-title"><strong><small>Pending</small> {{dashboardStats.totalAuctionsPending}}</strong></h3>
                                    </div>-->
                                </div>


                                <div class="row">
                                    <!-- Clickable dashboard-->
                                    <div class="col-md-6" style="cursor:pointer;" ng-click="goToRequirements('UNCONFIRMED')">
                                    <!-- Clickable dashboard-->
                                        <!--<div class="row">
                                            <div class="text-center">
                                                <span class="text-muted">Monthly</span>
                                                <h3>
                                                    {{((totalAuctionsCompletedPercentage > 0)?totalAuctionsCompletedPercentage:"N/A")}} <span ng-show="totalAuctionsCompletedPercentage > 0"> %</span>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{totalAuctionsCompletedPercentage}}%;"> <span class="sr-only"></span> </div>
                                        </div>-->
                                        <br />
                                        <h3 class="box-title"><strong><small>Pending</small> {{dashboardStats.totalAuctionsPending}}</strong></h3>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-right">
                                            <span class="text-muted">Monthly</span>
                                            <h3>
                                                {{((totalAuctionsPendingPercentage > 0)?totalAuctionsPendingPercentage:"N/A")}} <span ng-show="totalAuctionsPendingPercentage > 0"> %</span>
                                            </h3>
                                        </div>
                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{totalAuctionsPendingPercentage}}%;"> <span class="sr-only"></span> </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" ng-if="!isVendor" style="cursor:pointer;" ng-click="goToConsolidateReport()">
                            <div class="white-box">
                                <h3 class="box-title"> <small>Savings</small>  <strong>{{totalSavedAmount}}</strong></h3>

                                <div class="row">
                                    <!--<div class="col-xs-6 pull-left">
                                        <small style="margin-top:40px;">Turnover:{{totalTurnover}}</small>
                                    </div>-->

                                    <div class="col-xs-6 text-left">
                                        <span class="text-muted"><small>Turnover</small></span>
                                        <h5>
                                            {{((totalTurnover > 0)? totalTurnover :"N/A")}}
                                        </h5>
                                    </div>

                                    <div class="col-xs-6 text-right">
                                        <span class="text-muted">Savings %</span>
                                        <h3>
                                            {{((totalSavedPercentage > 0)? totalSavedPercentage :"N/A")}} <span ng-show="totalSavedPercentage > 0"> %</span>
                                        </h3>
                                    </div>
                                </div>

                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{totalAuctionsPendingPercentage}}%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" ng-if="isVendor">
                            <div class="white-box">
                                <h3 class="box-title">Completed  <strong>{{dashboardStats.totalAuctionsCompleted}}</strong></h3>

                                <div class="row">
                                    <div class="col-xs-4">
                                        <h4 style="margin-top:40px;">Completed</h4>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Monthly</span>
                                        <h3>
                                            {{((totalAuctionsCompletedPercentage > 0)?totalAuctionsCompletedPercentage:"N/A")}} <span ng-show="totalAuctionsCompletedPercentage > 0"> %</span>
                                        </h3>
                                    </div>
                                </div>

                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{totalAuctionsCompletedPercentage}}%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" ng-if="isVendor">
                            <div class="white-box">
                                <h3 class="box-title">Pending  <strong>{{dashboardStats.totalAuctionsPending}}</strong></h3>

                                <div class="row">
                                    <div class="col-xs-4 pull-left">
                                        <h4 style="margin-top:40px;">Pending</h4>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Monthly</span>
                                        <h3>
                                            {{((totalAuctionsPendingPercentage > 0)?totalAuctionsPendingPercentage:"N/A")}} <span ng-show="totalAuctionsPendingPercentage > 0"> %</span>
                                        </h3>
                                    </div>
                                </div>

                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{totalAuctionsPendingPercentage}}%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="white-box">
                                <h3 class="box-title">Turn around time</h3>

                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="UI_2018_03/images/clock.png" class="img-responsive" style="margin-top:5px;">
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Time</span>
                                        <h3>{{D}}<small title="Days">D </small>{{H}}<small title="Hours">H </small>{{M}}<small title="Minutes">M </small></h3>
                                    </div>
                                </div>
                             
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{totalTurnaroundTimePercentage}}%;"> <span class="sr-only">230% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- col-md-3 -->
                        <div class="col-md-12">
                            <div class="row">
                                <!-- col-md-3 -->
                                <div class="col-md-6">
                                    <div class="white-box live-req-section" ng-if="isVendor">
                                        <h3 class="box-title">LEADS</h3>

                                        <div class="panel-body" ng-if="dashboardStats && dashboardStats.requirementsList && dashboardStats.requirementsList.length > 0">
                                            <table class="tablesaw table-striped table" data-tablesaw-mode="swipe">
                                                <thead>
                                                    <tr>
                                                        <th style="color:white;">ID</th>
                                                        <th style="color:white;">Title</th>
                                                        <th ng-if="!isVendor">Quotations</th>
                                                        <!--<th style="color:white;">Quotation Status</th>

                                                        <th style="color:white;">Action</th>-->
                                                        <!--<th style="color:white;">Quotation Price</th>-->
                                                        <th style="color:white;">Req Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="req in dashboardStats.requirementsList | limitTo:liveAuctionsTableLimit">
                                                        <td class="">{{req.requirementID}}</td>
                                                        <td class=""><a data-ui-sref="view-requirement({Id:req.requirementID})">{{req.title}}</a></td>
                                                        <td ng-if="!isVendor" class="text-center">{{req.noOfVendorsParticipated}} / {{req.noOfVendorsInvited}} </td>
                                                        <!--<td class="">quotation status</td>
                                                        <td class="">req status</td>
                                                        <td class="">action</td>-->
                                                        <!--<td data-title="'Price'" sortable="'Budget'">
                                                            <span ng-bind-html="req.price | numToCurrency:req.currency"></span>
                                                        </td>-->
                                                        <td data-title="'Status'" sortable="'Is Closed'">
                                                            <!--<span ng-if="req.selectedVendorID == 0 && (req.status != 'NOTSTARTED' || req.status != 'UNCONFIRMED' || req.status != 'STARTED')">{{ req.status}}</span>
                                                            <span ng-if="req.selectedVendorID > 0 && req.selectedVendorID == uId">{{ req.status}}</span>
                                                            <span ng-if="req.selectedVendorID > 0 && req.selectedVendorID != uId">Negotiation Ended</span>-->
                                                            {{ prmStatus(isCustomer,req.status)}}
                                                        </td>


                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h4 class="text-center" ng-if="!dashboardStats || !dashboardStats.requirementsList || dashboardStats.requirementsList.length <= 0"> Currently there are no Live Requirement. Kindly post requirements to get more insights</h4>
                                        <div class="rq-btm text-right">
                                            <!--<a ng-hide="!dashboardStats || !dashboardStats.requirementsList || dashboardStats.requirementsList.length <= 0" href="#/pages/profile/profile-timeline_1">View more</a>-->
                                        </div>
                                    </div>
                                    <div class="white-box" ng-if="!isVendor">
                                        <h3 class="box-title " ng-if="!urgencyChartShow">Pending Requirements By Priority</h3>
                                        <hc-chart options="reqUrgency" ng-if="urgencyChartShow" style="width:100%">Loading...</hc-chart>
                                        <h4 class="text-center" ng-if="!urgencyChartShow"> Currently there are no pending Requirements to display. Kindly post requirements to get more insights</h4>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="white-box">
                                        <h3 class="box-title " ng-if="!quotationRangeChartShow">Pending Requirement By Value</h3>
                                        <hc-chart options="quotationRange" ng-if="quotationRangeChartShow">Loading...</hc-chart>
                                        <h4 class="text-center" ng-if="!quotationRangeChartShow"> Currently there are no pending Requirements to display. Kindly post requirements to get more insights.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-8 col-lg-8" ng-if="!isVendor">
                            <div class="white-box">
                                <h3 class="box-title " ng-if="!monthlyDetailsChartShow">Monthly Average Savings</h3>
                                <hc-chart options="monthlyDetails" ng-if="monthlyDetailsChartShow">Loading...</hc-chart>
                                <h4 class="text-center" ng-if="!monthlyDetailsChartShow"> Currently there are no monthly average savings. Kindly  post requirements to get more insights.</h4>
                            </div>
                        </div>

                        <!--<div class="col-md-6 col-lg-6" ng-if="isVendor">
                            <div class="white-box">
                                <h3 class="box-title" ng-if="!categoryChartShow">Pending Requirements By Category</h3>
                                <hc-chart options="reqCategory" ng-if="categoryChartShow">Loading...</hc-chart>
                                <h4 class="text-center" ng-if="!categoryChartShow"> Currently there are no pending Requirements to display. Kindly post requirements to get more insights.</h4>
                            </div>
                        </div>-->

                        <div class="col-md-4 col-lg-4" ng-if="!isVendor">

                            <div class="white-box live-req-section" ng-if="!isVendor">
                                <h6 class="box-title ">Live Requirement</h6>
                                <div class="panel-body" ng-if="dashboardStats && dashboardStats.requirementsList && dashboardStats.requirementsList.length > 0">
                                    <table class="tablesaw table-striped table" data-tablesaw-mode="swipe">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th ng-if="!isVendor">Quotations</th>
                                                <th ng-if="isVendor">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="req in dashboardStats.requirementsList | limitTo:liveAuctionsTableLimit">
                                                <td class="dashboardLiveReqEllipsis"><a class="dashboardLiveReqEllipsis" title="{{req.title}}" data-ui-sref="view-requirement({Id:req.requirementID})">{{req.title}}</a></td>
                                                <td ng-if="!isVendor" class="text-center">{{req.noOfVendorsParticipated}} / {{req.noOfVendorsInvited}} </td>
                                                <td ng-if="isVendor" class="text-center">{{req.savings}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h4 class="text-center" ng-if="!dashboardStats || !dashboardStats.requirementsList || dashboardStats.requirementsList.length <= 0"> Currently there are no Live Requirement. Kindly post requirements to get more insights.</h4>
                                <div class="rq-btm text-right">
                                    <!--<a ng-hide="!dashboardStats || !dashboardStats.requirementsList || dashboardStats.requirementsList.length <= 0" href="#">View more</a>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6" ng-if="isVendor">
                            <div class="white-box">
                                <h3 class="box-title" ng-if="!urgencyChartShow">Pending Requirements By Priority</h3>
                                <hc-chart options="reqUrgency" ng-if="urgencyChartShow" style="width:100%">Loading...</hc-chart>
                                <h4 class="text-center" ng-if="!urgencyChartShow"> Currently there are no pending Requirements to display. Kindly post requirements to get more insights.</h4>
                            </div>
                        </div>

                        <!--<div class="col-md-6 col-lg-6" ng-if="!isVendor">
                            <div class="white-box">
                                <h3 class="box-title " ng-if="!categoryChartShow">Pending Requirements By Category</h3>
                                <hc-chart options="reqCategory" ng-if="categoryChartShow">Loading...</hc-chart>
                                <h4 class="text-center" ng-if="!categoryChartShow"> Currently there are no pending Requirements to display. Kindly post requirements to get more insights.</h4>
                            </div>
                        </div>-->

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>