<div class="col-md-3 oneTile " >
    <div class="card bg-white z-depth-2">
        <div class="ih-item ih-material">
            <a data-ui-sref="view-requirement({Id:item.auctionID})">
                <div class="img" ng-show="false">
                    <img ng-src="data:image/gif;base64,{{item.attachment}}">
                </div>
                <div class="info">
                    <div class="info-mask bg-info"></div>
                    <div class="info-content">
                        <div class="info-inner">
                            <h3>{{item.title}}</h3>
                            <h3>{{item.description}}</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-content">
            <h4 class="titlelink">
                <a class="item_title_class"  data-ui-sref="view-requirement({Id:item.auctionID})" alt="{{item.title}}">
                    <span class="tileTitle" >{{item.title}}</span>
                </a>
            </h4>

            <div class="row" ng-if="!vendorBtns">
                <div class="col-md-8 col-sm-8 col-xs-8 " style="white-space: nowrap;"><b ng-bind-html= "item.price | numToCurrency:item.currency"><!-- {{item.price | currency:"&#8377;"}} --></b></div>
                <div class="col-md-4 col-sm-4 col-xs-4 text-right">
                    <span class="bids">{{item.bids}} bid<span ng-show="item.bids != 1">s</span>
                    </span>
                </div>
            </div>

            <div class="row" ng-if="vendorBtns">
                <div class="col-md-8 col-sm-8 col-xs-8 ">
                    <b ng-bind-html= "item.price | numToCurrency">
                        <!-- {{item.price | currency:"&#8377;"}} -->
                    </b>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 text-right item_rank_c">
                    <span class="bids">Rank: {{(item.rank==0)?"N/A":item.rank}}</span>
                </div>
            </div>
            
            <div class="row reduceseconds">
                <div ng-show="auctionStarted && isUserOwner">
                    <button class='btn btn-info btn-sm' href='javascript:void(0);' ng-click="updateTime(item.auctionID,-60);" ng-disabled="disablereduceTime">Reduce 1 Min</sub></button>
                    <button class='btn btn-info btn-sm' href='javascript:void(0);' ng-disabled="disableStopBids" ng-click="updateTime(item.auctionID,60);" >Add 1 Min</button>
                    <button class='btn btn-danger btn-sm' href='javascript:void(0);' ng-disabled="disableStopBids" ng-click="stopBids(item.auctionID);" >Stop Bids</button>
                </div>
                <div ng-show="!auctionStarted && isUserOwner">
                    <button  data-ui-sref="view-requirement({Id:item.auctionID})" ng-if="customerBtns" class='btn btn-info btn-sm' >Update Time</button>
                    <!-- <button class='btn btn-danger btn-sm' ng-if="customerBtns" href='javascript:void(0);' ng-disabled="disableStopBids" ng-click="cancelBid(item.auctionID);" >Cancel</button> -->
                </div>
    <button  data-ui-sref="view-requirement({Id:item.auctionID})" class='btn btn-info btn-sm' ng-show="vendorBtns && item.price==0 && !auctionStarted && !isUserOwner">Make a Quotation
    </button>
    <button  data-ui-sref="view-requirement({Id:item.auctionID})" class='btn btn-info btn-sm' ng-show="vendorBtns && item.price!=0 && !auctionStarted && !isUserOwner">View Quotation
    </button>
<div style="padding-top:37px; " ng-show="vendorBtns && item.price==0 && auctionStarted"></div>
                <div class="text-center col-md-12 fltleft" style="padding-top: 10px;"  ng-if="vendorBtns && item.price!=0 && item.quotationUrl!='' && auctionStarted">
                    <!-- <div class="fg-float col-sm-8" style="padding: 0px;">
                        <div class="fg-line">
                            <input id="makebidvalue" type="number" class="form-control fg-input">
                            <label class="fg-label">Bid Amount</label>
                        </div>
                        <div ng-show="bidPriceEmpty{{item.auctionID}}">
                            <div class="help-block error logininput" ng-show="bidPriceEmpty">Please enter Bidamount</div>
                        </div>
                        <div ng-show="bidPriceValidation{{item.auctionID}}">
                            <div class="help-block error logininput" ng-show="bidPriceValidation">Bidamount be less then min price</div>
                        </div>                        
                    </div> -->
                    <button  data-ui-sref="view-requirement({Id:item.auctionID})" class='btn btn-info btn-sm' ng-if="!isUserOwner" >Make a Bid</button>
                   <!--  <div class="text-left col-md-4 fltleft" style="padding: 0px;">
                        <button class='btn btn-primary btn-sm' ng-click="makeaBid1(item.auctionID);">Make a Bid</button>
                    </div> -->
                </div>

            </div>
        </div>
        <div class="card-action" id="{{item.auctionID}}" ng-if="item.auctionTimerId>0" class="start_end_time_c">
            <span ng-show="!auctionStarted">Starts</span>
            <span ng-show="auctionStarted">Ends</span> in: 
            <timer countdown="item.auctionTimerId" interval="1000">
                <span class="countdown_section">
                <span class="countdown_amount">{{days}}:{{hhours}}:{{mminutes}}:{{sseconds}}</span></span>
            </timer>            
        </div>
        <div class="card-action" ng-if="item.auctionTimerId<0" style="height: 58px;font-size: 14px;" class="text-center"> 
            <span class="text-right">Negotiation has not started yet.</span>                     
        </div>
    </div>
</div>