<div class="white-box ">
    <div class="pmb-block" data-ng-controller="profileSettingsCtrl as pctrl">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-settings m-r-5"></i> Negotiation Settings</h2>
        </div>
        <div class="pmbb-body" id="generatePDFHTMl">
            <div id="editor" class="bypass"></div>
            <form name="test4" class="pmbb-edit" novalidate>
                <div class="text-center top-buffer col-md-12 fltleft padding0">
                    <div class="form-group fg-float col-sm-2 m-b-30">
                        <div class="form-group fg-toggled">
                            <div>
                                <input type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="NegotiationSettings.minReductionAmount" class="form-control" required>
                            </div>
                            <label class="fg-label col-sm-2">Min Reduction Amount</label>
                        </div>
                    </div>
                    <div class="form-group fg-float col-sm-2 m-b-30">
                        <div class="form-group fg-toggled">
                            <div>
                                <input type="text" valid-number allow-decimal="true" allow-negative="false" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="NegotiationSettings.rankComparision"  class="form-control" required>
                            </div>
                            <label class="fg-label col-sm-2">Vendor Rank Comparision</label>
                        </div>
                    </div>

                    <div class="form-group fg-float col-sm-3 m-b-30">
                        <strong>Negotiation Duration :</strong>
                    </div>

                    <div class="form-group fg-float col-sm-1 m-b-30">
                        <div class="form-group fg-toggled">
                            <div>
                                <input type="number" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="days" class="form-control" required />
                            </div>
                            <label class="fg-label col-sm-1 ">Days</label>
                        </div>
                    </div>
                    <div class="form-group fg-float col-sm-1 m-b-30">
                        <div class="form-group  fg-toggled">
                            <div>
                                <input type="number" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="hours" class="form-control" required />
                            </div>
                            <label class="fg-label col-sm-1 ">Hours</label>
                        </div>
                    </div>
                    <div class="form-group fg-float col-sm-1 m-b-30">
                        <div class="form-group fg-toggled">
                            <div>
                                <input type="number" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="mins" class="form-control" required />
                            </div>
                            <label class="fg-label col-sm-1 ">Min</label>
                        </div>
                    </div>


                </div>
                <div class="m-t-30">
                    <h4 class="prmredcolor">{{NegotiationSettingsValidationMessage}}</h4>
                </div>

                <div class="m-t-30">
                    <button ng-disabled="NegotiationSettingsValidationMessage" class="btn btn-info btn-sm btn-new-look" ng-click="saveNegotiationSettings();">Save</button>
                    <!--<button class="btn btn-link btn-sm">Cancel</button>-->
                </div>
            </form>

            <div class="m-t-30">
                <!--<button ng-click="goTocatergory();" class="btn btn-info btn-new-look top-buffer">Category Management</button>-->
                <!--<button ng-click="goToworkflow();" class="btn btn-info btn-new-look top-buffer">Workflow Management</button>-->
                <!--<button ng-click="goToCurrencyManagement();" class="btn btn-info btn-new-look top-buffer">Currency Management</button>-->
            </div>
            <!--<div class="m-t-30">
                <a ui-sref="pages.real_time_price_settings" class="btn btn-info btn-new-look top-buffer">Real time price Setup</a>
            </div>-->
            <!--<div class="m-t-30">
                <a ui-sref="pages.config_requirement_form" class="btn btn-info btn-new-look top-buffer">Requirement form configuration</a>
            </div>
            <div class="m-t-30">
                <a ui-sref="pages.requirement_template" class="btn btn-info btn-new-look top-buffer">Requirement template</a>
            </div>-->
        </div>
    </div>
</div>
