
<div class="white-box pmb-block" ng-controller="profilePwdCtrl as pctrl">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-account m-r-5"></i> Password Management</h2>
    </div>
    <div class="pmbb-body" id="generatePDFHTMl">
        <div id="editor" class="bypass"></div>
        <form name="test4" data-ng-submit="pctrl.submit('profileInfo', 'Profile Information')" class="pmbb-edit">
            <dl class="dl-horizontal">
                <dt class="p-t-10"> Registered Mobile No.</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="userObj.phoneNum" type="text" class="form-control" value="{{ userObj.phoneNum }}" ng-disabled="true">
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Old password</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pwdObj.oldPass" ng-change="checkpassword();" type="password" class="form-control" value="{{ pwdObj.oldPass }}">
                    </div>

                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt class="p-t-10">New Password</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-change="checkpassword();" data-ng-model="pwdObj.newPass" type="password" class="form-control" value="{{ pwdObj.newPass }}">
                    </div>

                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt class="p-t-10">Confirm New Password</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pwdObj.confirmNewPass" type="password" class="form-control" value="{{ pwdObj.confirmNewPass }}">
                    </div>

                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-info btn-sm btn-new-look" ng-disabled="ispassword" ng-click="pctrl.updatePwd();">Save</button>
                <!--<button class="btn btn-link btn-sm" data-ng-click="pctrl.editPwd = 0">Cancel</button>-->
            </div>
        </form>
    </div>
</div>