<div class="white-box">
    <div class="pmb-block" ng-controller="profileLeadsCtrl">
        <div class="pmbb-header">
            <div class="row">
                <div class="col-md-6">
                    <h2><i class="zmdi zmdi-view-list"></i> My Leads</h2>
                </div>
                <div class="col-md-6" style="margin-left:0px !important;margin-top:10px;">
                    <!--<div class="col-md-12">
                        <button ng-click="downloadTemplate('BULK_MARGIN_VEND_QUOTATION')" class="padding-lft pull-right btn btn-info btn-sm waves-effect editRequirement_btn ng-scope" href="javascript:void(0);">
                            Download Quotations Template
                        </button>
                        <button ng-click="downloadTemplate('BULK_MARGIN_VEND_BIDDING')" class="padding-lft pull-right btn btn-info btn-sm waves-effect editRequirement_btn ng-scope" href="javascript:void(0);">
                            Download Negotiations Template
                        </button>
                        <div class="col-md-2">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-info btn-file m-r-10">
                                    <span class="fileinput-new">Upload Excel</span>
                                    <span class="fileinput-exists">Edit</span>
                                    <input type="file" accept=".xlsx" id="excelquotation" itemid="excelquotation" ng-file-select-items="onFileSelect($files)" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>        
        <div class="table-responsive z-depth-2">
            <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle">
                <tr ng-repeat="auction in myActiveLeads.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                    <td data-title="'Req ID'" sortable="'ID'">
                        <!--<a class="prmellipsis" data-ui-sref="view-requirement-test({Id:auction.requirementID})">{{ auction.requirementID}}</a>-->
                        <!--{{ auction.requirementID}}-->
                        <a class="prmellipsis" ng-if="auction.biddingType ==='' || auction.biddingType === 'REVERSE'" title="{{auction.requirementID}}" data-ui-sref="view-requirement({Id:auction.requirementID})">{{auction.requirementID}}</a>
                        <!--<a class="prmellipsis" data-ui-sref="view-requirement-price({Id:auction.requirementID})" ng-if="auction.isDiscountQuotation ==0">{{ auction.requirementID}}</a>
                        <a class="prmellipsis" data-ui-sref="view-requirement-discount({Id:auction.requirementID})" ng-if="auction.isDiscountQuotation ==1">{{ auction.requirementID}}</a>
                        <a class="prmellipsis" data-ui-sref="view-requirement-margin({Id:auction.requirementID})" ng-if="auction.isDiscountQuotation ==2">{{ auction.requirementID}}</a>-->
                    </td>
                    <td data-title="'Title'" sortable="'Name'">
                        <a class="prmellipsis" ng-if="auction.biddingType ==='' || auction.biddingType === 'REVERSE'" title="{{auction.title}}" data-ui-sref="view-requirement({Id:auction.requirementID})">{{auction.title}}</a>
                        <a class="prmellipsis" ng-if="auction.biddingType === 'TENDER'" title="{{auction.title}}" data-ui-sref="view-tender({Id:auction.requirementID})">{{auction.title}}</a>
                    </td>
                    <td data-title="'Created Date'" sortable="'Created Date'">
                        {{auction.postedOn}}
                    </td>
                    <!--<td data-title="'Category'" sortable="'Category'">
                        {{ auction.category[0]}}
                    </td>-->
                    <td data-title="'Price'" sortable="'Budget'">
                        <span ng-bind-html="auction.price | numToCurrency:auction.currency"></span>
                    </td>
                    <td data-title="'Status'" sortable="'Is Closed'">
                        <span ng-if="auction.selectedVendorID == 0 && (auction.status != 'NOTSTARTED' || auction.status != 'UNCONFIRMED' || auction.status != 'STARTED')">{{ prmStatus(isCustomer,auction.status)}}</span>
                        <span ng-if="auction.selectedVendorID > 0 && auction.selectedVendorID == uId">{{ prmStatus(isCustomer,auction.status)}}</span>
                        <span ng-if="auction.selectedVendorID > 0 && auction.selectedVendorID != uId">Negotiation Ended</span>
                    </td>
                    <td data-title="'Type'" sortable="'Type'">
                        {{ auction.biddingType}}
                    </td>
                    <!--<td data-title="'Tech Eval'" ng-if="true == true">
                    <a title="View Details" role="button" ng-click="goToEvaluation(auction)" class="tm-icon zmdi zmdi-hc-2x zmdi-edit"></a>
                    </td>-->
                    <!--<td  data-title="'STATUS'" sortable="'Is Closed'">
                    {{ prmStatus(isCustomer,auction.status)}}
                    </td>
                    <td  data-title="'STATUS'" sortable="'Is Closed'">
                        Negotiation Ended
                    </td>-->
                </tr>
            </table>
            <ul uib-pagination total-items="totalLeads" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
        </div>
        <div class="clearfix" style="margin-bottom:150px;"></div>
    </div>
</div>