<div class="white-box">
    <div class="pmb-block ng-scope" ng-controller="profileReqsCtrl">
        <div class="pmbb-header">
            <div class="row" style="margin-bottom:10px;">

                <div>
                    <div class="col-md-3">
                        <h3 style="display:inline-block;margin:5px">
                            <i class="zmdi zmdi-view-list"></i>  My Requirements List
                        </h3>
                    </div>
                    <div class="col-md-2">
                        <select ng-model="reqStatus" ng-change="getStatusFilter(reqStatus)" class="form-control" style="margin:5px">
                            <option selected value="ALL">ALL STATUS</option>
                            <option value='UNCONFIRMED'>{{prmStatus(isCustomer,'UNCONFIRMED')}}</option>
                            <option value='STARTED'>{{prmStatus(isCustomer,'STARTED')}}</option>
                            <option value='NOTSTARTED'>{{prmStatus(isCustomer,'NOTSTARTED')}}</option>
                            <option value='Negotiation Ended'>{{prmStatus(isCustomer,'Negotiation Ended')}}</option>
                            <option value='DELETED'>{{prmStatus(isCustomer,'DELETED')}}</option>
                            <option value='IN_REVIEW_WITH_MYNTRA'>{{prmStatus(isCustomer,'IN_REVIEW_WITH_MYNTRA')}}</option>
                            <!--<option value='CLOSED'>{{prmStatus(isCustomer,'CLOSED')}}</option>
                <option value='VENDOR_FINALISED'>{{prmStatus(isCustomer,'VENDOR_FINALISED')}}</option>-->
                            <option value='Saved_As_Draft'>{{prmStatus(isCustomer,'Saved_As_Draft')}}</option>
                        </select>
                    </div>
                    <!--<div class="col-md-2" style="margin-left: 9px;">
            <select chosen name="category" style="margin:5px" ng-model="category" ng-change="getCategoryFilter(category)" ng-options="category as category for category in categories" style="margin:5px" class="form-control pull-right"></select>

        </div>-->
                    <div style="display:inline-block;margin-right:10px;" class="col-md-2">
                        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" style="margin:5px" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search">
                    </div>
                </div>




                <!-- <div class="col-md-3" style="margin-left:0px !important;">
              <div class="col-md-12">
        <button ng-click="GetRequirementsReport()" class="pull-right btn btn-info btn-sm waves-effect editRequirement_btn ng-scope" href="javascript:void(0);">
            Margin-Type Consolidated Report
        </button>
    </div>-->

                <div class="text-right">
                    <div class="dropdown btn-group fg-float col-md-2 m-b-30">
                        <!--<button class="btn btn-info" href="#">Reports</button>
            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></button>-->
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" style="margin:5px">
                            <i class="fa fa-cog" aria-hidden="true"></i> Reports
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li ng-if="isUserEntitled(591170)"><a role="button" class="" data-toggle="modal" data-target="#myModal"><strong>Bidding Report</strong></a></li>
                            <!--<li><a class="" role="button" ng-click="GetRequirementsReport()" aria-hidden="true"><strong>  Margin-Type Consolidated Report</strong></a></li>-->
                            <li><a class="" role="button" data-ui-sref="consalidatedReport()" aria-hidden="true"><strong>Consolidated Report</strong></a></li>
                            <!--<li><a class="" role="button" data-ui-sref="consalidatedBasePriceReport()" aria-hidden="true"><strong>Consolidated Base Price Report</strong></a></li>-->


                        </ul>

                    </div>
                </div>

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog" style="width: 70%;height:70%">

                        <!-- Modal content-->
                        <div class="modal-content ">

                            <div class="modal-header">
                                <div class="col-md-12 text-center">
                                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                    <h3 class="modal-title">Bidding Report</h3>
                                </div>
                            </div>
                            <div class="col-md-12 m-t-40">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="col-md-12">From date</label>
                                        <div class="col-md-12" max-date="maxdate" moment-picker="dateFilter.reportFromDate" format="YYYY-MM-DD">
                                            <!--<input type="text" min-date="mindate" class="form-control form-control-line" value="11/10/2017">-->
                                            <input class="form-control" placeholder="Select a date" ng-model="dateFilter.reportFromDate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="col-md-12">To date</label>
                                        <div class="col-md-12" moment-picker="dateFilter.reportToDate" format="YYYY-MM-DD">
                                            <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                            <input class="form-control" placeholder="Select a date"  ng-model="dateFilter.reportToDate">
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-md-2 top-buffer">
        <label class="col-md-12 m-b-10"></label>
        <button class="btn btn-info" ng-click="getConsalidatedReport();">Filter</button>
    </div>-->
                            </div>
                            <div class="form-group fg-float col-md-12 m-b-30 text-center top-buffer">
                                <label class="col-md-12 m-b-10"></label>
                                <button ng-click="getSevenDaysReport('ALL_REQ_BIDDING_DATA')" class="text-center btn btn-info ng-scope">
                                    Download Report
                                </button>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-info " data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>




            </div>

        </div>
        <div class="table table-responsive z-depth-2">

            <div class="row" style="margin-left:0px !important;margin-top:10px;" ng-hide="true">
                <div class="col-md-12">
                    <!--<label>
                        <input type="radio" ng-model="radioData.name" name="biddingType" value='reverse' ng-change="getAuctions('reverse')">
                        Reverse Bidding
                    </label>
                    <label>
                        <input type="radio" ng-model="radioData.name" name="biddingType" value='forward' ng-change="getAuctions('forward')">
                        Forward Bidding
                    </label>-->
                    <div class="toggle-switch">
                        <input id="forwardBidding" ng-model="formRequest.isForwardBidding" type="checkbox" hidden="hidden" ng-change="getAuctions()" />
                        <label for="forwardBidding" class="ts-helper"></label>
                        <label for="forwardBidding" class="fg-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View Forward Bidding</label>
                    </div>
                </div>
            </div>
            <small style="color:green"> Total Count:{{myAuctions.length}}</small>
            <table ng-table="tctrl.tableSorting" class="table table-vmiddle" show-filter="false">
                <tr ng-repeat-start="auction in myAuctions.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                    <td data-title="''">
                        <a role="button" ng-hide="auction.expanded" ng-click="auction.expanded = true" style="margin-right:15px" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                        <a role="button" ng-hide="!auction.expanded" ng-click="auction.expanded = false" style="margin-right:15px" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                    </td>
                    <td data-title="'Req ID'" sortable="'ID'">
                        <a class="prmellipsis" ng-if="auction.biddingType ==='' || auction.biddingType === 'REVERSE'" title="{{auction.requirementID}}" data-ui-sref="view-requirement({Id:auction.requirementID})">{{auction.requirementID}}</a>
                        <!--{{ auction.requirementID}}-->
                    </td>
                    <!--<td data-title="'Req Type'" sortable="'Type'">
                        <strong style="color:{{auction.rfpStatusColor}}">
                            {{ auction.isRFP ? 'RFP/RFI' : 'RFQ'}}
                        </strong>
                    </td>-->
                    <td data-title="'Title'" sortable="'Name'" ng-if="!formRequest.isForwardBidding">
                        <a class="prmellipsis" ng-if="auction.biddingType ==='' || auction.biddingType === 'REVERSE'" title="{{auction.title}}" data-ui-sref="view-requirement({Id:auction.requirementID})">{{auction.title}}</a>
                        <a class="prmellipsis" ng-if="auction.biddingType === 'TENDER'" title="{{auction.title}}" data-ui-sref="view-tender({Id:auction.requirementID})">{{auction.title}}</a>
                    </td>
                    <td data-title="'Title'" sortable="'Name'" ng-if="formRequest.isForwardBidding">
                        <a class="prmellipsis" data-ui-sref="fwd-view-req({Id:auction.requirementID})">{{auction.title}}</a>
                    </td>
                    <td data-title="'Posted By'">{{auction.userName}}</td>
                    <!--<td data-title="'Category'" sortable="'Category'">
                        {{ auction.category[0]}}
                    </td>-->

                    <td data-title="'Quotations Status'">{{auction.noOfVendorsParticipated}} / {{auction.noOfVendorsInvited}} </td>
                    <td data-title="'Posted On'">
                        {{ auction.postedOn}}
                    </td>
                    <td data-title="'Freeze Time'">
                        {{ auction.quotationFreezTime}}
                    </td>
                    <td data-title="'Negotiation Start Time'">
                        <span ng-if="auction.IS_CB_ENABLED == false && auction.status != 'DELETED'">
                            {{auction.status == 'UNCONFIRMED'? auction.expStartTime : auction.startTime}}
                        </span>
                        <span ng-if="auction.IS_CB_ENABLED == true || auction.status == 'DELETED'">
                            {{auction.expStartTime}}
                        </span>
                    </td>
                    <td data-title="'Negotiation End Time'">

                        <span ng-if="auction.status == 'Negotiation Ended'">
                            {{auction.endTime}}
                        </span>
                        <span ng-if="auction.status != 'Negotiation Ended'">
                            --
                        </span>
                    </td>
                    <td data-title="'STATUS'" sortable="'Is Closed'">
                        <strong class="{{auction.statusColor}}">
                            {{ prmStatus(isCustomer,auction.status) }}
                            <!--<strong ng-if="auction.isLockReq" class="text-success">(Locked)</strong>-->
                        </strong>
                    </td>
                    <!--<td data-title="'Actions'" sortable="'Actions'">
                        <a title="Assign Requirement" ng-if="isSuperUser" data-target="#RFQAssignDetails" data-toggle="modal" role="button" ng-click="selectedRFQ(auction.requirementID)" class=""><i class="fas fa-tasks"></i></a>
                        <span ng-if="!isSuperUser && auction.isAssigned == true"><i class="fa fa-star" aria-hidden="true"></i></span>
                    </td>-->
                    <td data-title="''">
                        <a title="Clone Requirement" role="button" ng-click="cloneRequirement(auction)" class="">Clone</a>
                    </td>

                </tr>
                <tr ng-repeat-end ng-if="auction.expanded">
                    <td colspan="11">
                        <!--<div class="row">
                            <div class="col-md-4"><strong>Title</strong></div>
                            <div class="col-md-8">{{auction.title}}</div>
                        </div>-->
                        <div class="row">
                            <div class="col-md-4"><strong>Priority</strong></div>
                            <div class="col-md-8">{{auction.urgency}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Delivery Terms</strong></div>
                            <div class="col-md-8">{{auction.deliveryTime}}</div>
                        </div>
                        <!--<div class="row">
                            <div class="col-md-4"><strong>Delivery Location</strong></div>
                            <div class="col-md-8">{{auction.deliveryLocation}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Payment Terms</strong></div>
                            <div class="col-md-8">{{auction.paymentTerms}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Requirement Type</strong></div>
                            <div class="col-md-8">
                                <span ng-if="auction.isDiscountQuotation == 0">PRICE <span ng-if="auction.IS_CB_ENABLED == true">(COUNTER BID)</span> </span>
                                <span ng-if="auction.isDiscountQuotation == 1">DISCOUNT</span>
                                <span ng-if="auction.isDiscountQuotation == 2">MARGIN</span>
                            </div>
                        </div>-->
                    </td>
                </tr>
            </table>
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
        </div>

        <div class="center-block">
            <div class="modal" id="RFQAssignDetails" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 150%;">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" ng-click="clearForm();">&times;</button>
                            <h4 class="modal-title">Requirement Assign</h4>
                        </div>
                        <div class="modal-body">
                            <div class="pmbb-view table-responsive">
                                <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                                    <tr ng-repeat="user in subUsers">
                                        <td data-title="'S.N.o'">
                                            {{$index+1}}
                                        </td>
                                        <td data-title="'User Name'" sortable="'Name'">
                                            {{user.firstName + ' ' + user.lastName}}
                                        </td>
                                        <td data-title="'EMAIL'">
                                            {{ user.email}}
                                        </td>
                                        <td data-title="'PHONE'">
                                            {{ user.phoneNum}}
                                        </td>
                                        <td data-title="'Assign RFQ'">
                                            <a role="button" ng-show="user.isValid1" ng-click="assignRFQToUser(true, user.userID)" class="fa fa-check-circle p-t-10" style="color:green"></a>
                                            &nbsp;
                                            <a role="button" ng-show="user.isValid2" ng-click="assignRFQToUser(false, user.userID)" class="fa fa-times p-t-10" style="color:red"></a>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-click="clearForm();" data-dismiss="modal" class="btn btn-info">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix" style="margin-bottom:150px;"></div>
    </div>

    <script>
        function filterText() {
            var rex = new RegExp($('#filterText').val());
            if (rex == "/all/") { clearFilter() } else {
                $('.content').hide();
                $('.content').filter(function () {
                    return rex.test($(this).text());
                }).show();
            }
        }

        function clearFilter() {
            $('.filterText').val('');
            $('.content').show();
        }
    </script>

</div>
</div>