
<div class="white-box">
    <div class="row">

        <div class="pmb-block" ng-controller="profileInfoCtrl as pctrl" >
            <div class="row">
            <div class="pmbb-header ">
                <div class="col-md-6">
                <!--<h2><i class="zmdi zmdi-info m-r-5"></i> Professional Information</h2>-->
                <h3 class="page-heading">Professional Information</h3></div>
                <div class="col-md-6">
                <a class="actions" ng-if="pctrl.editPro === 0 && !isnegotiationrunning" data-ng-click="pctrl.editMode()" href="">
                    <!--<i class="zmdi zmdi-edit"></i>-->
                    <i class="fa fa-edit fa-2x pull-right" style="font-size:14px"></i>
                </a>
                    </div>
                </div>
             </div>
            <div class="pmbb-body">
                <div class="pmbb-view" style="overflow-wrap: break-word;" data-ng-if="pctrl.editPro === 0">
                    <dl class="dl-horizontal">
                        <dt>About Us</dt>
                        <dd>{{ userDetails.aboutUs }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Directors/ proprietor</dt>
                        <dd>{{ userDetails.directors }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Address</dt>
                        <dd>{{ userDetails.address }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Office/Store Image</dt>
                        <dd><img style="width: 80px;height: 80px;" class="text-center otplogo" ng-if="userDetails.logoURL" src="{{userDetails.logoURL}}"></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Established Date</dt>
                        <dd><span ng-hide="userDetails.dateshow == 1">{{userDetails.establishedDate}}</span></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Achievements</dt>
                        <dd>{{ userDetails.achievements }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Associated With OEM</dt>
                        <dd>{{ userDetails.assocWithOEM ? 'Yes' : 'No' }}</dd>
                    </dl>
                    <dl class="dl-horizontal" ng-if="userDetails.assocWithOEM">
                        <dt>Associated With OEM File</dt>
                        <dd>
                            <a target="_blank" ng-show="userDetails.assocWithOEMFileName && userDetails.assocWithOEMFileName!='' && userDetails.assocWithOEMFileName!= null" href="FileDownload.aspx?attachid={{userDetails.assocWithOEMFileName}}&sessionid={{sessionid}}">Download OEM</a>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>OEM Company Name</dt>
                        <dd>{{ userDetails.oemCompanyName }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>OEM Known Since</dt>
                        <dd>{{ userDetails.oemKnownSince }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Products</dt>
                        <dd>{{ userDetails.products }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Clients</dt>
                        <dd>{{ userDetails.clients }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Response Time</dt>
                        <dd>{{ userDetails.responseTime }}</dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt>Working Hours</dt>
                        <dd>{{ userDetails.workingHours }}</dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt>Core Business Strength</dt>
                        <dd>{{ userDetails.strengths }}</dd>
                    </dl>
                    <dl class="dl-horizontal" ng-show="userDetails.role === 'VENDOR'">
                        <dt>Subcategories</dt>
                        <dd>{{subcategories}}</dd>
                    </dl>
                </div>

                <form name="test3" data-ng-submit="pctrl.submit('profileProfession', 'Profile Professional Information')" class="pmbb-edit" data-ng-show="pctrl.editPro === 1">
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">About Us</dt>
                        <dd>
                            <div class="fg-line">
                                <input data-ng-model="userDetails.aboutUs" type="text" class="form-control">
                            </div>
                        </dd>
                    </dl>



                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Directors/Propreitor</dt>
                        <dd>
                            <div class="fg-line">
                                <input data-ng-model="userDetails.directors" type="text" class="form-control">
                            </div>
                        </dd>
                    </dl>



                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Address</dt>
                        <dd>
                            <div class="fg-line">
                                <input data-ng-model="userDetails.address" type="text" class="form-control">
                            </div>
                        </dd>
                    </dl>


                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Office/Store Image</dt>
                        <dd>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-info btn-file btn-new-look">
                                    <span class="fileinput-new">Choose a file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" accept=".jpg,.jpeg,.png" id="storeLogo" doctype="storeLogo" ng-file-select-docs="onFileSelect($files)" />
                                </span>
                                <span class="fileinput-filename" data-ng-model="userDetails.logoURL"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                            </div>
                            <div ng-show="pctrl.imagefilesonlyforlogo">
                                <div class="help-block error logininput" ng-show="pctrl.imagefilesonlyforlogo">Please select only images like (jpg,jpeg,png)</div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Achievements</dt>
                        <dd>
                            <div class="fg-line">
                                <input data-ng-model="userDetails.achievements" type="text" class="form-control">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Associated With OEM</dt>
                        <dd>
                            <div class="toggle-switch">
                                <input id="assocWithOEM" ng-model="userDetails.assocWithOEM" type="checkbox" hidden="hidden" />
                                <label for="assocWithOEM" class="ts-helper"></label>
                                <label for="assocWithOEM" class="fg-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Associated With OEM?</label>
                            </div>

                        </dd>
                    </dl>
                    <div ng-show="userDetails.assocWithOEM" class="fileinput fileinput-new col-xs-12 padding0" data-provides="fileinput">


                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Manufacturer Name</dt>
                            <dd>
                                <div class="fg-line">
                                    <input data-ng-model="userDetails.oemCompanyName" type="text" class="form-control">
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Known Since</dt>
                            <dd>
                                <div class="fg-line">
                                    <input data-ng-model="userDetails.oemKnownSince" type="text" class="form-control">
                                </div>
                            </dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt class="p-t-10"></dt>
                            <dd>
                                <span class="btn btn-info btn-file btn-new-look">
                                    <span class="fileinput-new">Choose a file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="assocWithOEMFile" doctype="assocWithOEM" ng-file-select-docs="onFileSelect($files)" required />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                            </dd>
                        </dl>

                    </div>




                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Clients</dt>
                        <dd>
                            <div class="fg-line">
                                <input data-ng-model="userDetails.clients" type="text" class="form-control">
                            </div>
                        </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Established Date</dt>
                        <dd>
                            <div class="fg-line">
                                <div moment-picker="userDetails.establishedDate" format="DD-MM-YYYY">
                                    <input name="establishedDate" id="establishedDate" class="form-control" placeholder="Select a date" ng-model="userDetails.establishedDate">
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Products</dt>
                        <dd>
                            <div class="fg-line">
                                <input data-ng-model="userDetails.products" type="text" class="form-control">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Response Time</dt>
                        <dd>
                            <div class="fg-line">
                                <input data-ng-model="userDetails.responseTime" type="text" class="form-control">
                            </div>
                        </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Working Hours</dt>
                        <dd>
                            <div class="fg-line">
                                <input data-ng-model="userDetails.workingHours" type="text" class="form-control">
                            </div>
                        </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Core Business Strength</dt>
                        <dd>
                            <div class="fg-line">
                                <input data-ng-model="userDetails.strengths" type="text" class="form-control">
                            </div>
                        </dd>
                    </dl>
                    <!--<dl class="dl-horizontal" ng-show="userDetails.role === 'VENDOR'">
                        <dt class="p-t-10">Subcategories</dt>
                        <dd>
                            {{subcategories}}
                            <div class="fg-line">
                                <div isteven-multi-select
                                        disable-property="true"
                                        class="col-md-4"
                                        input-model="totalSubcats"
                                        output-model="userDetails.subcategories"
                                        button-label="subcategory"
                                        item-label="subcategory"
                                        tick-property="ticked"
                                        max-labels="1"
                                        max-height="150px">
                                </div>
                            </div>
                        </dd>
                    </dl>-->
                    <div class="m-t-30">
                        <button class="btn btn-info btn-sm  " ng-click="pctrl.UpdateUserProfileInfo();">Save</button>
                        <button class="btn btn-link btn-sm" data-ng-click="pctrl.editPro = 0">Cancel</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>
            