
<div class="white-box fdcBorders">
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align:center" class="box-title"><strong>Personal Details</strong></h4>

        </div>

    </div>
    <div class="row">

        <div class="col-md-3">
            <div>
                <label class="fg-label">Address</label>
                <textarea class="form-control" ng-model="newVendor.Address1" type="text" id="address" name="address" cols="2" rows="2"></textarea>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <label for="fname">Street 1</label>
                <input type="text" class="form-control" ng-model="newVendor.Street1" id="street1">
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <label for="lname">Street 2</label>
                <input type="text" class="form-control" id="lastName" ng-model="newVendor.Street2">
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <label for="Address">Street 3</label>
                <input type="text" class="form-control" id="Address" ng-model="newVendor.Street3">
            </div>
        </div>
    </div>

    <div class="row">&nbsp;</div>

   

    <div class="row">
        <div class="col-md-3">
            <div>
                <label for="Country">Country</label>
                <!--<input type="text" class="form-control" id="Country" ng-model="newVendor.Country">-->
                <select title="{{newVendor.Country.configValue}}" name="Country" id="Country" ng-model="newVendor.Country"
                        ng-options="countr.configValue as countr.configValue for countr in companyCountryUnits" class="form-control"
                        ng-change="populateState(newVendor.Country);populateCCCode(newVendor.Country)"></select>
                <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.Country.$touched">
                    <small class="help-block error logininput" style="color:red" ng-show="vendorregisterForm.Country.$error.required">Please Select Country</small>
                </div>

            </div>



        </div>
        <div class="col-md-3" ng-if="displayStateVal">
            <div>
                <label for="State">State</label>
                <input type="text" class="form-control" id="State" ng-model="newVendor.State">
                <!--<div ng-show="vendorregisterForm.$submitted || vendorregisterForm.State.$touched">
                    <small class="help-block error logininput " style="color:red" ng-show="vendorregisterForm.State.$error.required">Please enter State</small>
                </div>-->
            </div>
        </div>

        <div class="col-md-3" ng-if="!displayStateVal">
            <div>
                <label for="State">State</label>
                <select title="{{newVendor.State.configValue}}" class="form-control" ng-model="newVendor.State" name="State" id="State"
                        ng-options="state.configValue as state.configValue for state in companyStateUnitsTemp" required></select>
                <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.State.$touched">
                    <small class="help-block error logininput " style="color:red" ng-show="vendorregisterForm.State.$error.required">Please Select State</small>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <label for="PinCode">PinCode</label>
                <input type="text" class="form-control" id="PinCode" ng-model="newVendor.PinCode">
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <label for="City">City</label>
                <input type="text" class="form-control" id="City" ng-model="newVendor.City">
            </div>
        </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
       

    </div>

</div>

<div class="white-box fdcBorders">
    <h4 style="text-align:center" class="box-title"><strong>Contact Details</strong></h4>
    <div class="row">

        <div class="col-md-4">
            <div>
                <label for="altMobile">Alt Mobile N.o.</label>
                <input type="text" valid-number allow-decimal="false" allow-negative="false" class="form-control" id="altMobile" ng-model="newVendor.altMobile" onKeyPress="if(this.value.length==10) return false;" />
                <!--<input type="number" class="form-control" id="altMobile" ng-model="newVendor.altMobile" onKeyPress="if(this.value.length==10) return false;"
               onkeydown="return event.keyCode !== 69 && event.keyCode !== 189"  />-->
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <label for="landLine">LandLine N.o.</label>
                <input type="number" valid-number allow-decimal="false" allow-negative="false" class="form-control" id="landLine" ng-model="newVendor.landLine" />
                <!--<input type="number" class="form-control" id="landLine" ng-model="newVendor.landLine"
               onkeydown="return event.keyCode !== 69 && event.keyCode !== 189" />-->
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <label for="Fax">Fax</label>
                <input class="form-control" ng-model="newVendor.additionalVendorInformation.fax" type="text" id="fax" name="fax" />
            </div>
        </div>
    </div>

        

</div>

    

<div class="white-box fdcBorders">
    <h4 style="text-align:center" class="box-title"><strong>Business Details</strong></h4>
    <div class="row">


        <div class="col-md-4">
            <div>
                <label for="fname">WebSite Address</label>
                <input type="text" class="form-control" id="website" ng-model="newVendor.additionalVendorInformation.websiteAddress">
            </div>
        </div>
        <div class="col-md-4 form-group">
            <div class="fg-line">
                <label for="bType">Business Type</label>
                <input type="text" class="form-control" id="salesPersonName" ng-model="newVendor.additionalVendorInformation.busineesType">
            </div>
        </div>

        <div class="col-md-4 form-group">
            <div moment-picker="newVendor.additionalVendorInformation.businessIncoDate" format="YYYY-MM-DD" class="fg-line">
                <label class="fg-label" for="businessIncoDate">Business Incorporation Date</label>
                <input type="text" id="bussincoDate" name="bussincoDate" class="form-control" placeholder="Select a date" ng-model="newVendor.additionalVendorInformation.businessIncoDate" ng-model-options="{ updateOn: 'blur' }" />
            </div>
        </div>

    </div>
    <div class="row">&nbsp;</div>

    <div class="row">



        <div class="col-md-4 form-group">
            <div class="fg-line">
                <label for="odName">Owner / Director name</label>
                <input type="text" class="form-control" id="ownerDirectorName" ng-model="newVendor.additionalVendorInformation.ownerDirectorName" />
            </div>
        </div>
        <div class="col-md-4 form-group">
            <div class="fg-line">
                <label for="odAadharCard">Owner / Director adhaar card details</label>
                <input type="text" valid-number allow-decimal="false" allow-negative="false" class="form-control" id="ownerDirectorAadharCard" ng-model="newVendor.additionalVendorInformation.ownerDirectorAadharCard"
                       onKeyPress="if(this.value.length==16) return false;" onkeydown="if (event.keyCode == 189 || event.keyCode == 190) return false;" />
            </div>
        </div>

        <div class="col-md-4 form-group">
            <div class="fg-line">
                <label for="iec">IEC</label>
                <input type="text" class="form-control" id="iec" ng-model="newVendor.additionalVendorInformation.iec" />
            </div>
        </div>
    </div>



    <div class="row">

        <div class="col-md-4">
            <div>
                <label for="fname">Registered Under "MSMED ACT,2006"</label>
                <br>
                <input type="radio" name="msmeradio" id="msmeactyes" ng-value="1" class="" ng-model="newVendor.additionalVendorInformation.msmedAct" /><label for="msmeactyes"><b>Yes</b></label>
                <input type="radio" name="msmeradio" id="msmeactno" ng-value="0" class="" ng-model="newVendor.additionalVendorInformation.msmedAct" /><label for="msmeactno"><b>No </b></label>
            </div>
        </div>
        <div class="col-md-4" ng-show="addVendorShow">
            <label for="lname">GST</label>
            <small ng-if="newVendor.gstAttach!=''">
                <a target="_blank" href="FileDownload.aspx?attachid={{newVendor.gstAttach}}&sessionid={{sessionid}}">Download</a>
            </small>
            <br>
            <input type="text" ng-model="newVendor.stn" ng-disabled="true" class="form-control" />
        </div>

        <div class="col-md-4" ng-show="addVendorShow">
            <label for="lname">PAN</label>
            <small ng-if="newVendor.panAttach!=''">
                <a target="_blank" href="FileDownload.aspx?attachid={{newVendor.panAttach}}&sessionid={{sessionid}}">Download</a>
            </small>
            <br>
            <input type="text" ng-model="newVendor.pan" ng-disabled="true" class="form-control" />
        </div>
    </div>
    <div class="row">

        <div class="col-md-4" ng-show="addVendorShow">
            <label for="lname">MSME</label><br>
            <small ng-if="newVendor.msmeAttach!=''">
                <a target="_blank" href="FileDownload.aspx?attachid={{newVendor.msmeAttach}}&sessionid={{sessionid}}">Download</a>
            </small>
        </div>

    </div>

    <div class="row">&nbsp;</div>


</div>

    <div class="white-box fdcBorders">
        <h4 style="text-align:center" class="box-title"><strong>Bank Details</strong></h4>
        <div class="row">

            <div class="col-md-4">
                <div>
                    <label for="fname">Bank Name</label>
                    <!--<input type="text" class="form-control" id="firstName" ng-model="newVendor.BankName">-->
                    <select title="{{newVendor.BankName.configValue}}" name="BankName" id="BankName" ng-model="newVendor.BankName"
                            ng-options="bank.configValue as bank.configValue for bank in companyBankUnits" class="form-control"></select>
                    <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.BankName.$touched">
                        <small class="help-block error logininput " style="color:red" ng-show="vendorregisterForm.BankName.$error.required">Please Select Bank Name</small>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <label for="lname">Bank Address</label>
                    <input type="text" class="form-control" id="BankAddress" ng-model="newVendor.BankAddress" />
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <label for="fname">Payee Name</label>
                    <input type="text" class="form-control" id="payeeName" ng-model="newVendor.additionalVendorInformation.payeeName">
                </div>
            </div>

        </div>

        <div class="row">&nbsp;</div>

        <div class="row">

            <div class="col-md-4">
                <div>
                    <label for="fname">Bank Account Type</label>
                    <input type="text" class="form-control" id="bankAccType" ng-model="newVendor.additionalVendorInformation.bankAccountType">
                </div>
            </div>

            <div class="col-md-4">
                <div class="">
                    <label for="Address">Bank Account N.o.</label>
                    <input type="number" valid-number allow-decimal="false" allow-negative="false" class="form-control" id="accntNumber" ng-model="newVendor.accntNumber" />
                    <!--<input type="number"
            onkeydown="return event.keyCode !== 69 && event.keyCode !== 189"
            class="form-control" id="accntNumber" ng-model="newVendor.accntNumber" />-->
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <label for="fname">IFSC Details</label>
                    <input type="text" class="form-control" id="ifsc" ng-model="newVendor.Ifsc">
                </div>
            </div>

            
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">

            <div class="col-md-4" ng-show="addVendorShow">
                <div>
                    <label for="lname">Cancelled Cheque</label>
                    <br>
                    <small ng-if="newVendor.cancelledCheque!=''">
                        <a target="_blank" href="FileDownload.aspx?attachid={{newVendor.cancelledCheque}}&sessionid={{sessionid}}">Download</a>
                    </small>
                </div>
            </div>

            

        </div>

    </div>

     <div class="white-box">

        <div class="row">
            <div class="col-md-6">
                <h4 style="text-align:center" class="box-title"><strong>Primary Contact Person</strong></h4>
                <div class="row white-box fdcBorders">
                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="fname"><strong>Name</strong></label>
                            <input type="text" class="form-control" id="primaryContactName" name="primaryContactName" ng-model="newVendor.additionalVendorInformation.primaryContactName" />
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="fname"><strong>Designation</strong></label>
                            <input type="text" class="form-control" id="primarydesignation" name="primarydesignation" ng-model="newVendor.additionalVendorInformation.primaryContactDesignation" />
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="fname"><strong>Mobile</strong></label>
                            <input type="number" id="primaryMobile" name="primaryContactMobile" class="form-control" ng-model="newVendor.additionalVendorInformation.primaryContactMobile" allow-decimal="false" allow-negative="false"
                                    onKeyPress="if(this.value.length==10) return false;" onkeydown="if (event.keyCode == 189 || event.keyCode == 190) return false;" />
                        </div>
                    </div>

                    <div class="row">&nbsp;</div>

                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="fname"><strong>Land Line</strong></label>
                            <input type="number" class="form-control" id="primaryContactLandLine" name="primaryContactLandLine" ng-model="newVendor.additionalVendorInformation.primaryContactLandLine" 
                                   onKeyPress="if(this.value.length==16) return false;" onkeydown="if (event.keyCode == 189 || event.keyCode == 190) return false;" />
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="fname"><strong>Email</strong></label>
                            <input type="email" class="form-control" id="primaryContactEmailId" name="primaryContactEmailId" ng-model="newVendor.additionalVendorInformation.primaryContactEmailId" ng-model-options="{debounce:100}"
                                    ng-change="EmailValidate1()" />
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.primaryContactEmailId.$dirty || vendorregisterForm.primaryContactEmailId.$touched">
                            <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.primaryEmail.$error.required">Please enter Email</small>
                            <small class="help-block error logininput text-danger" ng-show="(!vendorregisterForm.primaryEmail.$error.required && vendorregisterForm.primaryEmail.$error.Email) || showEmailValid">Please enter a valid Email</small>
                            <small class="help-block error logininput text-danger" ng-show="checkVendorEmailUniqueResult && !vendorregisterForm.primaryEmail.$error.required">Email already exists</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4 style="text-align:center" class="box-title"><strong>Secondary Contact Person</strong></h4>
                <div class="row white-box fdcBorders">
                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="fname"><strong>Name</strong></label>
                            <input type="text" class="form-control" id="secondaryName" ng-model="newVendor.additionalVendorInformation.secondaryContactName" />
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="fname"><strong>Designation</strong></label>
                            <input type="text" class="form-control" id="secondarydesignation" ng-model="newVendor.additionalVendorInformation.secondaryContactDesignation" />
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="fname"><strong>Mobile</strong></label>
                            <input type="number" id="secondaryPhone" valid-number allow-decimal="false" allow-negative="false" class="form-control" ng-model="newVendor.additionalVendorInformation.secondaryContactMobile"
                                    onKeyPress="if(this.value.length==10) return false;" onkeydown="if (event.keyCode == 189 || event.keyCode == 190) return false;" />
                        </div>
                    </div>

                    <div class="row">&nbsp;</div>

                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="altMobile"><strong>Land Line</strong></label>
                            <input type="text" valid-number allow-decimal="false" allow-negative="false" class="form-control" id="altMobile" ng-model="newVendor.additionalVendorInformation.secondaryContactLandLine"
                                    onKeyPress="if(this.value.length==16) return false;" onkeydown="if (event.keyCode == 189 || event.keyCode == 190) return false;" />
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="fname"><strong>Email</strong></label>
                            <input type="email" class="form-control" id="secondaryEmail" ng-model="newVendor.additionalVendorInformation.secondaryContactEmailId" ng-model-options="{debounce:100}"
                                    ng-change="EmailValidate1()" />
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.secondaryEmail.$dirty || vendorregisterForm.secondaryEmail.$touched">
                            <small class="help-block error logininput text-danger" ng-show="(!vendorregisterForm.secondaryEmail.$error.required && vendorregisterForm.secondaryEmail.$error.Email) || showEmailValid">Please enter a valid Email</small>
                            <small class="help-block error logininput text-danger" ng-show="checkVendorEmailUniqueResult && !vendorregisterForm.secondaryEmail.$error.required">Email already exists</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="white-box fdcBorders" ng-hide="true">
        <h4 style="text-align:center" class="box-title"><strong>Conflict Of Interest</strong></h4>
        <div class="row">

            <div class="col-md-4">
                <div>
                    <label for="supllier">Do you know any person in CPIL prior to this engagement</label>
                    <!--<select type="text" class="form-control" id="supplier" ng-model="newVendor.additionalVendorInformation.supplier" ng-repeat="supplier in " >-->
                    <input type="text" class="form-control" id="materialOrServiceName" ng-model="newVendor.additionalVendorInformation.nameContactDetails" />
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <label for="fname">Have you ever dealt with Century Ply Before?</label>
                    <input type="radio" name="radio" id="qyes" ng-value="1" class="" ng-model="newVendor.additionalVendorInformation.clientDealtBefore" /><label for="qyes"><b>Yes</b></label>
                    <input type="radio" name="radio" id="qno" ng-value="0" class="" ng-model="newVendor.additionalVendorInformation.clientDealtBefore" /><label for="qno"><b>No </b></label>
                    <input type="text" class="form-control" id="clientDealt" ng-model="newVendor.additionalVendorInformation.clientDealt" />
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <label for="supllier">Supplier type</label>
                    <!--<select type="text" class="form-control" id="supplier" ng-model="newVendor.additionalVendorInformation.supplier" ng-repeat="supplier in " >-->

                    <select name="Country" id="Country" ng-model="newVendor.additionalVendorInformation.supplier" class="form-control">
                        <option ng-repeat="suppliee in supplierType">{{suppliee}}</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">&nbsp;</div>

        <div class="row">

            <div class="col-md-4">
                <div>
                    <label for="Address">Material / Service Name</label>
                    <input type="text" class="form-control" id="materialOrServiceName" ng-model="newVendor.additionalVendorInformation.materialOrServiceName" />
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <label for="CategoryMaterial">Category of Material / Service</label>
                    <input type="text" class="form-control" id="categoryMaterial" ng-model="newVendor.additionalVendorInformation.materialOrService" />
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <label for="importFrom">Import from</label>
                    <input type="text" class="form-control" id="import" ng-model="newVendor.additionalVendorInformation.importFrom" />
                </div>

            </div>

        </div>

        <div class="row">&nbsp;</div>


        <div class="row">
            <div class="col-md-12">
                <h4 style="text-align:center" class="box-title"><strong>Customer 1 Details</strong></h4>
                <div class="row white-box fdcBorders">
                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="nameLocation"><strong>Name & Location</strong></label>
                            <input type="text" class="form-control" id="customerNameAndLocation" name="customerNameAndLocation" ng-model="newVendor.additionalVendorInformation.customerNameAndLocation" />
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="natureOfBusiness"><strong>Nature of Business</strong></label>
                            <input type="text" class="form-control" id="customerNatureOfBusiness" name="customerNatureOfBusiness" ng-model="newVendor.additionalVendorInformation.customerNatureOfBusiness" />
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="fname"><strong>Name of Contact Person</strong></label>
                            <input type="text" id="customerContactPersonName" name="customerContactPersonName" class="form-control" ng-model="newVendor.additionalVendorInformation.customerContactPersonName" />
                        </div>
                    </div>

                    <div class="row">&nbsp;</div>

                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="fname"><strong>Designation</strong></label>
                            <input type="text" class="form-control" id="customerDersignation" name="customerDersignation" ng-model="newVendor.additionalVendorInformation.customerDersignation" />
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="fname"><strong>Email</strong></label>
                            <input type="email" class="form-control" id="customerEmailId" name="customerEmailId" ng-model="newVendor.additionalVendorInformation.customerEmailId" ng-model-options="{debounce:100}"
                                   ng-change="EmailValidate1()" /><!--checkUserUniqueResult('EMAIL',newVendor.additionalVendorInformation.customerEmailId);-->
                        </div>
                        <div ng-show="showEmailValid">
                            <!--<small class="help-block error logininput text-danger" ng-show="vendorregisterForm.customerEmailId.$error.required">Please enter Email</small>-->
                            <small class="help-block error logininput text-danger" ng-show="showEmailValid">Please enter a valid Email</small>
                            <!--<small class="help-block error logininput text-danger" ng-show="checkVendorEmailUniqueResult && !vendorregisterForm.customerEmailId.$error.required">Email already exists</small>-->
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label class="fg-label" for="fname">Phone Number </label>
                            <input type="number" ng-model="newVendor.additionalVendorInformation.customerPhoneNumber" ng-model-options="{debounce:100}"
                                   class="form-control fg-input" name="customerPhoneNum" id="customerPhoneNum"
                                   minlength="10" maxlength="10" onKeyPress="if(this.value.length==10) return false;" /><!--ng-change="checkUserUniqueResult('PHONE',newVendor.additionalVendorInformation.customerPhoneNumber)"-->
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.customerPhoneNum.$dirty || vendorregisterForm.customerPhoneNum.$touched">
                            <!--<small class="help-block error logininput text-danger" ng-show="vendorregisterForm.customerPhoneNum.$error.required">Please enter Phone Number</small>-->
                            <small class="help-block error logininput text-danger" ng-show="vendorregisterobj.customerPhoneNum.$error.number">Please enter a valid phonenumber</small>
                            <small class="help-block error logininput nowrap text-danger" ng-show="vendorregisterForm.customerPhoneNum.$error.minlength">Phone Number must be min 10 digits.</small>
                            <small class="help-block error logininput nowrap text-danger" ng-show="vendorregisterForm.customerPhoneNum.$error.maxlength">Phone Number must be max 10 digits.</small>
                            <!--<small class="help-block error logininput text-danger" ng-show="checkVendorPhoneUniqueResult && !vendorregisterForm.customerPhoneNum.$error.required">Phone number already exists</small>-->

                        </div>
                    </div>

                    <div class="row">&nbsp;</div>

                    <div class="col-md-4 form-group">
                        <div class="fg-line">
                            <label for="fname">ATTACH A COPY OF LETTER FROM CUSTOMER </label>
                            <br>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-info btn-file btn-new-look">
                                    <span class="fileinput-new">Choose a file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="COPYLETTER" doctype="COPYLETTER" ng-file-select-docs="onFileSelect($files)" />
                                </span>
                                <small ng-if="newVendor.customerCopyLetterAttach!=''">
                                    <a target="_blank" href="FileDownload.aspx?attachid={{newVendor.customerCopyLetterAttach}}&sessionid={{sessionid}}">Download</a>
                                </small>
                                <span class="fileinput-filename"> </span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a><b>{{copyLetterObject.name}}</b>
                            </div>
                            <!--<input type="text" class="form-control" id="customerDersignation" name="customerDersignation" ng-model="newVendor.additionalVendorInformation.customerCopyLetter" ng-disabled="true" />-->
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">&nbsp;</div>


        <div class="row">
            <div class="col-md-4">
                <div>
                    <label for="requestorName">Name of the Requestor:(CPIL)</label>
                    <input type="text" class="form-control" id="requestorName" ng-model="newVendor.additionalVendorInformation.requestor" />
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <label for="requestorPlant">Plant</label>
                    <input type="text" class="form-control" id="plant" ng-model="newVendor.additionalVendorInformation.plant" />
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <label for="department">Department</label>
                    <input type="text" class="form-control" id="department" ng-model="newVendor.additionalVendorInformation.department" />
                </div>
            </div>

        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-md-4">
                <div>
                    <label for="vedorType">Vendor Type</label>
                    <input type="text" class="form-control" id="vendorType" ng-model="newVendor.additionalVendorInformation.vendorType" />
                </div>
            </div>

            <div class="col-md-4">
                <div>
                    <label for="paymentTerms">Payment Terms</label>
                    <input type="text" class="form-control" id="paymentTerms" ng-model="newVendor.additionalVendorInformation.paymentTerms" />
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label for="Country">SAP Vendor Code </label>
                    <input class="form-control" ng-model="newVendor.sapVendorCode" type="text" valid-number allow-decimal="false" allow-negative="false"
                           ng-model-options="{debounce:100}" ng-change="checkUserUniqueResult('SAP_VENDOR_CODE',newVendor.sapVendorCode);"
                           id="VendCode" name="VendCode">
                    <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.VendCode.$dirty || vendorregisterForm.VendCode.$touched">
                        <small class="help-block error logininput text-danger" ng-show="checkSapVendorUniqueResult">SAP Vendor Code already exists</small>
                    </div>
                </div>
            </div>

        </div>


    </div>
