<html>
<head>
    <style>
        table {{border-collapse: collapse;}}

        table.borderClass td {{
            border: 1px solid black;
            text-align: center;
        }}

        table.marginClass tr {{
            margin-top: 10px;
        }}
		.line{{
			width: 112px;
			height: 47px;
			border-bottom: 1px solid black;
			position: absolute;
		}}
    </style>
</head>
<body>
    
	
	<table width='100%' cellpadding="0" cellspacing="0">
        <tr class="line">
            <td>
                <table width='100%' cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width:20%;border-bottom:1px solid black;">
                            <img width="100px" height="50px" src="{0}" />
                        </td>
                        <td style="width:10%;">
                            <table>
                                <tr><td><h2 style='color:red;'>{1}</h2></td></tr>
                                <tr><td>{2}</td></tr>
                                <tr><td>{3}</td></tr>
                                <tr><td>{4}</td></tr>
                                <tr><td>{5}</td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
		<tr>
            <td>
                <table width='100%' cellpadding="0" cellspacing="0" style="margin-left:40px;">
                    <tr>
                        <td>
                            To,<br />
                            {7}<br />
                            {8}<br />
                            {9}<br />
                            {10}<br />
                            {11}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width='100%' cellpadding="0" cellspacing="0" style="margin-left:40px;">
                    <tr>
                        <td>
                            <br /><br />Dear {7},<br /><br />
                            Sub:  Purchase Order for {12} (PO No. {6})<br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        
        <tr>
            <td style="text-align:center;">
                <p>With reference to the above subject, we are pleased to place our Purchase order as follows:</p>
            </td>
        </tr>
    </table>
    <table width='100%' cellpadding="0" cellspacing="0" class="borderClass">
        <tr>
            <td> DESCRIPTION </td>
            <td> TOTAL (RS) </td>
        </tr>
        <tr>
            <td> {13} </td>
            <td> {14} </td>
        </tr>        
        {15}
        <tr>
            <td colspan=1> Freight Charges </td>
            <td> {16} </td>
        </tr>
        <tr>
            <td colspan=1> Grand Total </td>
            <td> {17} </td>
        </tr>
    </table>
    <p>
        <u>
            TERMS AND CONDITIONS:
        </u>
    </p>
    <table style="width:100%" class="marginClass">
        <tr>
            <td style="min-width:40%; vertical-align:top"> 1.  TAXES </td>
            <td style="width:60%;"> : As mentioned above. </td>
        </tr>
        <tr>
            <td style="min-width:40%; vertical-align:top"> 2.   EXPECTED DELIVERY DATE </td>
            <td style="width:60%;"> : {18} </td>
        </tr>
        <tr>
            <td style="min-width:40%; vertical-align:top"> 3.   DELIVERY ADDRESS </td>
            <td style="width:60%;"> : {19} </td>
        </tr>
        <tr>
            <td style="min-width:40%; vertical-align:top"> 4.   COMMENTS</td>
            <td style="width:60%;"> : {20} </td>
        </tr>        
    </table>
    <table>
        <tr>
            <td style="min-width:40%;">
                <p>Thanking You,</p>
                <p> Yours Sincerely, </p>
                <p> {21} </p>
            </td>
        </tr>
    </table>	
</body>
</html>