<html>
<head>
    <style>
        table {{border-collapse: collapse;}}

        table.borderClass td {{
            border: 1px solid black;
            text-align: center;
        }}

        table.marginClass tr {{
            margin-top: 10px;
        }}
		.line{{
			width: 112px;
			height: 47px;
			border-bottom: 1px solid black;
			position: absolute;
		}}
    </style>
</head>
<body>
    <table width='100%' cellpadding="0" cellspacing="0">
        <tr class="line">
            <td>
                <table width='100%' cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width:20%;border-bottom:1px solid black;">
                            <img width="100px" height="50px" src="{0}" />
                        </td>
                        <td style="width:10%;">
                            <table>
                                <tr><td><h2 style='color:red;'>{1}</h2></td></tr>
                                <tr><td>{2}</td></tr>
                                <tr><td>{3}</td></tr>
                                <tr><td>{4}</td></tr>
                                <tr><td>{5}</td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
		<tr>
            <td>
                <table width='100%' cellpadding="0" cellspacing="0" style="margin-left:40px;">
                    <tr>
                        <td>
                            To,<br />
                            {7}<br />
                            {8}<br />
                            {9}<br />
                            {10}<br />
                            {11}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width='100%' cellpadding="0" cellspacing="0" style="margin-left:40px;">
                    <tr>
                        <td>
                            <br /><br />Dear {7},<br /><br />
                            Sub:  Purchase Order for {12}<br />
							PO No: {6}<br />
							Indent No: {28}
							<br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- <tr> -->
            <!-- <td style="text-align:center;"> --o0o-- </td> -->
        <!-- </tr> -->
        <tr>
            <td style="text-align:center;">
                <p>With reference to the above subject, we are pleased to place our Purchase order as follows:</p>
            </td>
        </tr>
    </table>
    <table width='100%' cellpadding="0" cellspacing="0" class="borderClass">
        <tr>
            <td> Product ID/Name </td>
            <td> Product No. </td>
            <td> Description </td>
            <td> Brand Provider </td>
			<td> Unit Price </td>
			<td> Qty </td>
			<td> Tax </td>
            <td> Price </td>
			<td> D.Date </td>
			<td> D.Add </td>
        </tr>
        {13}
        <!-- <tr> -->
            <!-- <td colspan=3> Sub-Total </td> -->
            <!-- <td> {15} </td> -->
        <!-- </tr> -->
        {26}
        <tr>
            <td colspan=7> Freight Charges </td>
            <td> {27} </td>
        </tr>
        <tr>
            <td colspan=7> Grand Total </td>
            <td> {17} </td>
        </tr>
    </table>
    <!-- <p> -->
        <!-- <u> -->
            <!-- TERMS AND CONDITIONS: -->
        <!-- </u> -->
    <!-- </p> -->
    <!-- <table style="width:100%" class="marginClass"> -->
        <!-- <tr> -->
            <!-- <td style="min-width:40%; vertical-align:top"> 1.  TAXES </td> -->
            <!-- <td style="width:60%;"> : As mentioned above. </td> -->
        <!-- </tr> -->
        <!-- <tr> -->
            <!-- <td style="min-width:40%; vertical-align:top"> 2.   BILLING TO </td> -->
            <!-- <td style="width:60%;"> : {18} </td> -->
        <!-- </tr> -->
        <!-- <tr> -->
            <!-- <td style="min-width:40%; vertical-align:top"> 3.   SHIPPING TO </td> -->
            <!-- <td style="width:60%;"> : {19} </td> -->
        <!-- </tr> -->
        <!-- <tr> -->
            <!-- <td style="min-width:40%; vertical-align:top"> 4.   DELIVERY DATE</td> -->
            <!-- <td style="width:60%;"> : {20} </td> -->
        <!-- </tr> -->
        <!-- <tr> -->
            <!-- <td style="min-width:40%; vertical-align:top"> 5.    PAYMENT TERMS </td> -->
            <!-- <td style="width:60%;"> : {21} </td> -->
        <!-- </tr> -->
        <!-- <!-- <tr> --> 
            <!-- <!-- <td style="min-width:40%; vertical-align:top"> 6.     Our TIN No </td> --> 
            <!-- <!-- <td style="width:60%;"> : {22} </td> --> 
        <!-- <!-- </tr> --> 
		<!-- <tr> -->
            <!-- <td style="min-width:40%; vertical-align:top"> 6.     GENERAL COMMENTS: </td> -->
            <!-- <td style="width:60%;"> : {25} </td> -->
        <!-- </tr> -->
    <!-- </table> -->
    <table>
        <tr>
            <td style="min-width:40%;">
                <p>Thanking You,</p>
                <p> Yours Sincerely, </p>
                <p> {23} </p>
            </td>
        </tr>
    </table>
	<!-- <p> -->
		<!-- <b><i>NOTE:</i></b> The detailed specifications of the requirement that needs to be delivered as per the terms mentioned above is attached Annexure 1 of the PO. -->
	<!-- </p> -->
</body>
</html>