<html>
<head>
	<style>
        table {{border-collapse: collapse;}}

        table.borderClass td {{
            border: 1px solid black;
            text-align: center;
        }}
		
		table.tablesdata td {{
			border: 1px solid black;
			border-collapse: collapse;
			text-align: center;
			padding:1px;
			<!--font-size: 85%;-->
		}}

        table.marginClass tr {{
            margin-top: 10px;
        }}
		.line{{
			width: 112px;
			height: 47px;
			border-bottom: 1px solid black;
			position: absolute;
		}}
		.line1{{
			width: 112px;
			height: 47px;
			position: relative;
		}}
    </style>
</head>
<body>
		
		<table width='100%' cellpadding="0" cellspacing="0">
			<tr>
			<td style="width:20%;border-bottom:1px solid black;">
				<img width="100px" height="50px" src="{14}" />
				{15}
			</td>
		</tr>
		</table>
		
		<center><h1><u>Material Received Report </u></h1></center>		   			
		<br><br>
		<table width='100%' cellpadding="0" cellspacing="0">
		
		<tr>
			<td style="font-weight:bold; width:25%;"> Requirement </td>
			<td> : {8} </td>			
		</tr>
		<tr>
			<td style="font-weight:bold; width:25%;"> Purchase Order No </td>
			<td>  : {0}</td>			
		</tr>	
		<tr>
			<td style="font-weight:bold; width:25%;"> Indent No </td>
			<td> : {1}</td>
		</tr>
		</table>
		
		<h3> Meterial Recived </h3>
	<table width='100%' cellpadding="0" cellspacing="0" border="1px solid black">
			<tr>
				<td style="width:25%;padding:5px;font-weight:bold;"> Recived Code </td>
				<td style="width:75%;padding:5px"> {10} </td>
			</tr>
			<tr>
				<td style="width:25%;padding:5px;font-weight:bold;"> Recived By </td>
				<td style="width:75%;padding:5px"> {11} </td>
			</tr>
			<tr>
				<td style="width:25%;padding:5px;font-weight:bold;"> Recived Comments </td>
				<td style="width:75%;padding:5px"> {12} </td>
			</tr>
			<tr>
				<td style="width:25%;padding:5px;font-weight:bold;"> Recived Date </td>
				<td style="width:75%;padding:5px"> {13} </td>
			</tr>
	</table>
			
	
	<h3> Item Details </h3>
	<table width='100%' cellpadding="0" cellspacing="0" class="tablesdata">	
		<tr style="font-weight: bold">
			<td> HSN Code </td>
			<td> PO Qty </td>
			<td> TOTAL DIS.QTY </td>			
			<td> TOTAL REC.QTY </td>
			<td> Dispatch Qty </td>
			<td> Unit Price </td>
			<td> Accepted Qty </td>
			<td> Return Qty </td>
		</tr>
		{9}
    </table>
	
	
	
		
		<h3> Dispatch Details </h3>
		
		<table width='100%' cellpadding="0" cellspacing="0" border="1px solid black">
			<tr>
				<td style="width:25%;padding:5px;font-weight:bold;"> Dispatch Type </td>
				<td style="width:75%;padding:5px"> {2} </td>
			</tr>
			<tr>
				<td style="width:25%;padding:5px;font-weight:bold;"> Delivery Track ID </td>
				<td style="width:75%;padding:5px"> {3} </td>
			</tr>
			<tr>
				<td style="width:25%;padding:5px;font-weight:bold;"> Dispatch Code </td>
				<td style="width:75%;padding:5px"> {4} </td>
			</tr>
			<tr>
				<td style="width:25%;padding:5px;font-weight:bold;"> Dispatch Mode </td>
				<td style="width:75%;padding:5px"> {5} </td>
			</tr>
			<tr>
				<td style="width:25%;padding:5px;font-weight:bold;"> Dispatch Date </td>
				<td style="width:75%;padding:5px"> {6} </td>
			</tr>
			<tr>
				<td style="width:25%;padding:5px;font-weight:bold;"> Dispatch Comments </td>
				<td style="width:75%;padding:5px"> {7} </td>
			</tr>
		</table>	
		
</body>


<br><br><br>
This is a computer-generated document. No signature is required.
</html>