<html>
<head>
    <style>
        table {{border-collapse: collapse;}}

        table.borderClass td {{
            border: 1px solid black;
            text-align: left;
        }}
		
		table.tablesdata td {{
			border: 1px solid black;
			border-collapse: collapse;
			text-align: left;
			padding:3px;
		}}

        table.marginClass tr {{
            margin-top: 10px;
        }}
		.line{{
			width: 112px;
			height: 47px;
			border-bottom: 1px solid black;
			position: absolute;
		}}
		.line1{{
			width: 112px;
			height: 47px;
			position: relative;
		}}			
		
		.pading2px{{
			padding:2px;
		}}
		
    </style>
</head>
<body>


	<table width='100%' cellpadding="0" cellspacing="0">
		<tr>
			<td style="width:20%;border-bottom:1px solid black;">
				<img width="100px" height="50px" src="{0}" />							
			</td>
			<td style="border-bottom:1px solid black;"><h2 style='color:red;'>{1}</h2>
			
			</td>			
		</tr>		
	</table>

	<div style='text-align: right'>Date: {5}</div>
	<h2 style='text-align: center'>Material Received Receipt</h2>   
            	
    <table width='100%' cellpadding="0" cellspacing="0" class="table">	
		<tr style='text-align: left'>		
			<td style="width:15%;align=left;font-weight: bold;">
			Req ID
			</td>
			<td style="width:35%;align=left;">
			: {6}
			</td>
			<td style="width:15%;align=left;font-weight: bold;">
			PO No
			</td>
			<td style="width:35%;align=left;">
			: {7}
			</td>		
		</tr>	
		<tr>		
			<td style="width:15%;align=left;font-weight: bold;">
			Invoice No
			</td>
			<td style="width:35%;align=left;">
			: {8}
			</td>
			<td style="width:15%;align=left;font-weight: bold;">
			DC No
			</td>
			<td style="width:35%;align=left;">
			: {9}
			</td>		
		</tr>		
    </table>	
	<br />
	<table width='100%' cellpadding="0" cellspacing="0" class="borderClass">		
		<tr>		
			<td style="width:15%;align=left;font-weight: bold;" class="pading2px">
			Title
			</td>
			<td style="width:35%;align=left" class="pading2px">
			{10}
			</td>				
		</tr>
		
		<br />
		
		<tr>		
			<td style="width:15%;align=left;font-weight: bold;" class="pading2px">
			Description
			</td>
			<td style="width:35%;align=left" class="pading2px">
			{11}
			</td>				
		</tr>
		
		<br />
		
		<tr>		
			<td style="width:15%;align=left;font-weight: bold;" class="pading2px">
			Received From
			</td>
			<td style="width:35%;align=left" class="pading2px">
			{12}
			</td>				
		</tr>
		
		<br />
		
		<tr>		
			<td style="width:15%;align=left;font-weight: bold;" class="pading2px">
			Received Mode
			</td>
			<td style="width:35%;align=left" class="pading2px">
			{13}
			</td>				
		</tr>
		
		<br />
		
		<tr>		
			<td style="width:15%;align=left;font-weight: bold;" class="pading2px">
			Received Through
			</td>
			<td style="width:35%;align=left" class="pading2px">
			{14}
			</td>				
		</tr>
		
		<br />
		
		<tr>		
			<td style="width:15%;align=left;font-weight: bold;" class="pading2px">
			Received Delivery
			</td>
			<td style="width:35%;align=left" class="pading2px">
			{15}
			</td>				
		</tr>
		
		<br />
		
		<tr>		
			<td style="width:15%;align=left;font-weight: bold;" class="pading2px">
			MRR Number
			</td>
			<td style="width:35%;align=left" class="pading2px">
			{16}
			</td>				
		</tr>
		
		<br />
		
		<tr>		
			<td style="width:15%;align=left;font-weight: bold;" class="pading2px">
			Comments
			</td>
			<td style="width:35%;align=left" class="pading2px">
			{17}
			</td>				
		</tr>		
    </table>
	    <br />
	<table width='100%' cellpadding="0" cellspacing="0" class="pading2px">		
		<tr>					
			<td>
			<div style="font-weight: bold;">Note: </div> For any Queries on this Material Dispatch Please reach out to: {4} / {3}
			<br />
			<div style="font-weight: bold;">Address: </div> {2}
			</td>				
		</tr>
    </table>
	
	
</body>
</html>