<html>
<head>
    <style>
        table {{border-collapse: collapse;}}

        table.borderClass td {{
            border: 1px solid black;
            text-align: center;
        }}
		
		table.tablesdata td {{
			border: 1px solid black;
			border-collapse: collapse;
			text-align: center;
			padding:3px;
		}}

        table.marginClass tr {{
            margin-top: 10px;
        }}
		.line{{
			width: 112px;
			height: 47px;
			border-bottom: 1px solid black;
			position: absolute;
		}}
		.line1{{
			width: 112px;
			height: 47px;
			position: relative;
		}}
		
		.word-wrap{{word-wrap: break-word;}}
    </style>
</head>
<body>
    
	<table width='100%' cellpadding="0" cellspacing="0">
		<tr>
			<td style="width:20%;border-bottom:1px solid black;">
				<!-- <img width="100px" height="50px" src="{13}" /> -->
				{14}
			</td>
		</tr>	
	</table
	
	<h1><center>Requirement Details ( {0} )</center></h1>
	
	<table style="width:100%" class="marginClass">			
		<tr>
			<td>Title : {1}</td>						                    
		</tr>		
	</table>		
	<br/>
	<table style="width:100%" class="marginClass">		
		<tr>
			<td>Date : {2} </td>						                    
		</tr>		
	</table>	
	<br/>
	<table style="width:100%" class="marginClass">		
		<tr>
			<td>Number of vendors invited : {3}</td>
			<td>Number of vendors participated : {4}</td>
		</tr>
		<tr>
			<td>Price before negotiation : {5}</td>
			<td>Price after negotiation : {6}</td>
		</tr>
	</table>
	<table style="width:100%" class="marginClass" cellpadding="0">
		<tr>
			<td style="width:10%;align=left">
				<h3> Savings: {8}</h3>
			</td>
			<td style="width:10%;align=right">
				<h3>Itemwise Savings: {9}</h3>
			</td>
		</tr>
	</table>		
		<h3>Item Wise Comparision</h3>
	<table width='100%' cellpadding="0" cellspacing="0" class="borderClass">
	<tr>
		<td style="font-weight:bold;width:20%">
		Product Name
		</td>
		<td style="font-weight:bold;width:40%">
		L1 Price & Details
		</td>
		<td style="font-weight:bold;width:40%">
		Least Item Price & Details
		</td>		
	</tr>
	{7}	
	</table> 
	<br/>
	<b>Other Details:</b>    
	<table>
		<tr>
			<td style="min-width:30%; vertical-align:top"> Payments </td>
			<td style="width:70%;"> : {10} </td>
		</tr>
		<tr>
			<td style="min-width:30%; vertical-align:top"> Delivery Terms  </td>
			<td style="width:70%;"> : {11} </td>
		</tr>					
		<tr>
			<td style="min-width:30%; vertical-align:top"> Delivery Location	 </td>
			<td style="width:70%;"> : {12}  </td>
		</tr>
	</table>    	
</body>
</html>