<div class="" ng-show="pageNo == 5" id="requirement">
            <div class="row">
                <div class="card">
					<div class="form-group col-sm-6 fg-float">
						<center><h1>Requirement {0}</h1></center>
                    </div>
                    <div class="card-body card-padding ">
						<table class="table table-striped">
							<tbody>
								<tr>
									<th colspan="4" style="text-align:left"><strong>Title: {1}</strong></th>									
								</tr>
								<tr>
									<th colspan="4" style="text-align:left"><strong>Description: {2}</strong></th>									
								</tr>				
							</tbody>
						</table>
                        <div ng-if="formRequest.isTabular">
                            <table class="table table-hover">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <td style="width:20%">Product Name</td>
                                        <td style="width:10%">Product No</td>
                                        <td style="width:20%">Description</td>
                                        <td style="width:5%">Qty</td>
                                        <td style="width:5%">Qty Units</td>
                                        <td style="width:10%">Prefered Brand</td>
                                        <td style="width:10%">Other Brands</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="product in formRequest.listRequirementItems">
                                        <td>
                                            <input type="text" ng-model="product.productIDorName" required name="productIDorName" id="productIDorName" class="form-control fg-input" readonly>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="product.productNo" required name="productNo" id="productNo" class="form-control fg-input" readonly>
                                        </td>
                                        <td>
                                            <textarea ng-model="product.productDescription" required name="productDescription" rows="1" id="productDescription" class=" fg-input form-control " style="resize: vertical;" readonly></textarea>
                                        </td>
                                        <td>
                                            <input type="number" ng-model="product.productQuantity" required name="productQuantity" id="productQuantity" class="form-control fg-input" readonly>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="product.productQuantityIn" required name="productQuantityIn" id="productQuantityIn" class="form-control fg-input" readonly>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="product.productBrand" required name="productBrand" id="productBrand" class="form-control fg-input" readonly>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="product.othersBrands" required name="othersBrands" id="othersBrands" class="form-control fg-input" readonly>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3> Delivery & Payment Terms</h3>
                    </div>
						<tbody style="width:100%">
							<tr>
								<th style="text-align:left;width:10%"><strong>Delivery Location</strong></th>
								<th style="text-align:left;width:5%"><strong> : </strong></th>
								<th style="text-align:left;width:30%">Title</th>
								<th style="text-align:left;width:10%"></th>
								<th style="text-align:left;width:10%"><strong>Payment Terms (in days)</strong></th>
								<th style="text-align:left;width:5%"><strong> : </strong></th>
								<th style="text-align:left;width:30%">Title<br/></th>
							</tr>
							<tr>
								<th style="text-align:left;width:20%"><strong>Delivery Terms</strong></th>
								<th style="text-align:left;width:10%"><strong> : </strong></th>
								<th style="text-align:left;width:20%">Title</br></th>
							</tr>				
						</tbody>
                    
                </div>
                <div class="card">
					<div class="card-header">
                        <h3> Transaction Configuration </h3>
                    </div>
						<tbody width="100%">
							<tr>
								<th style="text-align:left;width:20%"><strong>Product Urgency</strong></th>
								<th style="text-align:left;width:10%"><strong> : </strong></th>
								<th style="text-align:left;width:20%">Title<br/></th>
							</tr>
							<tr>
								<th style="text-align:left;width:20%"><strong>Quotation Freeze Time</strong></th>
								<th style="text-align:left;width:10%"><strong> : </strong></th>
								<th style="text-align:left;width:20%">Title</br></th>
							</tr>				
						</tbody>
                </div>
				<div class="card">
					<div class="card-header">
                        <h3> Choose the right vendors for better price competitiveness </h3>
                    </div>
						<tbody width="100%">
							<tr>
								<th style="text-align:left;width:20%"><strong>Product Urgency</strong></th>
								<th style="text-align:left;width:10%"><strong> : </strong></th>
								<th style="text-align:left;width:20%">Title<br/></th>
							</tr>
							<tr>
								<th style="text-align:left;width:20%"><strong>Quotation Freeze Time</strong></th>
								<th style="text-align:left;width:10%"><strong> : </strong></th>
								<th style="text-align:left;width:20%">Title</br></th>
							</tr>				
						</tbody>
                </div>                
            </div>
        </div>