<html>
<head>
	<style>
        table {{border-collapse: collapse;
                width: 40px;
                table-layout: fixed;                
               }}

        table.borderClass td {{
            border: 1px solid black;
            text-align: center;
        }}

        table.marginClass tr {{
            margin-top: 10px;
        }}
		.line{{
			width: 112px;
			height: 47px;
			border-bottom: 1px solid black;
			position: absolute;
		}}
    </style>
</head>
<body style="font-size: 90%;"">
				<table width='100%' cellpadding="0" cellspacing="0"> 
					
				<tr>
					<td style="width:20%;border-bottom:1px solid black;">
						<img width="100px" height="50px" src="{11}" />
						{12}
					</td>
				</tr>
				
				</table>
				<center><h1><u>Requirement {0}</u></h1></center>		   			
				<br><br>
				<table width='100%' cellpadding="0" cellspacing="0">
				
				<tr>
					<td style="font-weight:bold; width:15%;"> Title </td>
					<td style="font-weight:bold; width:5%;"> : </td>
					<td style="width:80%;"> {1} </td>
				</tr>		
				<!-- <tr> -->
					<!-- <td style="font-weight:bold; width:15%;">&nbsp;</td> -->
					<!-- <td style="width:5%;">&nbsp;</td> -->
					<!-- <td style="width:80%; text-align:center">&nbsp;</td> -->
				<!-- </tr> -->
				<tr>
					<td style="font-weight:bold; width:15%;"> Comments </td>
					<td style="font-weight:bold; width:5%;"> : </td>
					<td style="width:80%;"> {3} </td>
				</tr>				
				</table>
				<br><br>
				<table width='100%' cellpadding="0" cellspacing="0" border="1px solid black">
				<tr>
					<td style="font-weight:bold; text-align:center; width:15%; max-width:15%"> PRODUCT NAME </td>
					<td style="font-weight:bold; text-align:center; width:15%; max-width:15%"> PRODUCT NO </td>
					<td style="font-weight:bold; text-align:center; width:25%; max-width:25%;text-overflow: ellipsis;"> DESCRIPTION </td>
					<td style="font-weight:bold; text-align:center; width:15%; max-width:15%"> QTY </td>
					<td style="font-weight:bold; text-align:center; width:15%; max-width:15%"> PREFERRED BRAND </td>
					<!-- <td style="font-weight:bold; text-align:center; width:15%; max-width:14%"> OTHER BRAND </td> -->
				</tr>
				{2}
				</table>
				
				<h4> Delivery & Payment Terms: </h4>
				
				<table width='100%' cellpadding="0" cellspacing="0" border="1px solid black">
					<tr>
						<td style="width:50%;padding:5px"> Delivery Location </td>
						<td style="width:50%;padding:5px"> {4} </td>
					</tr>
					<tr>
						<td style="width:50%;padding:5px"> Payment Terms (in days) </td>
						<td style="width:50%;padding:5px"> {5} </td>
					</tr>
					<tr>
						<td style="width:50%;padding:5px"> Delivery Terms </td>
						<td style="width:50%;padding:5px"> {6} </td>
					</tr>
					<tr>
						<td style="width:50%;padding:5px"> Contact Details </td>
						<td style="width:50%;padding:5px"> {13} </td>
					</tr>
					<tr>
						<td style="width:50%;padding:5px"> General Terms & Condition </td>
						<td style="width:50%;padding:5px"> {14} </td>
					</tr>
				</table>
                <h4> Transaction Configuration : </h4>
                <table width='100%' cellpadding="0" cellspacing="0" border="1px solid black">
					<tr>
						<td style="width:50%;padding:5px"> Product Urgency </td>
						<td style="width:50%;padding:5px"> {7} </td>
					</tr>
					<tr>
						<td style="width:50%;padding:5px"> Quotation Freeze Time </td>
						<td style="width:50%;padding:5px"> {8} </td>
					</tr>
					<tr>
						<td style="width:50%;padding:5px"> Currency </td>
						<td style="width:50%;padding:5px"> {9} </td>
					</tr>
				</table>	
				{10}
		</body>
		</html>