<html>
<head>
    <style>
        table {{border-collapse: collapse; page-break-inside: avoid;}}
		
        table.borderClass td {{
            border: 1px solid black;
            text-align: center;
        }}
		
		table.tablesdata td {{
			border: 1px solid black;
			border-collapse: collapse;
			text-align: center;
			padding:1px;
			<!--font-size: 85%;-->
		}}

        table.marginClass tr {{
            margin-top: 10px;
        }}
		.line{{
			width: 112px;
			height: 47px;
			border-bottom: 1px solid black;
			position: absolute;
		}}
		.line1{{
			width: 112px;
			height: 47px;
			position: relative;
		}}
    </style>
</head>
<body>
    <table width='100%' cellpadding="0" cellspacing="0">
	
		<tr>
            <td>
                <table width='100%' cellpadding="0" cellspacing="0" >
                    <tr>
                        <td>
                            <h1><center>{17}</center></h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="line">
            <td>
                <table width='100%' cellpadding="0" cellspacing="0">
                    <tr>
                        <!-- <td style="width:20%;"> -->
                            <!-- <img width="100px" height="50px" src="{16}" />	 -->
                        <!-- </td> -->
                        <td style="width:10%;align=right">
							<h3>Dated : {1}</h3>
                        </td>
                    </tr>
					<tr>
                        <td style="width:10%;align=right">
							<h3>Quote No: {2}</h3>
						</td>
						
						<td style="width:10%;align=right">
							<h3>Phone No: {28}</h3>
                        </td>
                    </tr>
				
					
                </table>
            </td>
        </tr>
	</table>
		                		
	<table style="width:100%" class="marginClass">
		<tr>
			
			<td style="width:95%">
				To,<br />
				M/S  {3}, <br />
				{4}<br />
				Kind Attn: {5}<br />
				Sub: Proposal for {6} <br />
			</td>
		</tr>
	</table>
	
	<table style="width:100%" class="marginClass">
		<tr>
			
			<td style="width:95%">
				<br /><br />Dear Sir/Madam,<br /><br />
				This is with reference to the discussion we had regarding {6}. We thank you for giving us an opportunity to work on your requirement. Please find the below mentioned proposal for your requirement, and do get back for further clarifications. <br /><br />
			</td>
		</tr>
	</table>		
	
	<table width='100%' cellpadding="0" cellspacing="0" style="margin-left:40px;">
		<tr>
			<td style="text-align:center;">
				<h2><b>Bill of Material</b></h2>
			</td>
		</tr>
	</table>
	
    {27}
	
    <p>
        <u><b>
            TERMS AND CONDITIONS:
        </b></u>
    </p>
    <table style="width:100%" class="marginClass">
        <tr>
            <td style="min-width:30%; vertical-align:top"> 1.  Warranty  </td>
            <td style="width:70%;"> : {12} </td>
        </tr>
		
		<tr>
            <td style="min-width:30%; vertical-align:top"> 2.    Validity 	 </td>
            <td style="width:70%;"> : {15}  </td>
        </tr>
		<tr>
            <td style="min-width:30%; vertical-align:top"> 3.    Other Properties 	 </td>
            <td style="width:70%;"> : {20}  </td>
        </tr>
		
		
		
        <tr>
            <td style="min-width:30%; vertical-align:top"> 4. Payment Terms </td>
            <td style="width:70%;"> : {13} </td>
        </tr>
		
		
		<!-- <tr> -->
			<!-- <td style="min-width:30%; vertical-align:top"></td> -->
			<!-- <td style="width:70%;"> -->
				
				<!-- <table> -->
					<!-- <tr style="border: 1px solid black;">						 -->
						<!-- {23}							 -->
					<!-- </tr>					 -->
					<!-- <tr style="border: 1px solid black;"> -->
						<!-- {24} -->
					<!-- </tr>	 -->
					<!-- <tr style="border: 1px solid black;">						 -->
						<!-- {25} -->
					<!-- </tr>						 -->
				<!-- </table>			 -->
				
			<!-- </td>		 -->
		<!-- </tr> -->
        <tr>
            <td style="min-width:30%; vertical-align:top"> 5. Delivery Terms </td>
            <td style="width:70%;"> : {14} </td>
        </tr>
		<tr>
            <td style="min-width:30%; vertical-align:top"> 6. GST Number </td>
            <td style="width:70%;"> : {26} </td>
        </tr>
		
		<!-- <tr> -->
			<!-- <td style="min-width:30%; vertical-align:top"> </td> -->
				<!-- <td style="width:70%;">					 -->
				<!-- <table> -->
					<!-- <tr style="border: 1px solid black;">						 -->
						<!-- {21}						 -->
					<!-- </tr> -->
					<!-- <tr style="border: 1px solid black;">						 -->
						<!-- {22} -->
					<!-- </tr>	 -->
				<!-- </table>  -->
			<!-- </td> -->
		<!-- </tr> -->
		
    </table>
	
	
	<!-- <table style="width:100%" class="marginClass"> -->
        <!-- <tr> -->
            <!-- <td style="min-width:50%; vertical-align:top">  -->
				<!-- <table> -->
					<!-- <tr> -->
						<!-- <td> -->
							<!-- Days -->
						<!-- </td> -->
						<!-- <td> -->
							<!-- Percent -->
						<!-- </td> -->
					<!-- </tr>					 -->
						<!-- {21}				 -->
				<!-- </table>  -->
			<!-- </td> -->
            <!-- <td style="width:50%;">  -->
				<!-- <table> -->
					<!-- <tr> -->
						<!-- <td> -->
							<!-- Days -->
						<!-- </td> -->
						<!-- <td> -->
							<!-- Percent -->
						<!-- </td> -->
					<!-- </tr>					 -->
						<!-- {22}					 -->
				<!-- </table> -->
			<!-- </td> -->
        <!-- </tr>			 -->
    <!-- </table> -->
	
	
	
	
	
	
	
	
	
	
	<p>
		<b><i>NOTE:</i></b> THIS IS AN AUTO-GENERATED QUOTATION FROM PRM360 SIGNATURE NOT REQUIRED.
	</p>
</body>
</html>