﻿<div class="white-box">
    <div class="row">
        <div ng-controller="RequirementTemplateController as _requirementTemplateCtrl">
            <form class="pmb-block" name="craetedorupdate" novalidate>
                <div class="pmbb-header" ng-init="_requirementTemplateCtrl.getById()">
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-md-4">
                            <a class="btn" ng-click="_requirementTemplateCtrl.backTo()" style="display:inline-block;margin-right:15px;"><i class="fas fa-arrow-left"></i></a>

                            <h2 style="display:inline-block;margin:0">
                                <i class="zmdi zmdi-view-list"></i> Edit template
                            </h2>

                        </div>
                        <div class="col-md-8 text-right">

                            <button class="btn btn-sm btn-primary" type="button" ng-click="_requirementTemplateCtrl.Update(craetedorupdate)">
                                Save
                            </button>


                        </div>
                    </div>

                </div>
                <div class="pm-body" ng-include="_requirementTemplateCtrl.createupdateview()">

                </div>

            </form>
        </div>
    </div>
</div>