﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listprCtrl">
                <div class="white-box">
                    <div class="row">
                        <!--<div class="col-md-2">
                <h5><strong>Material Group</strong></h5>
                <select class="form-control" ng-model="filters.material" ng-options="type.FIELD_VALUE as type.FIELD_NAME for type in materialGroupList"
                        ng-change="setFilters()"></select>
            </div>-->
                        <div class="col-md-2">
                            <h5><strong>Plants</strong></h5>
                            <select class="form-control" ng-model="filters.plant" ng-options="type.FIELD_VALUE as type.FIELD_NAME for type in PlantsList"
                                    ng-change="setFilters()"></select>
                        </div>
                        <!--<div class="col-md-2">
                            <h5><strong>Purchase Group</strong></h5>
                            <select class="form-control" ng-model="filters.purchaseGroup" ng-options="type.FIELD_VALUE as type.FIELD_NAME for type in purchaseGroupList"
                                    ng-change="setFilters()"></select>
                        </div>-->
                        <div class="col-md-2">
                            <h5><strong>Status</strong></h5>
                            <select class="form-control" ng-model="filters.status" ng-options="type.FIELD_VALUE as type.FIELD_NAME for type in prStatusList"
                                    ng-change="setFilters()"></select>
                        </div>

                        <div class="col-md-2">
                            <h5><strong>Search</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters();" ng-model="filters.searchKeyword" type="text" placeholder="Search">
                        </div>
                    </div>

                    <!--<div class="white-box">-->
                    <div class="row" style="margin-top:25px;">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <!--table table-bordered table-striped-->
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th></th>
                                        <th>Purchase Request No.</th>
                                        <!--<th>Material Group</th>-->
                                        <th>Plant</th>
                                        <th>Release Date</th>
                                        <th>Created By</th>
                                        <th>Date Created</th>
                                        <th>Items</th>
                                        <th>Status</th>
                                        <th style="text-align:center">Req Id</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat-start="prDetails in filteredPRList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td>
                                            <a role="button" ng-hide="prDetails.expanded" ng-click="prDetails.expanded = true;getPrItems(prDetails)" style="margin-right:15px" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                            <a role="button" ng-hide="!prDetails.expanded" ng-click="prDetails.expanded = false" style="margin-right:15px" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                        </td>
                                        <td>
                                            {{prDetails.PR_NUMBER}}
                                        </td>
                                        <!--<td>
                                {{prDetails.MAT_GROUP}}
                            </td>-->
                                        <td>
                                            {{prDetails.PLANT_NAME}}
                                        </td>
                                        <td>
                                            {{prDetails.RELEASE_DATE}}
                                        </td>
                                        <td>
                                            {{prDetails.CREATED_BY_NAME}}
                                        </td>
                                        <td>
                                            {{prDetails.CREATED_DATE}}
                                        </td>
                                        <td>
                                            {{prDetails.COMPLETED_ITEMS}} / {{prDetails.TOTAL_ITEMS}}
                                        </td>
                                        <td>
                                            {{prDetails.PR_STATUS}}
                                        </td>
                                        <td data-title="'Actions'" sortable="'Actions'" style="text-align:center" ng-if="prDetails.PR_REQ_IDS.length == 0">
                                            <a ng-if="prDetails.REQ_IDS" target="_blank" data-ui-sref="view-requirement({Id:prDetails.REQ_IDS})">{{prDetails.REQ_IDS}}</a>
                                        </td>
                                        <td data-title="'Actions'" sortable="'Actions'" style="text-align:center" ng-if="prDetails.PR_REQ_IDS.length > 0">
                                            <a target="_blank" data-ui-sref="view-requirement({Id:a})" ng-repeat="a in prDetails.PR_REQ_IDS">{{a}}<span>{{isLast($last)}}</span></a>
                                        </td>
                                        <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                            <a class="fa fa-edit" role="button" style="margin-left:10px;" ng-click="goToPrAction(prDetails.PR_ID)"></a>
                                            <a class="fa fa-plus" style="margin-left:10px;" title="New Requirement"
                                               ng-show="(prDetails.PR_STATUS === 'PENDING' || prDetails.PR_STATUS === 'NEW')"
                                               role="button" ng-click="crateRequirement(prDetails)"></a>
                                            <i class="fa fa-link" style="margin-left:10px;" data-target="#linkRFP" data-toggle="modal" aria-hidden="true" ng-click="showLinkToRFP(prDetails);reset();" title="Link to RFP"></i>
                                        </td>
                                    </tr>

                                    <tr ng-repeat-end ng-if="prDetails.expanded">
                                        <td colspan="11">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th> Material No. </th>
                                                        <th> Qty </th>
                                                        <th> Qty Units</th>
                                                        <th> Purchase Group</th>
                                                        <th> Material Group </th>
                                                        <th> Delivery Date </th>
                                                        <th> Plant</th>
                                                        <th> Item Text</th>
                                                        <th> Req Id</th>
                                                        <th> Is Valid</th>
                                                    </tr>
                                                </thead>

                                                <tr ng-repeat="item in prDetails.PRItems">
                                                    <td>
                                                        {{item.ITEM_CODE}}
                                                    </td>
                                                    <td>
                                                        {{item.REQUIRED_QUANTITY}}
                                                    </td>
                                                    <td>
                                                        {{item.UNITS}}
                                                    </td>
                                                    <td>
                                                        {{item.PURCHASE_GROUP}}
                                                    </td>
                                                    <td>
                                                        {{item.CategoryName}}
                                                        <!--GROUP-->
                                                    </td>
                                                    <td>
                                                        {{item.DELIVERY_DATE}}
                                                    </td>
                                                    <td>
                                                        {{item.PLANT}}
                                                    </td>
                                                    <td>
                                                        {{item.ITEM_NAME}}
                                                    </td>
                                                    <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                        <a ng-if="item.REQ_ID" target="_blank" data-ui-sref="view-requirement({Id:item.REQ_ID})">{{item.REQ_ID}}</a>
                                                    </td>
                                                    <td>
                                                        <i ng-if="item.IS_VALID" class="fa fa-check text-success" aria-hidden="true"></i>
                                                        <i ng-if="!item.IS_VALID" class="fa fa-times text-danger" aria-hidden="true"></i>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>
                    <!--</div>-->
                </div>


                <span class="pull-right">
                    <div class="modal" id="linkRFP" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Link RFP</h4>
                                </div>
                                <div class="modal-body" style="margin:25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Select RFP(s)</label>
                                                <select data-placeholder="Select a RFP..." name="RFP" ng-model="selectedRFP" ng-options="item.title for item in myAuctions1" class="form-control p-0"></select>
                                            </div>
                                            <div class="col-md-2">
                                                <br />
                                                <button type="button"
                                                        class="btn btn-info"
                                                        ng-click="LinkToRFP(QuotationTemplateObj)">
                                                    Link
                                                </button>
                                            </div>
                                            <!--<div class="col-md-2" ng-if="rfqID > 0">
                                                <br />
                                                <a class="prmellipsis" data-ui-sref="view-requirement({Id:rfqID})">{{rfqID}}</a>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>

            </div>

        </div>

    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
