
<style>
    .myCheckBox{
        position:absolute;
        mar
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <div id="page-wrapper" style="padding-top:20px;">
            <div class="container-fluid" data-ng-controller="communicationCtrl as pctrl">
                <div class="white-box">
                    <div class="table-responsive">
                        <div class="col-md-3">
                            <label for="checkbox"><strong>All Vendors</strong></label>
                            <label class="switch myCheckBox" style="margin-bottom:0px;">
                                <input type="checkbox" ng-click="selectAllVendors()" ng-model="communicationOptions.allVendors" />
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label for="checkbox"><strong>Select Vendors by Catalogue</strong></label>
                            <label class="switch myCheckBox" style="margin-bottom:0px;">
                                <input type="checkbox" ng-click="selectedVendors()" ng-model="communicationOptions.selectedVenders" />
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>                    
                </div>
                <div class="white-box">
                    
                    <div class="row">
                        <accordion>
                            <accordion-group is-open="communicationOptions.selectedVenders">
                                <div class="row">
                                    <div class="col-md-12 add-row add-req-items-border ng-scope" style="padding:20px;">
                                        <ng-include src="'communication\\views\\catalog-tree.html'">
                                        </ng-include>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center">

                        </div>
                        <div class="col-md-4 text-center">
                            <button class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" type="button" ng-click="retriveCategoryVendors()">
                                Retrieve Vendors
                            </button>
                        </div> 
                    </div>                 
                </div>
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-3">
                            <label><strong>Communication Mode:</strong></label>
                        </div>
                        <div class="col-md-8">
                            <label>
                                <input type="checkbox" value="" ng-model="communicationOptions.checkBoxEmail" ng-change="validateData()">
                                <strong ng-if="communicationOptions.checkBoxEmail" style="font-size: 15px;">Send Email to All Selected Vendors</strong>
                                <span ng-if="!communicationOptions.checkBoxEmail">Send Email to Selected Selected Vendors</span>
                                <br />
                                &nbsp;
                            </label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label>
                                <input type="checkbox" value="" ng-model="communicationOptions.checkBoxSms" ng-change="validateData()">
                                <strong ng-if="communicationOptions.checkBoxSms" style="font-size: 15px;">Send SMS to All Selected Vendors</strong>
                                <span ng-if="!communicationOptions.checkBoxSms">Send SMS to Selected Selected Vendors</span>
                                <br />
                                &nbsp;
                            </label>
                        </div>
                    </div>
                </div>
                <div class="white-box">
                    <div class="pmb-block" st-table="vendorDisplayCollecton" st-safe-src="vendorsList" style="margin-top:20px">
                        <div class="pmbb-header">
                            <div class="table-responsive z-depth-2">
                                <table class="table table-striped table-vmiddle" show-filter="false" st-filtered-collection>
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" ng-click="selectAllVendor()"></th>
                                            <th st-sort="companyName" class="header">Company</th>
                                            <th st-sort="firstName" class="header">Vendor name</th>
                                            <th class="header">Phone</th>
                                            <th class="header">Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="vendor in vendorDisplayCollecton" ng-click="selectVendor(vendor)" style="cursor: pointer;">
                                            <td>
                                                <input type="checkbox" ng-model="vendor.selected" ng-click="selectVendor(vendor)">
                                            </td>
                                            <td>
                                                <a role="button" class="prmellipsis1" title="{{vendor.companyName}}" >{{vendor.companyName}}</a>
                                            </td>
                                            <td>
                                                <span class="prmellipsis1"> {{vendor.firstName + ' ' + vendor.lastName}}</span>
                                            </td>

                                            <td>
                                                <span class="prmellipsis1">{{ vendor.phoneNum}}</span>
                                            </td>
                                            <td>
                                                <span class="prmellipsis1"> {{ vendor.email}} </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5" class="text-right">
                                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                                            </td>
                                            <td class="text-right" style="padding-top:35px">
                                                <div>Total: {{filteredCollection.length}}</div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <label><strong>Subject*</strong></label>
                        </div>
                        <div class="col-md-4 text-center">
                            <input type="text" ng-model="communicationOptions.subject" ng-change="validateData()" class="form-control">
                        </div>
                    </div>
                    <div class="row" style="padding-top:10px;">
                        <div class="col-md-4 text-center">
                            <label><strong>Body*</strong></label>
                        </div>
                        <div class="col-md-4 text-center">
                            <textarea type="text" ng-model="communicationOptions.body" ng-change="validateData()" class="form-control" cols="100" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-4 text-center">

                        </div>
                        <div class="col-md-4 text-center">
                            <button class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" type="button" ng-hide="!validateData()" ng-click="sendCommunication()">
                                Send Communication
                            </button>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
