<!--////////////////////
//Basic Information
////////////////////-->

<div class="pmb-block">.
    <div class="pmbb-header">
        <h2 ><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>
        <a class="actions" data-ng-if="editInfo === 0 && (!isnegotiationrunning)" data-ng-click="editInfoFunction(1); basicinfoCollapse = false;" href="">
            <i class="zmdi zmdi-edit">edit</i>            
        </a>
    </div>
    <div class="pmbb-body" id="generatePDFHTMl" >
        <div id="editor" class="bypass"></div>
        <div class="pmbb-view" style="overflow-wrap: break-word;" data-ng-if="editInfo === 0">
            <dl class="dl-horizontal">
                <dt>First Name *</dt>
                <dd>{{ userObj.firstName }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Last Name</dt>
                <dd>{{ userObj.lastName }}</dd>
            </dl>
        </div>

        <form name="test1" data-ng-submit="submit('profileInfo', 'Profile Information')" class="pmbb-edit" data-ng-if="editInfo === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">First Name</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="userObj.firstName" type="text" class="form-control" id="firstName" value="{{ userObj.firstName }}" required>
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt class="p-t-10">Last Name</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="userObj.lastName" type="text" class="form-control" value="{{ userObj.lastName }}" required>
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm btn-new-look" ng-click="updateUserInfo();">Save</button>
                <button class="btn btn-link btn-sm" data-ng-click="editInfoFunction(0);">Cancel</button>
            </div>
        </form>
    </div>
</div>

<!--////////////////////
//Contact Information
////////////////////-->
<div class="pmb-block">
    <div class="pmbb-header">
        <h2 ><i class="zmdi zmdi-phone m-r-5"></i> Contact Information</h2>
        <a class="actions" ng-if="!isnegotiationrunning && editContact === 0 " data-ng-click="editContactFunction(1); (!contactinfo)?'': contactinfo = !contactinfo;" href="">
            <i class="zmdi zmdi-edit">edit</i>
        </a>
    </div>
    <div class="pmbb-body" aria-hidden="true">
        <div class="pmbb-view" style="overflow-wrap: break-word;" data-ng-if="editContact === 0">
            <dl class="dl-horizontal">
                <dt>Mobile Phone</dt>
                <dd>
                    {{ userObj.phoneNum }}
                    <span ng-if="isOTPVerified != 1" style="color:red;">Not Verified</span>
                    <span ng-if="isOTPVerified != 1" style="color:blue;cursor: pointer;" data-target="#phoneVerification" data-toggle="modal">click to verify OTP</span>
                    <span ng-if="isOTPVerified == 1" style="color:green;">Verified</span>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Email Address</dt>
                <dd>
                    {{ userObj.email }}
                    <span ng-if="isEmailOTPVerified != 1" style="color:red;">Not Verified</span>
                    <span ng-if="isEmailOTPVerified != 1" style="color:blue;cursor: pointer;" data-target="#emailVerification" data-toggle="modal">click to verify EMAIL</span>
                    <span ng-if="isEmailOTPVerified == 1" style="color:green;">Verified</span>
                </dd>
            </dl>
        </div>
        <form name="test2" data-ng-submit="submit('profileContact', 'Profile Contact Information')" class="pmbb-edit" data-ng-if="editContact === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Mobile Phone</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="userObj.phoneNum" type="text" class="form-control">
                    </div>
                    <div ng-show="otpvalueValidation">
                        <div class="help-block error logininput" ng-show="otpvalueValidationEmpty">Please enter otp</div>
                        <div class="help-block error logininput" ng-show="otpvalueValidationError">Please enter otp</div>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Email Address</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="userObj.email" type="email" class="form-control">
                        {{userDetails.achievements}}
                    </div>
                </dd>
            </dl>
            <div class="m-t-30">
                <button class="btn btn-primary btn-sm btn-new-look" ng-click="updateUserInfo();">Save</button>
                <button class="btn btn-link btn-sm" data-ng-click="editContactFunction(0)">Cancel</button>
            </div>
        </form>
    </div>
</div>

<!--////////////////////
//Email Verification
////////////////////-->
<script type="text/ng-template" id="verifyEmailOTPModal.html">
    <div class="modal-header text-center">
        <img class="logo text-center otplogo" src="img/images/logo.png">
        <h4 class="modal-title">Email OTP Verification</h4>
    </div>
    <div class="modal-body">
        <div class="input-group  m-b-20 col-md-12 p-l-20">
            <div class="form-group fg-float ">
                <div class="fg-line input-field">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input ng-model="modalotpvalue" name="otp" type="number" class="form-control logininput" id="otp1" required />
                    <label class="fg-label" for="otp">Please Enter OTP</label>
                </div>
                <div ng-show="otpvalueValidation">
                    <div class="help-block error logininput" ng-show="otpvalueValidationEmpty">Please enter otp</div>
                    <div class="help-block error logininput" ng-show="otpvalueValidationError">Please enter otp</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-error btn-sm" ng-click="cancel();">Cancel</button>
        <button class="btn btn-primary btn-sm btn-new-look" ng-click="verifyEmailOTP();">Verify OTP</button>
        <button class="btn btn-warning btn-sm" ng-click="sendEmailOTPagain();">Resend OTP</button>        
    </div>
</script>
<!--////////////////////
//POP-UP Email Verification
////////////////////-->

<span class="pull-right">
    <div class="modal" id="emailVerification" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Email OTP Verification</h4>
                </div>
                <div class="modal-body">                                                
                    <div class="form-group">
                        <label for="inputuserName">Please Enter OTP</label>
                        <!--<input class="form-control" placeholder="" type="text" />-->
                        <input ng-model="modalotpvalue" name="otp" type="number" class="form-control logininput" id="otp1" required />
                        <!--<label class="fg-label" for="otp">Please Enter OTP</label>-->
                        <span ng-show="otpvalueValidation">
                            <label class="help-block error logininput" ng-show="otpvalueValidationEmpty">Please enter otp</label>
                            <label class="help-block error logininput" ng-show="otpvalueValidationError">Please enter otp</label>
                            <label class="help-block error logininput" ng-show="otpvalueLengthValidationError">Please enter 6 digit valid otp</label>                    
                        </span>
                    </div>                    
                    <div class="row">               
                        <button class="btn btn-warning btn-sm pull-left" ng-click="sendEmailOTPagain();">Resend OTP</button>                                                             
                        <button class="btn btn-primary btn-sm btn-new-look pull-right" ng-click="verifyEmailOTP();">Verify OTP</button>                                                                           
                    </div>
                    <!--<div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input class="form-control" placeholder="Login Password" type="password" />
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</span>


<!--////////////////////
//Phone Verification
////////////////////-->
<script type="text/ng-template" id="verifyOTPModal.html">
    <div class="modal-header text-center">
        <img class="logo text-center otplogo" src="img/logos/acadslogo_black.png">
        <h4 class="modal-title">Mobile OTP Verification</h4>
    </div>
    <div class="modal-body">
        <div class="input-group  m-b-20 col-md-12 p-l-20">
            <div class="form-group fg-float ">
                <div class="fg-line input-field">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input ng-model="modalotpvalue" name="otp" type="number" class="form-control logininput" id="otp1" required />
                    <label class="fg-label" for="otp">Please Enter OTP</label>
                </div>
                <div ng-show="otpvalueValidation">
                    <div class="help-block error logininput" ng-show="otpvalueValidationEmpty">Please enter otp</div>
                    <div class="help-block error logininput" ng-show="otpvalueValidationError">Please enter otp</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-error btn-sm" ng-click="cancel();">Cancel</button>
        <button class="btn btn-primary btn-sm btn-new-look" ng-click="verifyOTP();">Verify OTP</button>
        <button class="btn btn-warning btn-sm" ng-click="sendOTPagain();">Resend OTP</button>        
    </div>
</script>
<!--////////////////////
//POP-UP Phone Verification
////////////////////-->
<span class="pull-right">
    <div class="modal" id="phoneVerification" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Mobile OTP Verification</h4>
                </div>
                <div class="modal-body">                                                
                    <div class="form-group">
                        <label for="inputuserName">Please Enter OTP</label>
                        <!--<input class="form-control" placeholder="" type="text" />-->
                        <input ng-model="modalotpvalue" name="otp" type="number" class="form-control logininput" id="otp1" required />
                        <!--<label class="fg-label" for="otp">Please Enter OTP</label>-->
                        <span ng-show="otpvalueValidation">
                            <label class="help-block error logininput" ng-show="otpvalueValidationEmpty">Please enter otp</label>
                            <label class="help-block error logininput" ng-show="otpvalueValidationError">Please enter otp</label>
                            <label class="help-block error logininput" ng-show="otpvalueLengthValidationError">Please enter 6 digit valid otp</label>                    
                        </span>
                    </div>                    
                    <div class="row">               
                        <button class="btn btn-warning btn-sm pull-left" ng-click="sendOTPagain();">Resend OTP</button>                                                             
                        <button class="btn btn-primary btn-sm btn-new-look pull-right" ng-click="verifyOTP();">Verify OTP</button>                                                                           
                    </div>
                    <!--<div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input class="form-control" placeholder="Login Password" type="password" />
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</span>
<!--////////////////////
//Documents Verification
////////////////////-->
<div class="pmb-block" ng-if="userObj.isSuperUser">    
    <div class="pmbb-header">
       <h2 ><i class="zmdi zmdi-assignment m-r-5"></i>Documents Verification</h2>
        <a class="actions" ng-if="editDocVerification === 0 && userObj.isSuperUser && !isnegotiationrunning" data-ng-click="editDocVerificationFunction(1)" href="">
            <i class="zmdi zmdi-edit">edit</i>
        </a>
    </div>
    <div class="pmbb-body">
        <div class="pmbb-view" data-ng-if="editDocVerification === 0">
            <dl class="dl-horizontal" ng-repeat="single in uploadedCredentials">
                <dt>{{single.fileType}} Copy</dt>
                <dd>
                    {{single.credentialID}}
                    <span ng-if="single.isVerified == 0 && single.fileLink==''" style="color:red;">Not Uploaded Credentials<a data-ng-click="editDocVerificationFunction(1)" href="">(Click here to upload)</a></span>
                    <span ng-if="single.isVerified == 0 && single.fileLink!=''" style="color:red;">Not Verified</span>
                    <span ng-if="single.isVerified == 1" style="color:green;">Verified</span>
                    <span ng-if="single.fileLink!=''"></span><a href="FileDownload.aspx?attachid={{single.fileLink}}&sessionid={{sessionid}}" target="_blank" ng-if="single.fileLink!=''">Download</a>
                </dd>
            </dl>
        </div>

        <div class="pmbb-edit" data-ng-if="editDocVerification === 1">

            <dl class="dl-horizontal">
                <dt class="p-t-10">PAN *</dt>
                <dd>
                    <div class="fg-line">
                        <div class="form-group fg-float col-md-4">
                            <div class="fg-line input-field fg-toggled">
                                <i class="mdi-social-person-outline prefix"></i>
                                <input ng-model="pannumber" ng-change="change()" name="pannumber" type="text" class="form-control logininput" id="pannumber" />
                                <label class="fg-label" for="panno">PAN Number</label>
                            </div>
                            <div ng-show="pannumberrequired || pannumberalpha || pannumberlengthvalidation">
                                <div class="help-block error logininput" ng-show="pannumberrequired">PAN Number and PAN photo attachment are required.</div>
                                <div class="help-block error logininput" ng-show="pannumberalpha">PAN Number should have only alphanumeric.</div>
                                <div class="help-block error logininput" ng-show="pannumberlengthvalidation">Enter a valid PAN ex:ABCDE1234F</div>
                            </div>
                        </div>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-primary btn-file btn-new-look">
                                <span class="fileinput-new">Choose a file</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="pandoc" doctype="PAN" ng-file-select-docs="onFileSelect($files)" required />
                            </span>
                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt class="p-t-10">TIN *</dt>
                <dd>
                    <div class="fg-line">
                        <div class="form-group fg-float col-md-4">
                            <div class="fg-line input-field fg-toggled">
                                <i class="mdi-social-person-outline prefix"></i>
                                <input ng-model="vatnumber" ng-change="change()" name="vatnumber" type="text" class="form-control logininput" id="vatnumber" />
                                <label class="fg-label" for="vatno">TIN Number</label>
                            </div>
                            <div ng-show="tinnumberrequired || tinnumberlengthvalidation">
                                <div class="help-block error logininput" ng-show="tinnumberrequired">TIN Number and TIN photo attachment are required.</div>
                                <div class="help-block error logininput" ng-show="tinnumberlengthvalidation">TIN Number must be 11 characters.</div>
                            </div>
                        </div>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-primary btn-file btn-new-look">
                                <span class="fileinput-new">Choose a file</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="tindoc" doctype="TIN" ng-file-select-docs="onFileSelect($files)" required />
                            </span>
                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                        </div>
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt class="p-t-10">Service Tax Number</dt>
                <dd>
                    <div class="fg-line">
                        <div class="form-group fg-float col-md-4">
                            <div class="fg-line input-field fg-toggled">
                                <i class="mdi-social-person-outline prefix"></i>
                                <input ng-model="taxnumber" ng-change="change()" name="taxnumber" type="text" class="form-control logininput" id="taxnumber" />
                                <label class="fg-label" for="taxno">Tax Number</label>
                            </div>
                            <div ng-show="taxnumberrequired || taxnumberalpha || taxnumberlengthvalidation">
                                <div class="help-block error logininput" ng-show="taxnumberrequired">TAX Number and TAX photo attachment are required.</div>
                                <div class="help-block error logininput" ng-show="taxnumberalpha">TAX Number should have only alphanumeric.</div>
                                <div class="help-block error logininput" ng-show="taxnumberlengthvalidation">TAX Number must be at least 15 characters.</div>
                            </div>
                        </div>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-primary btn-file btn-new-look">
                                <span class="fileinput-new">Choose a file</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="stndoc" doctype="STN" ng-file-select-docs="onFileSelect($files)" required />
                            </span>
                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                        </div>
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm btn-new-look" ng-click="updateVerficationInfo(pannumber,vatnumber,taxnumber)">Save</button>
                <button class="btn btn-link btn-sm" data-ng-click="editDocVerificationFunction(0)">Cancel</button>
            </div>
        </div>
    </div>
</div>
