﻿<header id="header" data-ng-include="'template/header.html'"></header>
<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content">
        <div class="container" ng-controller="addnewstoreCtrl">
            <div class="row ">
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Save Store Details</h3>
                </div>

                <div class="card-body card-padding">
                    <div-- class="row">

                        <div class="form-group fg-float col-md-4 m-b-30">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeObj.storeCode)}">
                                <input type="text" ng-model="storeObj.storeCode" name="storeCode" id="storeCodeID" class="form-control fg-input" />
                                <label class="fg-label">Store Code</label>
                            </div>
                        </div>

                        <div class="form-group fg-float col-md-4 m-b-30">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeObj.storeInCharge)}">
                                <input type="text" ng-model="storeObj.storeInCharge" name="storeInCharge" id="storeInChargeID" class="form-control fg-input" />
                                <label class="fg-label">Store Incharge</label>
                            </div>
                        </div>

                        <div class="form-group fg-float col-md-4 m-b-30">
                           
                            <div class="fg-line input-field" ng-class="{'fg-toggled': (isEdit===true || storeObj.storeID)}">
                                <i class="mdi-social-person-outline prefix"></i>
                                <select chosen data-placeholder="ItemType" name="ItemType" ng-model="storeObj.mainStoreID" required class="form-control">
                                    <option ng-repeat="store in companyStores" ng-selected="store.storeID==storeObj.mainStoreID" value="{{store.storeID}}" ng-hide="store.storeID == storeObj.storeID">{{store.storeCode}}</option>
                                </select>
                                <label class="fg-label" for="role">Parent Branch</label>
                            </div>                            
                        </div>

                        <div class="form-group fg-float col-md-6 m-b-30">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeObj.storeDescription)}">
                                <textarea ng-model="storeObj.storeDescription" id="storeDescriptionID" name="storeDescription" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                <label class="fg-label">Store Description</label>
                            </div>
                        </div>

                        <div class="form-group fg-float col-md-6 m-b-30">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeObj.storeDetails)}">
                                <textarea type="text" ng-model="storeObj.storeDetails" name="storeDetails" id="storeDetailsID" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                <label class="fg-label">Store Details</label>
                            </div>
                        </div>

                        <div class="form-group fg-float col-md-12 m-b-30">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeObj.storeAddress)}">
                                <textarea ng-model="storeObj.storeAddress" name="storeAddress" id="storeAddressID" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                <label class="fg-label">Store Address</label>
                            </div>
                        </div>

                        <div class="form-group fg-float col-md-6 m-b-30">
                            <div class="fg-line">
                                
                                <label class="fg-label">Store Branches: {{storeObj.storeBranches}}</label> 
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <button class="btn btn-info btn-file btn-new-look" ng-click="saveStore()">Save Store</button>
                        <button class="btn btn-info btn-file btn-new-look" data-ui-sref="stores" ">Go Back</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>