﻿<header id="header" data-ng-include="'template/header.html'"></header>
<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content">
        <div class="container" ng-controller="storeitemsCtrl">
            <div class="row ">
            </div>
            <div class="card">
                <div class="card-header col-md-12">
                    <div class="col-md-2 pull-left">
                        <h3>StoreItem Details</h3>
                    </div>
                    <div class="col-md-10 pull-right">

                        <div class="col-md-3 top-buffer pull-right">
                            <button class="btn btn-info btn-file btn-new-look" data-ui-sref="addnewstoreitem({storeID:storeID, itemID:itemID})">Add New Item</button>
                        </div>

                        <div class="col-md-2 top-buffer pull-right">
                            <button ng-click="exportItemsToExcel()" class='btn btn-info btn-file btn-new-look'>Export Excel</button>
                        </div>

                        <div class="col-md-3 top-buffer pull-right">
                            <button ng-click="downloadTemplate()" class='btn btn-info btn-file btn-new-look'>Download Template</button>
                        </div>

                        <div class="col-md-2 top-buffer pull-right">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-info btn-file m-r-10">
                                    <span class="fileinput-new">Upload Excel</span>
                                    <span class="fileinput-exists">Edit</span>
                                    <input type="file" accept=".xlsx" id="excelquotation" itemid="excelquotation" ng-file-select-items="onFileSelect($files)" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                            </div>
                        </div>

                        

                    </div>
                </div>

                

                <div class="card-body card-padding">

                    <div class="row">
                        <div class="form-group fg-float col-md-4 m-b-30">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeObj.storeCode)}">
                                <input type="text" ng-model="searchKey" ng-change="search();" name="searchKey" id="searchKey" class="form-control fg-input" />
                                <label class="fg-label">Search Items by Item Code</label>
                            </div>
                        </div>
                    </div>

                        <table class="table table-hover table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                            <thead>
                                <tr style="font-weight: bold">
                                    <td style="width:20%">Item Code</td>
                                    <td style="width:20%">Item Type</td>
                                    <td style="width:20%">Item Price</td>
                                    <td style="width:20%">In Stock</td>
                                    <td style="width:20%">Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="storeitem in companyStoreItemsTemp">
                                    <td>{{storeitem.itemCode}}</td>
                                    <td>{{storeitem.itemType}}</td>
                                    <td>{{storeitem.itemPrice}}</td>
                                    <td>{{storeitem.inStock}}</td>
                                    <td data-title="'Actions'" sortable="'Actions'">
                                        <a title="View Store Details" role="button" ng-click="getCompanyStoreItem(storeitem.itemID)" data-target="#loginmodal" data-toggle="modal" class="tm-icon zmdi-hc-2x zmdi zmdi-info" style="width:30px; height:30px"></a>
                                        <a title="Edit Store Details" role="button" ng-click="goToItemEdit(storeitem)" class="tm-icon zmdi zmdi-hc-2x zmdi-edit" style="width:30px; height:30px"></a>
                                        <a title="Delete Store" role="button" ng-click="deletestoreitem(storeitem.itemID);" class="zmdi zmdi-delete zmdi-hc-2x" style="width:30px; height:30px"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                <span class="pull-right">
                    <div class="modal" id="loginmodal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Item Details</h4>
                                </div>
                                <div class="modal-body">

                                <div class="pmbb-view" style="overflow-wrap: break-word;">
                                    <dl class="dl-horizontal">
                                        <dt>Item Code: </dt>
                                        <dd>{{ singleItemDetails.itemCode }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Item Type: </dt>
                                        <dd>{{ singleItemDetails.itemType }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Item Description:: </dt>
                                        <dd>{{ singleItemDetails.itemDescription }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>TotalStock: </dt>
                                        <dd>{{ singleItemDetails.totalStock }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>In Stock: </dt>
                                        <dd>{{ singleItemDetails.inStock}}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Item Units: </dt>
                                        <dd>{{ singleItemDetails.itemUnits }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Item Price: </dt>
                                        <dd>{{ singleItemDetails.itemPrice }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Do Alert: </dt>
                                        <dd>{{ singleItemDetails.doAlert }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Threshold: </dt>
                                        <dd>{{ singleItemDetails.threshold }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>I-GST: </dt>
                                        <dd>{{ singleItemDetails.iGST }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>C-GST: </dt>
                                        <dd>{{ singleItemDetails.cGST }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>S-GST: </dt>
                                        <dd>{{ singleItemDetails.sGST }}</dd>
                                    </dl>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>

            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>






 <!--ng-if="showStoreItemObj.StoreItem"-->