﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">

                <div ng-controller="storesCtrl">                   
                    <div class="white-box">
                        <div class="box-title">
                            <div class="col-md-6 pull-left">
                                <h3>Company Stores1</h3>
                            </div>
                            <div class="col-md-6 pull-right">
                                <!--<button class="btn btn-new-look pull-right add-new-btn" data-ui-sref="addnewstore({Id:0})" ng-click="">Add StoreDetails</button>-->
                                <!--<a title="View Store Details" href="prm360.html#/addnewstore/" class="btn btn-new-look pull-right add-new-btn">Add New Store</a>-->
                                <a title="View Store Details" ng-click="goToStoreEdit(0, companyStores)" class="btn btn-new-look pull-right add-new-btn">Add New Store</a>
                            </div>
                        </div>

                        <div class="row">
                            <table class="table table-hover table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <td style="width:15%">Store Code</td>
                                        <td style="width:15%">Store Incharge</td>
                                        <td style="width:15%">Store Details</td>
                                        <td style="width:20%">Store Description</td>
                                        <td style="width:15%">Store Adderss</td>
                                        <td style="width:5%">Branches</td>
                                        <td style="width:15%">Actions</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="store in companyStores">
                                        <td>{{store.storeCode}}</td>
                                        <td>{{store.storeInCharge}}</td>
                                        <td>{{store.storeDetails}}</td>
                                        <td>{{store.storeDescription}}</td>
                                        <td>{{store.storeAddress}}</td>
                                        <td>{{store.storeBranches}}</td>
                                        <td data-title="'Actions'" sortable="'Actions'">
                                            <a title="View Store Details" role="button" target="_blank" href="prm360.html#/storeitems/{{store.storeID}}/0" class="tm-icon zmdi-hc-2x zmdi zmdi-view-list-alt" style="width:30px; height:30px"></a>
                                            <a title="Edit Store Details" role="button" ng-click="goToStoreEdit(store, companyStores)" class="tm-icon zmdi zmdi-hc-2x zmdi-edit" style="width:30px; height:30px"></a>
                                            <a title="Delete Store" role="button" ng-click="deletestore(store.storeID)" class="zmdi zmdi-delete zmdi-hc-2x" style="width:30px; height:30px"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
