﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <!--<link href="../../js/resources/css/catalogMgmt.css" rel="stylesheet" />-->
        <!--<link href="js/resources/css/catalogMgmt.css" rel="stylesheet" />-->

        <div id="page-wrapper">
            <div class="col-md-12" ng-controller="productEditCtrl">
                <div class="row">
                    <ul style="padding-left:30px" class="tab-nav " data-ng-include="'template/catalogProfile-menu.html'"></ul>
                </div>
                <div class="white-box">
                    <div class="pmb-block">
                        <div class="container-fluid" style="padding-left:20px">
                            <div class="clearfix">
                                <div class="col-md-12">
                                    <ul class="breadcrumb" style="background-color:inherit">
                                        <li><a href="#/products">Home</a></li>
                                        <li><a href="#/products">Products</a></li>
                                        <li class="active">
                                            {{productDetails.prodName}}
                                        </li>
                                    </ul>
                                    <div class="pull-right">
                                        <div class="btn-group" ng-hide="productId > 0 && checkProdEdit == -1">
                                            <button class="btn btn-secondary btn-sm btn-o dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-lg fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="" ng-if="false" role="button" ng-click="InactiveProduct(productDetails)" aria-hidden="true"><i class="fas fa-ban" style="color:#808080"></i> Inactive</a></li>
                                                <li><a class="" role="button" ng-click="deleteProduct(productDetails)" aria-hidden="true"><i class="fa fa-trash" style="color:#057cb5"></i> Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row entity">
                                        <div class="col-sm-2">
                                            <img id="product-thumbnail" class="img-thumbnail center-block" src="https://static.plytix.com/template/2.0.4/img/no_image.png">
                                        </div>
                                        <div class="col-sm-10">
                                            <h3>
                                                <i class="info fa fa-info-circle" id="entity_info" data-original-title="" title=""></i>
                                                {{productDetails.prodName}}
                                            </h3>
                                            <p>
                                                No: <strong> {{productDetails.prodNo}}</strong>
                                            </p>
                                            <p>
                                                HSN Code: <strong> {{productDetails.prodHSNCode}}</strong>
                                            </p>
                                            <p>
                                                Last modified: <strong> {{productDetails.dateModified}}</strong>
                                            </p>

                                        </div>
                                    </div>
                                    <div class="row" style="height:10px;"></div>

                                    <div class="row">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#ProductGeneraltab" data-toggle="tab" target="_self"><input type="submit" class="btn btn-info btn-wide" value="General"></a>
                                            </li>
                                            <!--<li>
                                                <a href="#ProductAttributestab" data-toggle="tab" target="_self"><input type="submit" class="btn btn-info btn-wide" value="Attributes"></a>
                                            </li>-->
                                            <li>
                                                <a href="#ProductCategoriestab" data-toggle="tab" target="_self"><input type="submit" class="btn btn-info btn-wide" value="Categories"></a>
                                            </li>
                                            <li ng-hide="true">
                                                <a href="#ProductQuotationFormat" data-toggle="tab" target="_self">
                                                    <input type="submit" class="btn btn-info btn-wide" value="Product Quotation Format">
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="ProductGeneraltab" class="tab-pane active white-box">
                                                <div class="row">
                                                    <div class="col-xs-12 pull-right">
                                                        <div class="form-group text-right">
                                                            <input type="button" class="btn btn-info btn-wide" value="Save Details" ng-click="SaveProductDetails(productName,productDesc)">
                                                        </div>
                                                    </div>
                                                </div>

                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label> Article Name <span class="text-danger">*</span></label>
                                                                    <div>
                                                                        <input placeholder="edit Article Name" type="text" class="form-control" ng-model="prodEditDetails.prodName" />
                                                                    </div>
                                                                    <div ng-show="productErrorShow">
                                                                        <div class="help-block error logininput text-danger">{{productErrorMessage}}</div>
                                                                    </div>
                                                                    <!--<div ng-show="addnewform.$submitted || addnewform.ProductName.$touched">
                <div class="help-block error logininput text-danger" ng-show="addnewform.ProductName.$error.required">please enter Product Name</div>
            </div>-->
                                                                </div>
                                                            </div>

                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label> Article Number <span class="text-danger">*</span></label>
                                                                    <div>
                                                                        <input placeholder="edit Article Number" type="text" class="form-control" ng-model="prodEditDetails.prodCode" />
                                                                    </div>
                                                                    <div ng-show="productCodeErrorMessage">
                                                                        <div class="help-block error logininput text-danger">{{productCodeErrorMessage}}</div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label> Style ID </label>
                                                                    <div>
                                                                        <input placeholder="Style ID" type="text" class="form-control" ng-model="prodEditDetails.articleType" />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label> HSN Code</label>
                                                                    <div>
                                                                        <input placeholder="edit Product HSN Code" type="text" class="form-control" ng-model="prodEditDetails.prodHSNCode" />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label>Article Id</label>
                                                                    <div>
                                                                        <input placeholder="edit Article Id" type="text" class="form-control" ng-model="prodEditDetails.prodNo" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--<div class="col-xs-12 col-md-1">
        <div class="form-group">
            <label style="color:#606261"><strong>GST</strong></label>
            <div>
                <input type="number" placeholder="GST" class="form-control" name="contractValue" ng-model="prodEditDetails.productGST" />
            </div>
        </div>
    </div>-->
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label>Quantity Units</label>
                                                                    <div>
                                                                        <select name="productQuantityIn" class="form-control" ng-model="prodEditDetails.prodQty" ng-options="opt.configValue as opt.configValue for opt in companyItemUnits" class="form-control"></select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <!--<div class="col-xs-12 col-md-2">
        <div class="form-group">
            <label style="color:#606261"><strong>Preferred Brand</strong></label>
            <div>
                <input required type="text" placeholder="preferredBrand" class="form-control" name="preferredBrand" ng-model="prodEditDetails.prefferedBrand" />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-2">
        <div class="form-group">
            <label style="color:#606261"><strong>Alternate Brand</strong></label>
            <div>
                <input required type="text" placeholder="alternateBrand" class="form-control" name="alternateBrand" ng-model="prodEditDetails.alternateBrand" />
            </div>
        </div>
    </div>-->
                                                        </div>
                                                    </div>
                                                    <!--<div class="row" style="margin-top:-20px">
                                                        <div class="col-md-12">
                                                            <div class="col-xs-12 col-md-2">
                                                                <div class="form-group">
                                                                    <label style="color:#606261"><strong>Total Purchase Qty </strong></label>
                                                                    <div>
                                                                        <input type="text" placeholder="Total Purchase Quantity" class="form-control" name="totalPurchaseQty" ng-model="prodEditDetails.totPurchaseQty" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-2">
                                                                <div class="form-group">
                                                                    <label style="color:#606261"><strong>In Transit</strong></label>
                                                                    <div>
                                                                        <input type="text" placeholder="In Transit" class="form-control" name="inTransit" ng-model="prodEditDetails.inTransit" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-4">
                                                                <div class="form-group">
                                                                    <label style="color:#606261"><strong>Lead Time</strong></label>
                                                                    <div>
                                                                        <input type="text" placeholder="leadTime" class="form-control" name="leadTime" ng-model="prodEditDetails.leadTime" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-4">
                                                                <div class="form-group">
                                                                    <label style="color:#606261"><strong>Departments</strong></label>
                                                                    <div>
                                                                        <input type="text" placeholder="departments" class="form-control" name="departments" ng-model="prodEditDetails.departments" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>-->
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label>Alternative Quantity Units</label>
                                                                    <div>
                                                                        <select name="productQuantityIn" class="form-control" ng-model="prodEditDetails.prodAlternateUnits" ng-options="opt.configValue as opt.configValue for opt in companyItemUnits" class="form-control"></select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-xs-2" ng-hide="true">
                                                                <div class="form-group">
                                                                    <label>Conversion of Units</label>
                                                                    <div>
                                                                        <input placeholder="edit Units" type="text" class="form-control" ng-model="prodEditDetails.unitConversion" />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label><strong>Warranty Period & Shelf-life period</strong></label>
                                                                    <div>
                                                                        <input placeholder="edit Warranty Period" type="text" class="form-control" ng-model="prodEditDetails.shelfLife" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="form-group">
                                                                    <label>Product Description</label>
                                                                    <div>
                                                                        <textarea placeholder="edit Product Description" type="text" rows="1" class="form-control" ng-model="prodEditDetails.prodDesc" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--<div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label style="color:#606261"><strong>Delivery Terms</strong></label>
            <div>
                <textarea placeholder="Delivery Terms" class="form-control" rows="1" type="text" name="deliveryTerms" ng-model="prodEditDetails.deliveryTerms" />
            </div>
        </div>
    </div>-->
                                                            <div class="col-xs-4" ng-hide="true">
                                                                <div class="form-group">
                                                                    <label>Weight, Volume etc.,</label>
                                                                    <div>
                                                                        <input placeholder="edit Weight, Volume" type="text" class="form-control" ng-model="prodEditDetails.productVolume" />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!--<div class="row" style="margin-top:-20px;">
                                                        <div class="col-md-12">
                                                            <div class="col-xs-12 col-md-4">
                                                                <div class="form-group">
                                                                    <label style="color:#606261"><strong>Terms and Condition</strong></label>
                                                                    <div>
                                                                        <textarea placeholder="Terms and Condition" class="form-control" rows="1" type="text" name="termsConditions" ng-model="prodEditDetails.termsConditions" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-4">
                                                                <div class="form-group">
                                                                    <label style="color:#606261"><strong>Requirement Attachments</strong><br></label>
                                                                    <div>
                                                                        <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                                                            <span><i class="fa fa-upload  m-r-5"></i>Attachments</span>
                                                                            <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachement" multiple ng-file-select="onFileSelect($files)">
                                                                        </div>

                                                                        <label ng-if="attch.fileID > 0" ng-repeat="attch in prodEditDetails.multipleAttachments">
                                                                            {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionid}}">Download</a>
                                                                            <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                                        </label>
                                                                        <label ng-if="attch.fileID <= 0" ng-repeat="attch in prodEditDetails.multipleAttachments">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>-->
                                                </fieldset>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3>Contract Management</h3>
                                                        <div class="row" style="margin-top:20px">
                                                            <div class="col-md-12 table-responsive">
                                                                <table class="table table-hover table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Number <span class="text-danger">*</span></th>
                                                                            <th>Value <span class="text-danger">*</span></th>
                                                                            <th>Quantity <span class="text-danger">*</span></th>
                                                                            <th>Availed Quantity</th>
                                                                            <th>Start Date <span class="text-danger">*</span></th>
                                                                            <th>End Date <span class="text-danger">*</span></th>
                                                                            <th style="width:230px;">Vendor Name <span class="text-danger">*</span></th>
                                                                            <th>Document</th>
                                                                            <th>Actions</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="contract in prodEditDetails.contractManagement" ng-if="contract.isValid == 1 && prodEditDetails.contractManagement.length > 0">
                                                                            <td>
                                                                                <input required type="text" placeholder="Number" class="form-control" name="number" ng-model="contract.number" style="border:{{contract.errorColorNum}};" ng-change="validateMatry()" ng-disabled="contract.isDisabled" />
                                                                            </td>
                                                                            <td>
                                                                                <input type="number" placeholder="Value" class="form-control" name="value" ng-model="contract.value" style="border:{{contract.errorColorVal}};" ng-change="validateMatry()" ng-disabled="contract.isDisabled" />
                                                                            </td>
                                                                            <td>
                                                                                <input type="number" placeholder="Quantity" class="form-control" name="quantity" ng-model="contract.quantity" style="border:{{contract.errorColorQty}};" ng-change="validateMatry()" ng-disabled="contract.isDisabled" />
                                                                            </td>
                                                                            <td>
                                                                                <input type="number" placeholder="Availed Qty" class="form-control" name="availedQuantity" ng-model="contract.availedQuantity" ng-disabled="contract.isDisabled" />
                                                                            </td>
                                                                            <td>
                                                                                <div moment-picker="contract.startTime" format="DD-MM-YYYY HH:mm">
                                                                                    <input class="form-control" placeholder="Select Start date" ng-model="contract.startTime" ng-model-options="{ updateOn: 'blur' }" style="border:{{contract.errorColorSt}};" ng-click="validateMatry()" ng-disabled="contract.isDisabled">
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div moment-picker="contract.endTime" format="DD-MM-YYYY HH:mm">
                                                                                    <input class="form-control" placeholder="Select End date" ng-model="contract.endTime" ng-model-options="{ updateOn: 'blur' }" style="border:{{contract.errorColorSe}};" ng-click="validateMatry()" ng-disabled="contract.isDisabled">
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="input-group" style="border:{{contract.errorColorNme}};border-radius: 5px;">
                                                                                    <input type="text" placeholder="companyName" class="form-control" name="companyName" ng-model="contract.companyName" data-toggle="modal" data-target="#myModal" readonly ng-click="contractIndex($index)" ng-change="validateMatry()" ng-disabled="contract.isDisabled" />
                                                                                    <span ng-hide="contract.isDisabled" class="input-group-addon" data-toggle="modal" data-target="#myModal"><i class="fa fa-user-plus" aria-hidden="true" ng-click="contractIndex($index)"></i></span>
                                                                                </div>
                                                                            </td>
                                                                            <td style="vertical-align:middle;">
                                                                                <input type="text" placeholder="Document" class="form-control" name="document" ng-model="contract.documents" />
                                                                                <!--<div style="margin-left:18px;" data-provides="fileinput">
                                                                                    <div class="fileupload waves-effect waves-light">
                                                                                        <span style="color:#000;"><i class="fa fa-upload m-r-5"></i></span>
                                                                                        <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{contract.documents}}" itemid="{{contract.documents}}" ng-file-select-items="onFileSelect($files)" ng-disabled="contract.isDisabled">
                                                                                    </div>
                                                                                </div>-->
                                                                            </td>
                                                                            <td class="text-center" style="vertical-align:middle;cursor:pointer;">
                                                                                <span class="glyphicon glyphicon-pencil text-info" ng-click="editThis($index);"></span> &nbsp;&nbsp;
                                                                                <span class="glyphicon glyphicon-trash text-danger" ng-click="deleteContract($index)"></span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr ng-if="prodEditDetails.contractManagement.length == 0">
                                                                            <td colspan="9" class="text-center"> No Records Found </td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                                <div class="btn btn-info btn-wide" ng-click="addCatalogue()" ng-hide="checkProdEdit ==-1">Add Contract</div>
                                                            </div>
                                                            <div id="myModal" class="modal fade" role="dialog">
                                                                <div class="modal-dialog">

                                                                    <!-- Modal content-->
                                                                    <div class="modal-content" style="border-radius:10px;">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                            <h4 class="modal-title">Choose Vendors</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="text" ng-change="searchVendorsProd(searchvendorprodstring)" ng-model="searchvendorprodstring" class="form-control input-sm m-b-10" placeholder="Search Vendor By Company">
                                                                                    <div class="col-md-12">
                                                                                        <div class="row" ng-init="limit = 15" style="height:350px;overflow:auto;">
                                                                                            <!--<div class="form-control" ng-repeat="vendor in vendorsList | limitTo: limit as results">{{vendor.companyName}}</div>-->
                                                                                            <ul class="list-group">
                                                                                                <li class="list-group-item" ng-repeat="vendor in vendorsListProduct | limitTo: limit as results" data-dismiss="modal" ng-click="prodVendorSelected(vendor.userID, vendor.companyName)">{{vendor.companyName}} -- {{vendor.userID}}</li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <!--<div class="col-xs-12 col-md-3">
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-md-6">
                                                                        <div class="form-group">
                                                                            <label style="color:#606261"><strong>Contract Number</strong></label>
                                                                            <div>
                                                                                <input required type="text" placeholder="Contract Number" class="form-control" name="contractNo" ng-model="product.contractNo" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-12 col-md-6">
                                                                        <div class="form-group">
                                                                            <label style="color:#606261"><strong>Contract Value</strong></label>
                                                                            <div>
                                                                                <input type="number" placeholder="Contract Value" class="form-control" name="contractValue" ng-model="product.contractValue" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-3">
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-md-6">
                                                                        <div class="form-group">
                                                                            <label style="color:#606261"><strong>Contract Qty</strong></label>
                                                                            <div>
                                                                                <input type="number" placeholder="Contract Qty" class="form-control" name="contractValue" ng-model="product.contractQty" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-12 col-md-6">
                                                                        <div class="form-group">
                                                                            <label style="color:#606261"><strong>Contract Availed Qty</strong></label>
                                                                            <div>
                                                                                <input type="number" placeholder="Contract Availed Qty" class="form-control" name="contractAvlValue" ng-model="product.contractAvlQty" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-3">
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-md-6">
                                                                        <div class="form-group">
                                                                            <label style="color:#606261"><strong>Contract Start Date</strong></label>
                                                                            <div moment-picker="product.contractStartDate" format="DD-MM-YYYY HH:mm">
                                                                                <input name="contractStartDate" id="contractStartDate" class="form-control" placeholder="Select Start date" ng-model="product.contractStartDate" ng-model-options="{ updateOn: 'blur' }">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-12 col-md-6">
                                                                        <div class="form-group">
                                                                            <label style="color:#606261"><strong>Contract End Date</strong></label>
                                                                            <div moment-picker="product.contractEndDate" format="DD-MM-YYYY HH:mm">
                                                                                <input name="contractEndDate" id="contractEndDate" class="form-control" placeholder="Select End date" ng-model="product.contractEndDate" ng-model-options="{ updateOn: 'blur' }">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-3">
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-md-6">
                                                                        <div class="form-group">
                                                                            <label style="color:#606261"><strong>Contract Document</strong></label>
                                                                            <div>
                                                                                <input type="text" placeholder="Contract Document" class="form-control" name="contractDocument" ng-model="product.contractDocument" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-12 col-md-6">
                                                                        <div class="form-group">
                                                                            <label style="color:#606261"><strong>Contract Vendor</strong></label>
                                                                            <div>
                                                                                <input type="text" placeholder="Contract Vendor" class="form-control" name="contractVendor" ng-model="product.contractVendor" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-xs-12 col-md-12">
                                                            <div class="form-group">
                                                                <label style="color:#606261"><strong>Choose Vendors</strong></label>
                                                                <div>
                                                                    <input type="text" ng-change="searchVendors(searchvendorstring)" ng-model="searchvendorstring" class="form-control input-sm m-b-10" placeholder="Search Vendor By Company">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row" style="height:400px;max-height: 400px;overflow-y:auto;">
                                                    <div class="col-md-12">
                                                        <div class="col-md-12">
                                                            <div class="col-md-12" ng-if="vendorsList && vendorsList.length > 0">
                                                                <div class="row" ng-init="limit = 100">
                                                                    <div ng-repeat="vendor in vendorsList | limitTo: limit as results" class="col-md-4">
                                                                        <input type="checkbox" class="js-switch text-danger" data-color="#4ad965" data-secondary-color="#057cb5"
                                                                               ng-model="vendor.isAssignedToProduct" />
                                                                        <a target="_blank" href="prm360.html#/viewprofile/{{vendor.userID}}">
                                                                            {{vendor.companyName}}
                                                                        </a>
                                                                    </div>
                                                                    <div role="button" ng-show="results.length < vendorsList.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                                                        <a><strong>Show more...({{results.length}} out of {{vendorsList.length}})</strong></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label class="text-danger" ng-if="(!vendorsList || vendorsList.length == 0 && totalItems1 == -1)">
                                                                    Loading...
                                                                </label>
                                                                <label class="text-danger" ng-show="totalItems1 == 0">
                                                                    Search Not Found
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div id="ProductAttributestab" class="tab-pane white-box">
                                                <div class="row">
                                                    <div class="col-md-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="pull-right col-md-3 col-xs-3">
                                                                <input type="submit" class="btn btn-info btn-wide" value="Save Attributes" ng-click="saveProperties()">
                                                            </div>

                                                            <div class="form-group col-md-8 col-xs-8">
                                                                <ul class="list-unstyled" ng-model="Properties">
                                                                    <li ng-repeat="prop in Properties">
                                                                        <div class="row">
                                                                            <div class="col-md-1">
                                                                                <label>
                                                                                    <input type="checkbox" style="opacity:1" ng-model="prop.propChecked" ng-click="propCheckChanged(prop)" />
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'text'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <input class="form-control" ng-model="prop.propValue" ng-change="propModified(prop)" type="text" value="">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'multiline'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <textarea class="form-control" ng-model="prop.propValue" ng-change="propModified(prop)" rows="3"></textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'drop'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <select class="form-control" ng-change="propModified(prop)" ng-model="prop.propValue" ng-options="opt for opt in prop.propOptions.split('^^') "></select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'multi'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <select multiple class="form-control" ng-change="propModified(prop)" ng-model="prop.propValue" ng-options="opt for opt in prop.propOptions.split('^^') "></select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'int'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <input class="form-control" ng-change="propModified(prop)" ng-model="prop.propValue" type="text" value="">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'decimal'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <input class="form-control" ng-model="prop.propValue" ng-change="propModified(prop)" type="text" value="">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'boolean'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <select class="form-control" ng-model="prop.propValue" ng-change="propModified(prop)">
                                                                                        <option value="True">True</option>
                                                                                        <option value="False">False</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6" ng-if="prop.propDataType == 'date'">
                                                                                <label>{{prop.propName}}</label>
                                                                                <div ng-show="prop.propChecked">
                                                                                    <div class="col-md-12" moment-picker="prop.propValue" format="YYYY-MM-DD">
                                                                                        <input class="form-control" ng-change="propModified(prop)" placeholder="select a date (YYYY-MM-DD)" ng-model="prop.propValue" ng-model-options="{ updateOn: 'blur' }">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="ProductCategoriestab" class="tab-pane">
                                                <fieldset ng-disabled="">
                                                    <!--productId>0 && checkProdEdit ==-1-->
                                                    <div class="row white-box">
                                                        <div class="col-xs-6">
                                                            <script type="text/ng-template" id="nodes_category_products.html">
                                                                <div data-nodrag>
                                                                    <label style="width:12px">
                                                                        <span data-nodrag ng-if="node.subCatCount && node.subCatCount > 0" ng-click="toggle(this);node.isExpand = !node.isExpand" class="glyphicon"
                                                                              ng-class="collapsed? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></span>
                                                                    </label>
                                                                    <label><input type="checkbox" style="opacity:1" ng-model="node.nodeChecked" ng-click="checkChanged(node, this);productsLimit = 100;" />  &nbsp; &nbsp;&nbsp;&nbsp;{{node.catName}}</label>
                                                                    <label ng-if="node.subCatCount && node.subCatCount > 0" class="font-bold"><!--({{node.subCatCount}})--></label>
                                                                </div>
                                                                <div ng-init="limit = 100">
                                                                    <ul ng-model="node.nodes" ng-if="node.isExpand == true">
                                                                        <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'nodes_category_products.html'" collapsed="true"></li>
                                                                        <li role="button" ng-show="results.length < node.nodes.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                                                            <a>Show more...({{results.length}} out of {{node.nodes.length}})</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <!--<div ng-init="limit = 100">
                                                                    <ul ng-model="node.nodes" ng-if="node.isExpand == true" ui-tree-nodes="" ng-class="{hidden: collapsed}">
                                                                        <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'nodes_category_products.html'" collapsed="true"></li>
                                                                    </ul>
                                                                </div>-->
                                                            </script>
                                                            <div ui-tree id="tree-root">
                                                                <ul ui-tree-nodes ng-model="nodes">
                                                                    <li ng-repeat="node in nodes" ui-tree-node ng-include="'nodes_category_products.html'" ng-class="collapse" collapsed="true"></li>
                                                                </ul>
                                                            </div>
                                                            <!--<div ng-init="limit = 100" ui-tree id="tree-root">
                                                                    <ul ng-model="node.nodes" ng-if="node.isExpand == true">
                                                                        <li ng-repeat="node in node.nodes | limitTo: limit as results"  ui-tree-node ng-include="'nodes_category_products.html'" ng-class="collapse" collapsed="true"></li>
                                                                    </ul>
                                                             </div>-->
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="vl row">

                                                                <div class="col-md-6" ng-if="selectedCategories && selectedCategories.length > 0">
                                                                    <p><strong>Selected Categories:</strong></p>
                                                                    <script type="text/ng-template" id="selected_nodes.html">
                                                                        <div data-nodrag>
                                                                            <label>&nbsp;&nbsp;{{node.catName}}</label>
                                                                        </div>
                                                                        <!--<ul ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                                                                            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'selected_nodes.html'" collapsed="false" >
                                                                            </li>
                                                                        </ul>-->
                                                                        <div ng-init="limit = 100">
                                                                            <ul ng-model="node.nodes">
                                                                                <!--ng-if="node.isExpand == true"-->
                                                                                <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'selected_nodes.html'" collapsed="true"></li>
                                                                                <li role="button" ng-show="results.length < node.nodes.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                                                                    <a>Show more...({{results.length}} out of {{node.nodes.length}})</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </script>
                                                                    <div ui-tree id="tree-root-selected">
                                                                        <ul ui-tree-nodes ng-model="selectedCategories">
                                                                            <li ng-repeat="node in selectedCategories" ui-tree-node ng-include="'selected_nodes.html'" ng-class="collapse" collapsed="false"></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="button" class="btn btn-info btn-wide" value="Save Categories" ng-click="SaveProductCategories()">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div id="ProductQuotationFormat" class="tab-pane">
                                                <div class="row white-box">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="col-md-4 form-group">
                                                                <label>Name</label>
                                                                <input ng-model="QuotationTemplateObj.NAME" type="text" class="form-control"
                                                                       ng-change="getDDLOptions(QuotationTemplateObj);getSortOrderList(QuotationTemplateObj)" />
                                                            </div>
                                                            <div class="col-md-4 form-group">
                                                                <label>Description</label>
                                                                <!--<input ng-model="QuotationTemplateObj.DESCRIPTION" type="text" class="form-control" />-->
                                                                <input class="form-control" list="DESCRIPTION_OPT" name="DESCRIPTION" ng-model="QuotationTemplateObj.DESCRIPTION" ng-change="getDDLOptions1(QuotationTemplateObj)" />
                                                                <datalist id="DESCRIPTION_OPT">
                                                                    <option value="{{field}}" ng-repeat="field in QuotationTemplateObj.DESCRIPTION_OPT">
                                                                </datalist>
                                                            </div>
                                                            <div class="col-md-4 form-group">
                                                                <label>Description1</label>
                                                                <input class="form-control" list="DESCRIPTION_OPT1" name="DESCRIPTION1" ng-model="QuotationTemplateObj.DESCRIPTION1" />
                                                                <datalist id="DESCRIPTION_OPT1">
                                                                    <option value="{{field}}" ng-repeat="field in QuotationTemplateObj.DESCRIPTION_OPT1">
                                                                </datalist>
                                                            </div>
                                                            <div class="col-md-4 form-group" ng-show="QuotationTemplateObj.HAS_QUANTITY">
                                                                <label>UOM</label>
                                                                <select class="form-control" ng-model="QuotationTemplateObj.UOM"
                                                                        ng-options="opt.configValue as opt.configValue for opt in companyItemUnits" class="form-control"></select>
                                                            </div>

                                                            <div class="col-md-4 form-group">
                                                                <label>Show After</label>
                                                                <input class="form-control" list="SORT_ORDER" name="SORTORDER" ng-model="QuotationTemplateObj.SORT_ORDER_VAL" />
                                                                <datalist id="SORT_ORDER">
                                                                    <option value="{{field}}" ng-repeat="field in QuotationTemplateObj.SORT_ORDER_OPT">
                                                                </datalist>
                                                            </div>
                                                            <!--<div class="col-xs-12 col-md-4">
                                                                <div class="form-group">
                                                                    <label style="color:#606261"><strong>Attachments</strong><br></label>
                                                                    <div>
                                                                        <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                                                            <span><i class="fa fa-upload  m-r-5"></i>Attachments</span>
                                                                            <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachement" multiple ng-file-select="onFileSelect($files)">
                                                                        </div>

                                                                        <label ng-if="attch.fileID > 0" ng-repeat="attch in QuotationTemplateObj.multipleAttachments">
                                                                            {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionid}}">Download</a>
                                                                            <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                                        </label>
                                                                        <label ng-if="attch.fileID <= 0" ng-repeat="attch in QuotationTemplateObj.multipleAttachments">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                                                    </div>
                                                                </div>
                                                            </div>-->
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:10px;margin-left:-25px;">
                                                        <!--<div class="col-md-4">
                                                            <input ng-model="QuotationTemplateObj.HAS_SPECIFICATION"
                                                                   type="checkbox"
                                                                   style="height:15px;width:15px;"
                                                                   ng-false-value="0"
                                                                   ng-true-value="1" />
                                                            <label>Has Specification</label>
                                                            <br/>
                                                            <span class="text-danger" ng-if="hasSpecError">Please Check Has Specification</span>
                                                        </div>-->
                                                        <div class="col-md-4">
                                                            <input ng-model="QuotationTemplateObj.HAS_PRICE"
                                                                   type="checkbox"
                                                                   style="height:15px;width:15px;"
                                                                   ng-false-value="0"
                                                                   ng-true-value="1"
                                                                   ng-disabled="QuotationTemplateObj.HAS_PRICE" />
                                                            <!--<label>Has Prices</label>-->
                                                            <label>UNIT PRICE</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input ng-model="QuotationTemplateObj.HAS_QUANTITY"
                                                                   type="checkbox"
                                                                   style="height:15px;width:15px;"
                                                                   ng-false-value="0"
                                                                   ng-true-value="1"
                                                                   ng-disabled="QuotationTemplateObj.HAS_QUANTITY"/>
                                                            <!--<label>Has Quantity</label>-->
                                                            <label>Consumption</label>
                                                        </div>
                                                        <!--<div class="col-md-4" ng-show="QuotationTemplateObj.HAS_QUANTITY">
                                                            <label>Consumption</label>
                                                            <input ng-model="QuotationTemplateObj.CONSUMPTION" readonly ng-disabled="true"
                                                                   type="text" valid-number allow-decimal="true" />
                                                        </div>
                                                        
                                                        <div class="col-md-4" ng-show="QuotationTemplateObj.HAS_PRICE">
                                                            <input ng-model="QuotationTemplateObj.HAS_TAX"
                                                                   type="checkbox"
                                                                   style="height:15px;width:15px;"
                                                                   ng-false-value="0"
                                                                   ng-true-value="1" />
                                                            <label>Has Tax</label>
                                                        </div>-->
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <br />
                                                            <button type="button"
                                                                    class="btn btn-info"
                                                                    ng-click="SaveProductQuotationTemplate(QuotationTemplateObj)"
                                                                    ng-if="QuotationTemplateObj.NAME != '' && QuotationTemplateObj.NAME != null && QuotationTemplateObj.NAME != undefined">
                                                                Add
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">&nbsp;</div>

                                                    <div class="col-md-12" style="margin-left:-30px;">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        Name
                                                                    </th>
                                                                    <th>
                                                                        Description
                                                                    </th>
                                                                     <th>
                                                                        Description1
                                                                    </th>
                                                                    <th>
                                                                        UOM
                                                                    </th>
                                                                    <!--<th>
                                                                        Specification
                                                                    </th>-->
                                                                    <th>
                                                                        UNIT PRICE
                                                                    </th>
                                                                    <th>
                                                                        Consumption
                                                                    </th>
                                                                    <!--<th>
                                                                        Tax
                                                                    </th>-->
                                                                    <th>
                                                                        Active
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="obj in ProductQuotationTemplate">
                                                                    <td style="vertical-align:middle;">
                                                                        {{obj.NAME}}
                                                                        {{getDDLOptions(obj)}}
                                                                    </td>
                                                                    <td style="vertical-align:middle;">
                                                                        <input class="form-control" list="DESCRIPTION_OPT{{obj.T_ID}}" name="DESCRIPTION" ng-model="obj.DESCRIPTION" ng-change="getDDLOptions1(obj)" />
                                                                        <datalist id="DESCRIPTION_OPT{{obj.T_ID}}">
                                                                            <option value="{{field}}" ng-repeat="field in obj.DESCRIPTION_OPT">
                                                                        </datalist>
                                                                    </td>
                                                                    <td style="vertical-align:middle;">
                                                                        <input class="form-control" list="DESCRIPTION_OPT1{{obj.T_ID}}" name="DESCRIPTION1" ng-model="obj.DESCRIPTION1" />
                                                                        <datalist id="DESCRIPTION_OPT1{{obj.T_ID}}">
                                                                            <option value="{{field}}" ng-repeat="field in obj.DESCRIPTION_OPT1">
                                                                        </datalist>
                                                                    </td>
                                                                    <td style="vertical-align:middle;">
                                                                        {{obj.UOM}}
                                                                    </td>
                                                                    <!--<td>
                                                                        <i class="glyphicon" ng-class="obj.HAS_SPECIFICATION == 1? 'glyphicon-ok' : 'glyphicon-remove'" aria-hidden="true"></i>
                                                                    </td>-->
                                                                    <td style="vertical-align:middle;">
                                                                        <i class="glyphicon" ng-class="obj.HAS_PRICE == 1? 'glyphicon-ok' : 'glyphicon-remove'" aria-hidden="true"></i>
                                                                    </td>
                                                                    <td style="vertical-align:middle;">
                                                                        <i class="glyphicon" ng-class="obj.HAS_QUANTITY == 1? 'glyphicon-ok' : 'glyphicon-remove'" aria-hidden="true"></i>
                                                                        <!--({{obj.HAS_QUANTITY_VALUE?obj.HAS_QUANTITY_VALUE:1}})({{obj.UOM}})-->
                                                                    </td>
                                                                    <!--<td>
                                                                        <i class="glyphicon" ng-class="obj.HAS_TAX == 1? 'glyphicon-ok' : 'glyphicon-remove'" aria-hidden="true"></i>
                                                                    </td>-->
                                                                    <td style="vertical-align:middle;">
                                                                        <div class="row text-center">
                                                                            <div class="col-md-6">
                                                                                <input ng-model="obj.IS_VALID"
                                                                                       type="checkbox"
                                                                                       style="height:15px;width:15px;"
                                                                                       ng-false-value="0"
                                                                                       ng-true-value="1" />
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <button type="button"
                                                                                        class="btn btn-info btn-sm"
                                                                                        ng-click="SaveProductQuotationTemplate(obj)">
                                                                                    Save
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

