﻿<header id="header" data-ng-include="'template/header.html'"></header>
<div id="wrapper">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <div id="page-wrapper">
        <div class="container-fluid" ng-controller="storeitemdetailsCtrl">
            <div class="row ">
            </div>
            <div class="white-box">
                <div class="row box-title col-md-12">
                    <div class="col-md-3 pull-left">
                        <h3>Store Item Details</h3>
                    </div>


                    <div class="col-md-8 pull-right">

                        <div class="col-md-2 top-buffer pull-right">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="exportItemsToExcel();">Export</button>
                        </div>

                        <div class="col-md-2 top-buffer pull-right">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-info btn-file m-r-10">
                                    <span class="fileinput-new">Upload Excel</span>
                                    <span class="fileinput-exists">Edit</span>
                                    <input type="file" accept=".xlsx" id="excelItemDetails" itemid="excelItemDetails" ng-file-select-items="onFileSelect($files)" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                            </div>
                        </div>
                        <div class="col-md-2 top-buffer pull-right">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="cancelClick();">Back</button>
                        </div>
                    </div>
                   
                </div>
                    <!--<div class="card-body card-padding">-->
                    <div class="row">
                        <!--<div class="row">-->
                        <div class="table table-responsive">
                            <table class="table table-hover z-depth-1 clear-both" style="background-color:#f5f5f5">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <td style="width:25%">Serial No</td>
                                        <td style="width:20%">Warranty No</td>
                                        <td style="width:15%">Warranty Date</td>
                                        <td style="width:10%">Actions</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="StoreItemDetails in StoreItemDetailsList">
                                        <td>{{StoreItemDetails.serialNo}}</td>
                                        <td>{{StoreItemDetails.warrantyNo}}</td>
                                        <td>{{handleDate(StoreItemDetails.warrantyDate)}}</td>
                                        <td data-title="'Actions'" sortable="'Actions'">
                                            <a title="Delete Store" role="button" ng-click="deletestoreitemdetail(StoreItemDetails);" class="fa fa-trash-alt" style="width:30px; height:30px"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>






 <!--ng-if="showStoreItemObj.StoreItem"-->