﻿
 /*#left-menu {
        width: 220px;
        background: #FFF;
        left: 0;
        padding: 20px 10px;
        -webkit-transition: .3s;
        transition: .3s;
        }*/
 #left-menu {
    width: 220px;
    background: #FFF;
    position: absolute;
    left: 0;
    height: auto;
    min-height: 90%;
    padding: 20px 10px;
    border-right: #D7D9DB 1px solid;
    -webkit-transition: .3s;
    transition: .3s;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 #main-content {
    margin-left: 220px;
    padding: 20px 25px;
    -webkit-transition: .3s;
    transition: .3s;
}
 #left-menu>div, #main-content {
    position: relative;
}
 

body {
    font-family: Noto_Sans,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857;
    color: #37404A;
    background-color: #F5F7F8;
}
.dropdown-toggle, .panel-title, .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: inherit;
}
.btn-secondary {
    color: #FFF;
    background-color: #7a6aad;
    border-color: #6c5aa4;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857;
    border-radius: 4px;
    -ms-user-select: none;
    user-select: none;
}
.panel {
    margin-bottom: 18px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading {
    padding: 20px 25px 10px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-body {
    padding: 5px 25px 10px;
}
.tree-div[_ngcontent-c1] {
    border-right: 1px solid #e0e0e0;
}
@media (min-width: 1200px)
.col-lg-6 {
    width: 50%;
}
.angular-tree-component {
    width: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pull-right {
    float: right!important;
}
.display_inline_block[_ngcontent-c3] {
    display: inline-block;
}
.list[_ngcontent-c3] {
    margin-right: 0;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.toggle-children-wrapper-collapsed .toggle-children {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.toggle-children {
    
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 1px;
    background-repeat: no-repeat;
    background-position: center;
}
tree-viewport {
    height: 100%;
    overflow: auto;
    display: block;
}
.list-item[_ngcontent-c3] a[_ngcontent-c3] {
    cursor: pointer;
}
.btn-primary.btn-o {
    color: #56BCB7;
    background-color: transparent;
    border-color: #47b2ad;
}
.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.editable-buttons, .editable-wrap, .editable-wrap .editable-input {
    display: inline-block;
}

.form-control {
    box-shadow: none;
}
.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn, .input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}
.form-control {
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    background-color: #F5F7F8;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control, output {
    font-size: 13px;
    line-height: 1.42857;
    display: block;
    color: #37404A;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*====start 11/5/2018===*/

@media (min-width: 768px)
.col-sm-6 {
    width: 50%;
}


/*===end 11/5/2018===*/

/*==== start start 12/5/2018===*/

.editable-wrap .editable-controls, .editable-wrap .editable-controls>input, .editable-wrap .editable-controls>select, .editable-wrap .editable-controls>textarea, .editable-wrap .editable-error{
    margin-bottom: 0;
}
.editable-bsdate, .editable-bstime, .editable-text {
    white-space: nowrap;
}

.node-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*=== end 12/5/2018====*/


/*== start 14/5/2018 ===*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }

/*===  end 14/5/2018 ==*/


/*=== start 15/5/2018  =====*/
body {
    background-color: #D4DEE4;
}

.page {
    padding: 25px;
    background: white;
}

/*.navbar {
    min-height: 135px;
    border-radius: 0;
    margin-bottom: 0;
}*/

.page .page-header {
    color: #818778;
    margin: 0px 0px 20px;
}

.page .definition .glyphicon {
    font-size: 10px;
    margin-right: 10px;
}

.page .presentation {
    margin-bottom: 20px;
    border-bottom: 1px solid #EEE;
}

.definition {
    padding: 0 10px 10px 10px;
}

    .definition li {
        padding-bottom: 5px;
    }

        .definition li:last-child {
            padding-bottom: 0;
        }

.tree-container {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.browser-img {
    height: 40px;
    width: 40px;
}

.feature {
    padding-left: 3rem;
}

.code {
    font-size: 12px;
    font-family: Consolas,monaco,monospace;
}

.text-idented {
    text-indent: 25px;
}

h3 {
    margin-top: 1rem;
}

.code-container {
    margin: 10px 0px 10px;
}


.btn-show-right {
    position: absolute;
    bottom: 0px;
    right: 20px;
}

.btn-show-left {
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.info-container {
    padding: 0 10px 10px 10px;
}

.info-container h3 {
    margin-top: 0;
}
/*
    --------------- Animate the code ------------------
*/

.code-container pre {
    transition: .5s linear all;
    overflow: hidden;
}

    .code-container pre.ng-hide {
        height: 0;
    }

.code-example1 {
    height: 190px;
}

.code-example2 {
    height: 300px;
}

.code-example3 {
    height: 120px;
}

/*=== end 15/5/2018 ======*/

/*=== start 17/5/2018===*/
#dropzone-box, .categories-controls {
    margin-bottom: 20px;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.categories-controls a {
    font-size: 11px;
    margin-right: 4px;
}
a.cancel, a.link {
    cursor: pointer;
}
a {
    background-color: transparent;
    color: #56BCB7;
    text-decoration: none;
}

/*=== end 17/5/2018===*/

/*== START 28/6/2018 ==*/

.modal-content, .popover {
    background-clip: padding-box;
}
#left-menu h4 {
    padding: 6px 0 20px 5px;
    border-bottom: 2px solid #F5F7F8;
    margin: 0 5px 20px;
}
a.left-menu-collapse.expanded {
    left: 190px;
}
a.left-menu-collapse {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 0 6px 6px 0;
    width: 20px;
    height: 40px;
    color: #37404A;
    z-index: 2;
}
.fa, .fa-stack, a.left-menu-collapse {
    display: inline-block;
}
a {
    background-color: transparent;
    color: #56BCB7;
    text-decoration: none;
}
/**, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
user agent stylesheet
a:-webkit-any-link {
    /*color: -webkit-link;*/
    cursor: pointer;
    /*text-decoration: underline;*/
}

a:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
a:focus, a:hover {
    color: #388d89;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}

*, :after, :before {
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;*/
    box-sizing: border-box;
}


input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    
}
custom_check label.slide .box {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #D7D9DB;
    border-radius: 4px;
    background-color: #FFF;
}
/*== END 28/6/2018 ==*/